body,div,p,h1,h2,h3,h4,h5,h6,input,select,button,ul,ol,li,form,a,b,span,img,dl,dt,dd{margin:0; padding: 0;}
h1,h2,h3,h4,h5,h6,b{font-weight: normal}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
i{font-style: normal;}
input,textarea,button{border: none; outline: none; font-family: "微软雅黑", Arial;}
textarea{resize: none;}
button{cursor: pointer; background: none;}
select{-webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; font-family: "微软雅黑", Arial}
select::-ms-expand { display: none; }
body{font-family:"微软雅黑",Arial; font-size: 12px; position: relative;}
table,table tr,table td, table th{padding: 0; margin: 0; border-spacing: 0;}
.inner{width:1000px; margin: 0 auto;}
.wrapper{width:1200px; margin: 0 auto;}
.clearfix:after{content: ""; display: block;clear: both;*zoom:1;}
.lis-inline:after{content: ""; display: block;clear: both;*zoom:1;}
.lis-inline>li{float: left;}
.fl{float: left;}
.fr{float: right;}
.disInline{display: inline-block;}
.v-mid{vertical-align: middle;}
.v-top{vertical-align: top;}
.v-bot{vertical-align: bottom;}
.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.pRel{position: relative;}
.modal{position: absolute; left: 0;top: 0; background: rgba(0,0,0,0.5);width: 100%; height:100%; z-index: 5}
.pic-wrapper{display: inline-block;vertical-align: middle; text-align: center; font-size: 0;}
.pic-wrapper img{vertical-align: middle;}
.disNo{display: none;}
.b-Radius8{border-radius: 8px;}
.b-Radius5{border-radius: 5px;}
.border-e4{border:1px solid #e4e4e4;}
.cur-pointer{cursor: pointer}
.blackStyle{font-family: "黑体";}

/*宽度和高度*/
.H880{height:880px;}
.H800{height:800px;}
.H764{height:764px;}
.H742{height:742px;}
.H700{height:700px;}
.H668{height:668px;}
.H635{height:635px;}
.H572{height: 572px;}
.H570{height: 570px;}
.H515{height:515px;}
.H500{height:500px;}
.H480{height: 480px;}
.H478{height: 478px;}
.H470{height: 470px;}
.H433{height: 433px;}
.H431{height: 431px;}
.H420{height: 420px;}
.H418{height: 418px;}
.H410{height: 410px;}
.H407{height: 407px;}
.H394{height: 394px;}
.H378{height: 378px;}
.H359{height: 359px;}
.H352{height: 352px;}
.H348{height: 348px;}
.H328{height: 328px;}
.H318{height: 318px;}
.H315{height: 315px;}
.H298{height:298px;}
.H291{height:291px;}
.H280{height:280px;}
.H266{height:266px;}
.H252{height:252px;}
.H248{height:248px;}
.H238{height:238px;}
.H231{height:231px;}
.H200{height:200px;}
.H198{height:198px;}
.H159{height:159px;}
.H132{height:132px;}
.H128{height:128px;}
.H108{height:108px;}
.H100{height:100px;}
.H97{height:97px;}
.H96{height:96px;}
.H90{height:90px;}
.H80{height:80px;}
.H78{height:78px;}
.H70{height:70px;}
.H66{height:66px;}
.H60{height:60px;}
.H57{height:57px;}
.H56{height:56px;}
.H50{height:50px;}
.H48{height:48px;}
.H47{height:47px;}
.H44{height:44px;}
.H40{height:40px;}
.H39{height:39px;}
.H38{height:38px;}
.H36{height:36px;}
.H35{height:35px;}
.H32{height:32px;}
.H26{height:26px;}
.H7{height:7px;}

.W15{width: 15px;}
.W20{width:20px;}
.W26{width:26px;}
.W30{width:30px;}
.W40{width:40px;}
.W43{width:43px;}
.W46{width:46px;}
.W58{width:58px;}
.W60{width:60px;}
.W86{width:86px;}
.W88{width:88px;}
.W78{width:78px;}
.W90{width:90px;}
.W96{width:96px;}
.W98{width:98px;}
.W100{width:100px;}
.W108{width:108px;}
.W120{width:120px;}
.W124{width:124px;}
.W128{width:128px;}
.W130{width:130px;}
.W132{width:132px;}
.W137{width:137px;}
.W138{width:138px;}
.W140{width:140px;}
.W142{width:142px;}
.W145{width:145px;}
.W148{width:148px;}
.W150{width:150px;}
.W158{width:158px;}
.W160{width:160px;}
.W164{width:164px;}
.W166{width:166px;}
.W168{width:168px;}
.W170{width:170px;}
.W172{width:172px;}
.W174{width:174px;}
.W178{width:178px;}
.W182{width:182px;}
.W185{width:185px;}
.W188{width:188px;}
.W194{width:194px;}
.W196{width:196px;}
.W198{width:198px;}
.W200{width:200px;}
.W204{width:204px;}
.W206{width:206px;}
.W212{width:212px;}
.W216{width:216px;}
.W220{width:220px;}
.W226{width:226px;}
.W228{width:228px;}
.W232{width:232px;}
.W236{width:236px;}
.W240{width:240px;}
.W242{width:242px;}
.W246{width:246px;}
.W250{width:250px;}
.W254{width:254px;}
.W260{width:260px;}
.W266{width:266px;}
.W272{width:272px;}
.W278{width:278px;}
.W280{width:280px;}
.W284{width:284px;}
.W288{width:288px;}
.W290{width:290px;}
.W298{width:298px;}
.W300{width:300px;}
.W305{width:305px;}
.W312{width:312px;}
.W314{width:314px;}
.W315{width:315px;}
.W321{width:321px;}
.W328{width:328px;}
.W334{width:334px;}
.W336{width:336px;}
.W345{width:345px;}
.W346{width:346px;}
.W362{width:362px;}
.W367{width:367px;}
.W370{width:370px;}
.W378{width:378px;}
.W388{width:388px;}
.W390{width:390px;}
.W400{width:400px;}
.W430{width:430px;}
.W440{width:440px;}
.W446{width:446px;}
.W454{width:454px;}
.W480{width:480px;}
.W500{width:500px;}
.W510{width:510px;}
.W534{width:534px;}
.W539{width:539px;}
.W560{width:560px;}
.W620{width:620px;}
.W660{width:660px;}
.W670{width:670px;}
.W685{width:685px;}
.W720{width:720px;}
.W740{width:740px;}
.W766{width:766px;}
.W770{width:770px;}
.W792{width:792px;}
.W796{width:796px;}
.W800{width:800px;}
.W810{width:810px;}
.W828{width:828px;}
.W888{width:888px;}
.W898{width:898px;}
.W902{width:902px;}
.W915{width:915px;}
.W920{width:920px;}
.W958{width:958px;}
.W960{width:960px;}


/*行高*/
.LH-H363{line-height: 363px; height:363px;}
.LH-H284{line-height: 284px; height:284px;}
.LH-H142{line-height: 142px; height: 142px;}
.LH-H138{line-height: 138px; height: 138px;}
.LH-H121{line-height: 121px; height: 121px;}
.LH-H110{line-height: 110px; height: 110px;}
.LH-H106{line-height: 106px; height: 106px;}
.LH-H104{line-height: 104px; height: 104px;}
.LH-H102{line-height: 102px; height: 102px;}
.LH-H96{line-height: 96px; height: 96px;}
.LH-H92{line-height: 92px; height: 92px;}
.LH-H90{line-height: 90px; height: 90px;}
.LH-H88{line-height: 88px; height:88px;}
.LH-H86{line-height: 86px; height: 86px;}
.LH-H83{line-height: 83px; height:83px;}
.LH-H80{line-height: 80px; height: 80px;}
.LH-H78{line-height: 78px; height: 78px;}
.LH-H76{line-height: 76px; height:76px;}
.LH-H75{line-height: 75px; height:75px;}
.LH-H73{line-height:73px; height:73px;}
.LH-H70{line-height: 70px; height: 70px;}
.LH-H68{line-height: 68px; height: 68px;}
.LH-H66{line-height: 66px; height: 66px;}
.LH-H64{line-height: 64px; height: 64px;}
.LH-H63{line-height: 63px; height: 63px;}
.LH-H62{line-height: 62px; height: 62px;}
.LH-H60{line-height: 60px; height: 60px;}
.LH-H58{line-height: 58px; height: 58px;}
.LH-H56{line-height: 56px; height:56px;}
.LH-H54{line-height: 54px; height:54px;}
.LH-H52{line-height: 52px; height:52px;}
.LH-H50{line-height:50px; height: 50px;}
.LH-H48{line-height: 48px; height: 48px;}
.LH-H47{line-height: 47px; height: 47px;}
.LH-H45{line-height: 45px; height: 45px;}
.LH-H44{line-height: 44px; height: 44px;}
.LH-H42{line-height: 42px; height: 42px;}
.LH-H40{line-height: 40px; height: 40px;}
.LH-H38{line-height: 38px; height: 38px;}
.LH-H37{line-height: 37px; height: 37px;}
.LH-H36{line-height: 36px; height: 36px;}
.LH-H35{line-height: 35px; height: 35px;}
.LH-H34{line-height: 34px; height: 34px;}
.LH-H33{line-height: 33px; height: 33px;}
.LH-H32{line-height: 32px; height: 32px;}
.LH-H31{line-height: 31px; height: 31px;}
.LH-H30{line-height: 30px; height: 30px;}
.LH-H28{line-height: 28px; height: 28px;}
.LH-H27{line-height: 27px; height: 27px;}
.LH-H26{line-height: 26px; height: 26px;}
.LH-H25{line-height: 25px; height: 25px;}
.LH-H24{line-height: 24px; height: 24px;}
.LH-H23{line-height: 23px; height: 23px;}
.LH-H20{line-height: 20px; height: 20px;}
.LH-H19{line-height: 19px; height: 19px;}

.LH25{line-height: 25px;}
.LH26{line-height: 26px;}
.LH28{line-height: 28px;}
.LH30{line-height: 30px;}
.LH31{line-height: 31px;}
.LH32{line-height: 32px;}
.LH33{line-height: 33px;}
.LH34{line-height: 34px;}
.LH37{line-height: 37px;}
.LH38{line-height: 38px;}
.LH40{line-height: 40px;}
.LH42{line-height: 42px;}
.LH43{line-height: 43px;}
.LH46{line-height: 46px;}
.LH48{line-height: 48px;}
.LH50{line-height: 50px;}
.LH52{line-height: 52px;}
.LH55{line-height: 55px;}
.LH56{line-height: 56px;}
.LH57{line-height: 57px;}
.LH64{line-height: 64px;}
.LH66{line-height: 66px;}


/*边距和填充*/
.paTop2{padding-top:2px;}
.paTop4{padding-top:4px;}
.paTop5{padding-top:5px;}
.paTop6{padding-top:6px;}
.paTop8{padding-top: 8px;}
.paTop10{padding-top: 10px;}
.paTop14{padding-top: 14px;}
.paTop18{padding-top: 18px;}
.paTop20{padding-top: 20px;}
.paTop22{padding-top: 22px;}
.paTop23{padding-top: 23px;}
.paTop24{padding-top: 24px;}
.paTop25{padding-top: 25px;}
.paTop28{padding-top: 28px;}
.paTop30{padding-top: 30px;}
.paTop35{padding-top: 35px;}
.paTop40{padding-top: 40px;}
.paTop52{padding-top: 52px;}
.paTop54{padding-top: 54px;}
.paTop60{padding-top: 60px;}
.paTop64{padding-top: 64px;}
.paTop76{padding-top: 76px;}
.paTop100{padding-top: 100px;}

.paLeft7{padding-left: 7px;}
.paLeft10{padding-left: 10px;}
.paLeft12{padding-left: 12px;}
.paLeft13{padding-left: 13px;}
.paLeft16{padding-left: 16px;}
.paLeft20{padding-left: 20px;}
.paLeft28{padding-left: 28px;}
.paLeft29{padding-left: 29px;}
.paLeft30{padding-left: 30px;}
.paLeft32{padding-left: 32px;}
.paLeft34{padding-left: 34px;}
.paLeft35{padding-left: 35px;}
.paLeft38{padding-left: 38px;}
.paLeft40{padding-left: 40px;}
.paLeft43{padding-left: 43px;}
.paLeft45{padding-left: 45px;}
.paLeft50{padding-left: 50px;}
.paLeft52{padding-left: 52px;}
.paLeft60{padding-left: 60px;}
.paLeft62{padding-left: 62px;}
.paLeft68{padding-left: 68px;}
.paLeft70{padding-left: 70px;}
.paLeft74{padding-left: 74px;}
.paLeft80{padding-left: 80px;}
.paLeft130{padding-left: 130px;}

.paRight14{padding-right: 14px;}
.paRight17{padding-right: 17px;}
.paRight30{padding-right: 30px;}
.paRight32{padding-right: 32px;}
.paRight40{padding-right: 40px;}
.paRight73{padding-right: 73px;}
.paRight80{padding-right: 80px;}

.paBot2{padding-bottom: 2px;}
.paBot4{padding-bottom: 4px;}
.paBot5{padding-bottom: 5px;}
.paBot14{padding-bottom: 14px;}
.paBot33{padding-bottom: 33px;}
.paBot53{padding-bottom: 53px;}
.paBot57{padding-bottom: 57px;}
.paBot60{padding-bottom: 60px;}
.paBot90{padding-bottom: 90px;}


.maR5{margin-right: 5px;}
.maR10{margin-right: 10px;}
.maR12{margin-right: 12px;}
.maR15{margin-right: 15px;}
.maR17{margin-right: 17px;}
.maR20{margin-right: 20px;}
.maR21{margin-right: 21px;}
.maR24{margin-right: 24px;}
.maR28{margin-right: 28px;}
.maR30{margin-right: 30px;}
.maR33{margin-right:33px;}
.maR40{margin-right:40px;}
.maR56{margin-right:56px;}
.maR80{margin-right:80px;}
.maR100{margin-right: 100px;}
.maR128{margin-right: 128px;}
.maR179{margin-right: 179px;}

.maL4{margin-left: 4px;}
.maL6{margin-left: 6px;}
.maL10{margin-left: 10px;}
.maL12{margin-left:12px;}
.maL13{margin-left: 13px;}
.maL14{margin-left: 14px;}
.maL15{margin-left: 15px;}
.maL16{margin-left: 16px;}
.maL18{margin-left: 18px;}
.maL19{margin-left: 19px;}
.maL20{margin-left: 20px;}
.maL22{margin-left: 22px;}
.maL25{margin-left: 25px;}
.maL26{margin-left: 26px;}
.maL28{margin-left: 28px;}
.maL29{margin-left: 29px;}
.maL30{margin-left:30px;}
.maL33{margin-left:33px;}
.maL35{margin-left:35px;}
.maL38{margin-left:38px;}
.maL40{margin-left:40px;}
.maL50{margin-left: 50px;}
.maL52{margin-left: 52px;}
.maL54{margin-left:54px;}
.maL60{margin-left: 60px;}
.maL70{margin-left: 70px;}
.maL80{margin-left: 80px;}
.maL90{margin-left:90px;}
.maL108{margin-left: 108px;}
.maL140{margin-left: 140px;}
.maL160{margin-left:160px;}
.maL195{margin-left:195px;}
.maL243{margin-left: 243px;}
.maL278{margin-left: 278px;}

.maT148{margin-top: 148px;}
.maT130{margin-top:130px;}
.maT120{margin-top:120px;}
.maT110{margin-top:110px;}
.maT106{margin-top:106px;}
.maT100{margin-top:100px;}
.maT87{margin-top: 87px;}
.maT80{margin-top: 80px;}
.maT70{margin-top: 70px;}
.maT69{margin-top: 69px;}
.maT65{margin-top: 65px;}
.maT60{margin-top:60px;}
.maT55{margin-top:55px;}
.maT50{margin-top: 50px;}
.maT48{margin-top: 48px;}
.maT45{margin-top: 45px;}
.maT42{margin-top:42px;}
.maT40{margin-top: 40px;}
.maT39{margin-top: 39px;}
.maT38{margin-top: 38px;}
.maT37{margin-top:37px;}
.maT35{margin-top: 35px;}
.maT34{margin-top:34px;}
.maT32{margin-top:32px;}
.maT30{margin-top:30px;}
.maT28{margin-top:28px;}
.maT26{margin-top:26px;}
.maT25{margin-top:25px;}
.maT24{margin-top:24px;}
.maT22{margin-top:22px;}
.maT20{margin-top:20px;}
.maT17{margin-top: 17px;}
.maT16{margin-top:16px;}
.maT15{margin-top:15px;}
.maT14{margin-top:14px;}
.maT13{margin-top:13px;}
.maT11{margin-top:11px;}
.maT10{margin-top:10px;}
.maT9{margin-top: 9px;}
.maT8{margin-top: 8px;}
.maT6{margin-top:6px;}
.maT5{margin-top:5px;}
.maT4{margin-top: 4px;}
.maT3{margin-top:3px;}
.maT2{margin-top:2px;}

.maB2{margin-bottom: 2px;}
.maB3{margin-bottom: 3px;}
.maB5{margin-bottom: 5px;}
.maB7{margin-bottom: 7px;}
.maB9{margin-bottom: 9px;}
.maB12{margin-bottom: 12px;}
.maB14{margin-bottom: 14px;}
.maB16{margin-bottom: 16px;}
.maB17{margin-bottom: 17px;}
.maB18{margin-bottom: 18px;}
.maB19{margin-bottom: 19px;}
.maB20{margin-bottom: 20px;}
.maB22{margin-bottom: 22px;}
.maB38{margin-bottom: 38px;}
.maB40{margin-bottom:40px;}
.maB42{margin-bottom:42px;}
.maB60{margin-bottom: 60px;}
.maB108{margin-bottom: 108px;}
.ma20{margin:20px;}
.maCenter{margin:0 auto;}

/*字体颜色*/
.color-white{color:white}
.color-black{color:black}
.color-yellow{color:#f7b632}
.color-red{color:#ff4633;}
.color-red2{color:#f7594a;}
.color-green{color:#6aae66;}
.color-green30{color:#300;}
.color-blue{color:#46afe8;}
.color-blueL{color:#48c1e4;}
.color-gray6{color:#666;}
.color-gray3{color:#333;}
.color-grayH{color:#8a8a8a;}
.color-gray79{color:#797979;}
.color-gray9{color:#999;}
.color-gray-c{color:#ccc;}
.color-orange{color:#f39330;}
.color-orange2{color:#ec7d0e;}
.color-orange-fc{color:#fc4f05;}
.color-orange-f7{color:#f7a14a;}

/*字体大小*/
.fSize40{font-size: 40px;}
.fSize36{font-size: 36px;}
.fSize32{font-size: 32px;}
.fSize30{font-size: 30px;}
.fSize26{font-size: 26px;}
.fSize24{font-size: 24px;}
.fSize22{font-size: 22px;}
.fSize20{font-size: 20px;}
.fSize18{font-size: 18px;}
.fSize16{font-size: 16px;}
.fSize15{font-size: 15px;}
.fSize14{font-size: 14px;}
.fSize12{font-size: 12px;}
.fSize0{font-size:0;}
.f-bold{font-weight: bold;}

/*背景*/
.bg-white{background: #fff;}
.bg-white3{background: rgba(255,255,255,0.3);}
.bg-white-ec{background: #ecece4;}
.bg-black7{background: rgba(0,0,0,0.7)}
.bg-orange{background: #f39330;}
.bg-orange2{background: #f7a14a;}
.bg-orange3{background: #e69545;}
.bg-orange4{background: #ffa800}
.bg-orange-f7{background: #f7d58f}
.bg-gray3{background: #333;}
.bg-gray3f{background: #3f3f3f;}
.bg-grayC{background: #ccc;}
.bg-gray-f7{background: #f7f7f7;}
.bg-gray-f2{background: #f2f2f2;}
.bg-gray-e0{background: #e0ded7;}
.bg-gray-e6{background: #e6e6e5;}
.bg-gray-ef{background: #efefef;}
.bg-purpleD{background: #312d3f;}
.bg-purpleL{background: #685c9c;}
.bg-purpleD2{background: #1f1b2e;}
.bg-blueL{background: #48c1e4;}
.bg-greenL{background: #bfe3f5;}
.bg-pinkL{background: #f2f0f0;}
.bg-blueM{background: #a7d7ef;}
.bg-dunkel{background:#3f3f3f;}
.bg-brown{background:#5c3333;}
