.login  span{margin-left: 15px;}
.top-acc{margin-left: 47px; margin-right: 15px;}
.top-acc img{margin-right: 6px;}
.detail-header img{vertical-align: middle;}

.brief-info .pic-wrapper{margin-right: 17px;}
.banner{border-top:1px solid #d5d5d5;}
.banner-btns button{width: 108px; height: 46px; font-size: 14px; }
.btn-collec{ border: 2px solid #ffa800; color:#ffa800; background: url("../images/icon-star.png") no-repeat 10px center; text-align: right;}
.btn-collec.collected{background: url("../images/icon-star-white.png") no-repeat 10px center #48c1e4;color: white; border-color: #48c1e4}
.btn-collec span{letter-spacing: 0.2em;}
.share i.pic-wrapper{margin-left: 14px; vertical-align: middle; }
.share i.pic-wrapper img{height:22px;}

.descript h3{padding-left: 25px; color: white; line-height: 40px; height:40px; font-size: 18px; border-bottom: 1px solid #dcdcdc;}
.descript h3:first-child{background: url("../images/head-bg.png") no-repeat 0 0;}
.descript h3:nth-of-type(2){background: url("../images/head-bg2.png") no-repeat 0 0;}
.descript h3:nth-of-type(3){background: url("../images/head-bg3.png") no-repeat 0 0;}
.descript ul{margin:6px 0 18px; line-height: 46px; }
.descript.pos-descript ul{line-height: 40px;}
.descript li{font-size: 14px; padding-left: 22px; width:333px;}
.descript label{font-size: 14px; color: #989898; margin-right: 15px;}
.descript.pos-descript label{font-size: 14px;}
.descript.pos-descript li{padding-left: 0;}
.descript.pos-descript .pos-welfares{line-height: 30px; margin: 0;}
.descript .pos-welfares li{width: auto; padding: 0;}
.contact-btn{background: #f6f6f6; border: 2px solid #e8e8e8; width: 148px; height: 38px; font-size: 12px; margin-left: 60px;}

.date-table{border-collapse: collapse;}
.date-table th{border: 2px solid #dcdcdc; line-height: 52px; height:52px;width: 86px;margin: 0}
.date-table td{border: 2px solid #dcdcdc; line-height: 52px; height:52px; width: 86px;margin: 0}
.date-aval{background:url("../images/icon-checked.png") no-repeat center center;}
.uni-logo img{width: 100%;}
.uni-porto{ border-left:1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4;}

.basic-info li{line-height: 40px; margin-bottom: 6px; padding-left: 18px;}
.basic-info.pos-basic li{margin: 0;}
.basic-info.inc-basic li{margin: 0;}
.basic-info i{margin-right:15px;}

.ads{border:1px solid #c9c9c9;}
.ad-pic{overflow: hidden; margin-bottom: 30px; margin-left: 19px;}

.result-tabs{border-top:2px solid #bfbfbf; border-bottom: 4px solid #ff8a00; width: 806px;}
.result-tabs li{width:199px; border-right: 2px solid #bfbfbf; position: relative; cursor: pointer;}
.result-tabs li:first-child{border-left: 2px solid #bfbfbf;}
.result-tabs li.on{background: #ff8a00; color: white; border-color:#ff8a00 }
.result-tabs .msg-info{width:30px; line-height:24px; height:30px; font-size: 14px; position: absolute; display: inline-block;color:white;
background: url("../images/icon-total.png") no-repeat 0 0; left: 84%; top:-15px;}

.result-table{border-collapse: collapse;}
.result-table th{border:1px solid #919191; font-weight: normal;}
.result-table td{border:1px solid #919191; color: #5d5d5d; text-align: center;}
.result-table .viewed{color:#ff8a00;}
.result-table .interview{color:#5cc3ff;}
.result-table .coop{color:#5cc3ff;}
.tab-cont label{color:#606060}
.tab-cont {height: 750px; display: none; width: 784px;border:1px solid #ff8a00; padding: 10px; margin-bottom: 10px;}
.cont-comment li{height:112px; border-bottom: 1px dashed #e5e5e5; position: relative; }
.porto img{margin-top:10px; border-radius:50%; width: 60px;}
.time{line-height: 25px; height: 25px; font-size: 12px; color: #868686; position: absolute;right: 12px; bottom:0;}

.pageBot .active{ background: #333;}
.pageBot a, .pageBot span{display:inline-block; width:30px;margin-left: 10px; background: #999; color: #fff;line-height: 30px; height: 30px; text-align: center;}
.pageBot a.prev,.pageBot a.next{width:60px;}
.pageBot a.prev:hover{background: #333;}
.pageBot a.next:hover{background: #333;}

/*底部样式，与首页基本*/
.bot-nav{display: inline-block;}
.bot-nav a{color:#797979;}
.bot-nav a:hover{color:#f00; cursor: pointer}
.bot .barcode-text{display: inline-block; vertical-align: middle;}
.bot-account{border-top:2px solid #9d9d9d;}

/*申请成功对话框样式*/
/*.modal{display: none;}
.dlg-success{position: absolute; top:580px; left: 50%; transform: translateX(-50%); background: #fcb62e; display: none;}
.dlg-login{position: absolute; top:580px; left: 50%; transform: translateX(-50%); background: #fcb62e; display: none;}
.confirm{background: url("../images/icon-sure.png") no-repeat 86% center #fcb62e;}
.stamp{position: absolute; left: -48px; top:-42px;}
.login-form input{width: 436px; height:66px; padding-left: 30px; font-size: 24px; border: 2px solid #e5e5e5; color:#a1a1a1;
    background: #f8f8f8; margin-top: 30px; margin-left: 31px;}
.dlg-login .regis{border-left: 1px dashed #eee;}
.fast-login i{margin-right:44px;}
a.login-link{display: block; color:#fcb62e;}*/

/*申请成功对话框样式*/
.dlg-success{position: absolute; top:580px; left: 50%; transform: translateX(-50%); background: #fcb62e; }
.dlg-login{position: absolute; top:580px; left: 50%; transform: translateX(-50%); background: #fcb62e; }
.confirm{background: url("../images/icon-sure.png") no-repeat 86% center #fcb62e;}
.stamp{position: absolute; left: -35px; top:-29px;}
.login-form input{width: 363px; height:55px; padding-left: 25px; font-size: 16px; border: 2px solid #e5e5e5; color:#a1a1a1;
background: #f8f8f8; margin-top: 30px; margin-left: 25px;}
.dlg-login .regis{border-left: 1px dashed #eee;}
.fast-login i{margin-right:35px;}
a.login-link{display: block; color:#fcb62e;}
.succ-msg{background: #f7eec9;}
/*账户头部样式*/
.account .pic-wrapper{margin-left:9px;}
.account li{cursor: pointer; position: relative;}
.account dl{position: absolute; left: 0; top:35px; background: #313131; width: 100%; display: none;}
.account dl dd{padding-left: 14px;}
.account dl dd:hover{background: #494848;}
