.login  span{margin-left: 15px;}
.top-acc{margin-left: 47px; margin-right: 15px;}
.top-acc img{margin-right: 6px;}
.search input{width:526px; border: 2px solid #ffa800; background: url(../images/icon-search.png) no-repeat 12px center;}
.search button{letter-spacing: 16px;}

.queryform{border:1px solid #d2d2d2; position: relative;}
.queryform label{float: left; width:120px; text-align:right;font-size: 18px; line-height: 36px;}
.queryform .label-val{float:left; margin-left: 8px; font-size: 18px; height: 34px;}
.queryform .label-val select{height:34px; line-height: 34px;width: 158px; border-color:#d2d2d2;margin-right: 19px; padding-left: 20px; font-size: 18px; background: url("../images/icon-select-1.png") no-repeat 135px center;
color:#000; }
.sel-input{ border:1px solid #d2d2d2; background: url("../images/icon-select-1.png") no-repeat 155px center #fff; }
.sel-lis dd:hover{background: #f5f5f5; color:#fcc067;}
.selectee input{font-size: 14px; width: 158px; padding-left: 20px;line-height: 34px; height: 34px; margin-right: 19px;
    background: url("../images/icon-select-1.png") no-repeat 154px center #fff; }
.selectee ul{background: #fff;}
.selectee ul li{font-size: 14px; width: 158px; padding-left: 20px;line-height: 34px; height: 34px;}
.selectee ul li.over{background: #f5f5f5; color:#ffa800;}
.queryform .label-val li{position: relative;}
.sel-lis{cursor: pointer;position: absolute; left: 0; top:35px; border: 1px solid #d2d2d2; background: #fff;z-index: 10; height: 138px; overflow-y: auto; padding: 5px 0;}
.sel-lis dd{float: left; width: 178px; height:31px; line-height: 31px; text-align: center;}
.queryform .address li{width:71px;margin-right: 14px; line-height: 34px; height:34px;text-align: center; position: relative;}
.queryform .address li:hover{color:#ffa800; cursor: pointer;}
.queryform .address li.on{ border:1px solid #d2d2d2; border-bottom:1px solid #fff; background: #fff;}
.queryform .address{margin-bottom: 54px;}
.queryform .address li span{ width: 100%; height: 2px; background: white; position: absolute; left: 0 ;z-index: 4; bottom:-1px; display: none;}

.queryform .district{width: 891px; border: 1px solid #d2d2d2;position: absolute; left:128px; top: 45px;}
.queryform .district li{width: 60px; font-size: 14px; cursor: pointer; margin:6px 6px;height: 20px; line-height: 20px;}
.queryform .district li:hover{color:#ffa800; }
.queryform .district li.on{background: #ffa800; color:white;}
.queryform .district li.dis-label{width: 66px; font-size: 16px;padding-left: 5px;}
.queryform .district li.dis-label:hover{color:#797979;}
.main-result .title{border-bottom: 1px solid #f7b632; }
.main-result .results li{width:969px; height:128px; margin-top: 19px; background: #fff; border: 1px solid #ccc;}
.main-result .results .logo-pic{ background: #2ea8e6; border: 1px solid #959595;}
.main-result .results .logo-pic img{width: 100%; }
.main-result .results li p{font-size: 14px; line-height: 28px;height:28px;}
.main-result .results li p i{margin:0 8px;}
.main-result .results .institute{border-left:1px dashed #cecece;}
.main-result .results li button{width: 150px; height: 50px; background: #ffa800; }
.main-result .results li button:hover{background: #48c1e4;}
.ads{border:1px solid #c9c9c9;}
.main-result .ad-pic{overflow: hidden; margin-bottom: 30px; margin-left: 19px;}

.pageBot .active{ background: #333;}
.pageBot a, .pageBot span{display:inline-block; width:30px;margin-left: 10px; background: #999; color: #fff;line-height: 30px; height: 30px; text-align: center;}
.pageBot a.prev,.pageBot a.next{width:60px;}
.pageBot a.prev:hover{background: #333;}
.pageBot a.next:hover{background: #333;}


.bot-nav li:hover{color:#f00; cursor: pointer}
.bot-nav{display: inline-block;}
.bot .barcode-text{display: inline-block; vertical-align: middle;}

.sel-lis{display: none;}
.company-name{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.label-val .job-pos{height:252px;}
.label-val .job-pos dd{font-size: 14px;}
.sel-lis .selectee{vertical-align: middle}
.sel-lis .selectee input{background: url("../images/icon-select-1.png") no-repeat 154px center #f1f1f1; }
.sel-lis .selectee ul{background: #f1f1f1; height: 170px;}
.sel-lis .selectee ul li.over{background: #f9c560; color: white;}

.modal{display: none;}
.dlg-success{position: absolute; top:580px; left: 50%; transform: translateX(-50%); background: #fcb62e; display: none;}
.dlg-login{position: absolute; top:580px; left: 50%; transform: translateX(-50%); background: #fcb62e; display: none;}
.confirm{background: url("../images/icon-sure.png") no-repeat 86% center #fcb62e;}
.stamp{position: absolute; left: -48px; top:-42px;}
.login-form input{width: 436px; height:66px; padding-left: 30px; font-size: 24px; border: 2px solid #e5e5e5; color:#a1a1a1;
background: #f8f8f8; margin-top: 30px; margin-left: 31px;}
.dlg-login .regis{border-left: 1px dashed #eee;}
.fast-login i{margin-right:44px;}
a.login-link{display: block; color:#fcb62e;}

.account .pic-wrapper{margin-left:9px;}
.account li{cursor: pointer; position: relative;}
.account dl{position: absolute; left: 0; top:35px; background: #313131; width: 100%; display: none;}
.account dl dd{padding-left: 14px;}
.account dl dd:hover{background: #494848;}