.top .navs a{display: inline-block; width: 50px; height: 50px; line-height: 50px; text-align: center;margin-left: 20px;}
.top .navs a img{vertical-align: middle;}
.msg-info{display: inline-block; width: 24px; height: 24px; background: #ef3e3e; line-height: 24px; color: white; position: absolute; right: 1px; top: 3px; border-radius: 50%;}

 .selectee{position: relative; display: inline-block;}
.selectee input{background: url("../images/icon-select.png") no-repeat right 10px; border:1px solid #ccc; padding-left: 10px; width: 100%;}
.selectee ul{position: absolute; left: 0; top:36px;border: 1px solid #d2d2d2;
    font-size: 12px; height: 149px; overflow: auto;background: #fff; display: none; z-index: 10;}
.selectee ul li{line-height: 24px; height: 24px; cursor: pointer;padding-left: 10px;}
.selectee ul li.over{background: #9bcce5; color:#fff;}
.selectee ul li.selected{background: #2ea8e6; color:#fff;}

.hr-navs li{width: 100px; margin-right: 20px; text-align: center; color: #666;height: 46px; line-height: 46px;}
.hr-navs li.on{border-bottom: 4px solid #f7b632; color: #333;}

.sider{border: 1px solid #ccc; color: #666; background: white; text-align: right;}
.sider dt{line-height: 47px; font-size: 18px;padding-right: 45px; cursor: pointer; position: relative;}
.sider .hint{width: 24px;height: 24px; border-radius: 3px; background: #f7b632; color: white; line-height: 24px; font-size: 12px;position: absolute; right: 12px; top: 12px;
text-align: center;}
.sider dt:hover{background-color: #f8f8f8; color: #333;}
.sider dt.on{background-color: #f8f8f8; color: #333;}
.sider dd{line-height: 38px; font-size: 16px;padding-right: 45px; cursor: pointer;}
.sider dd.on{ color: #ff9900;}

.state{line-height: 38px;}
.state-right{line-height: 38px;margin-top: 9px;}
.state input{width:98px; margin-left: 29px; height: 38px; line-height: 38px;}
.state-right input{width:98px;margin-right: 29px; height: 38px; line-height: 38px;}
.ListBox .hd{border: 1px solid #ccc;}
.info-items{height:624px;}
.info-items>li{height: 144px; margin-top: 10px; border: 1px solid #ccc; background: white;}
.depart{margin:0 12px; }
.item-block-left p{line-height: 36px; font-size: 14px; color: #666;}
.item-block-right{padding: 18px; background: url("../images/dashline.png") no-repeat left 26px; padding-left: 54px;}
.item-block-right p{color: #999;}
.info-items .item-date{font-size: 12px; color: #666;}
.item-block-right button{background: none; font-size: 16px; margin-top: 18px; margin-right: 50px;}

.pageBot li{margin-left: 10px; background: #333; color: #fff;line-height: 30px; height: 30px; text-align: center;}
.pageBot li.side-page{width:60px;}
.pageBot li.page-index{width:30px;}
/*底部样式*/
.bot-nav{display: inline-block;}
.bot-nav a{color:#797979;}
.bot-nav a:hover{color:#f00; cursor: pointer}
.bot .barcode-text{display: inline-block; vertical-align: middle;}
.bot-account{border-top:2px solid #9d9d9d;}
