.top .navs a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
}

.top .navs a .icon-home {
    width: 30px;
    height: 33px;
    background: url("../images/sprite.png") no-repeat -7px -200px;
}

.top .navs a .icon-account {
    width: 28px;
    height: 33px;
    background: url("../images/sprite.png") no-repeat -360px -222px;
}

.top .navs a .icon-msg {
    width: 31px;
    height: 31px;
    background: url("../images/sprite.png") no-repeat -6px -262px;
}

.msg-info {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ef3e3e;
    line-height: 24px;
    color: white;
    position: absolute;
    right: 1px;
    top: 3px;
    border-radius: 50%;
}

.info-items a:hover {
    text-decoration: underline;
}

.hr-navs li {
    width: 100px;
    margin-right: 20px;
    text-align: center;
    color: #666;
    height: 46px;
    line-height: 46px;
    cursor: pointer;
}

.hr-navs li.on {
    border-bottom: 4px solid #f7b632;
    color: #333;
}

.pub-pos {
    float: right;
    line-height: 24px;
    margin-right: 30px;
    margin-top: 14px;
    background: none;
    font-size: 16px;
    color: #ff9900;
}

.sider {
    border: 1px solid #ccc;
    color: #666;
    background: white;
    text-align: right;
}

.sider dt {
    line-height: 47px;
    font-size: 18px;
    padding-right: 45px;
    cursor: pointer;
    position: relative;
}

.sider .hint {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background: #f7b632;
    color: white;
    line-height: 24px;
    font-size: 12px;
    position: absolute;
    right: 12px;
    top: 12px;
    text-align: center;
}

.sider dt:hover {
    background-color: #f8f8f8;
    color: #333;
}

.sider dt.on {
    background-color: #f8f8f8;
    color: #333;
}

.sider dd {
    line-height: 38px;
    font-size: 16px;
    padding-right: 45px;
    cursor: pointer;
}

.sider dd.on {
    color: #ff9900;
}

.state {
    line-height: 38px;
}

.state-right {
    line-height: 38px;
    margin-top: 9px;
}

.state input {
    width: 98px;
    margin-left: 29px;
    height: 38px;
    line-height: 38px;
}

.state-right input {
    width: 98px;
    margin-right: 29px;
    height: 38px;
    line-height: 38px;
}

.ListBox .hd {
    border: 1px solid #ccc;
}

.info-items {
    height: 624px;
}

.info-items>li {
    height: 144px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background: white;
}

.depart {
    margin: 0 8px;
}

.item-block-left p {
    line-height: 36px;
    font-size: 14px;
    color: #666;
}

.item-block-right {
    padding: 18px;
    background: url("../images/dashline.png") no-repeat left 26px;
    padding-left: 54px;
}

.item-block-right p {
    color: #999;
}

.posCont .item-block-left p {
    line-height: 27px;
}

.posCont .item-block-right {
    padding: 18px;
    background: url("../images/dashline.png") no-repeat left 20px;
}

.posCont .item-block-right p {
    color: #666;
}

.info-items .item-date {
    font-size: 12px;
    color: #666;
}

.item-block-right button {
    background: none;
    font-size: 16px;
    margin-top: 18px;
    margin-right: 50px;
}

.co-state {
    line-height: 128px;
    right: 0;
    position: absolute;
    display: inline-block;
    width: 100px;
}

.operations {
    position: absolute;
    top: 10px;
    right: 20px;
}

.operations p {
    line-height: 50px;
}

.operations span {
    margin-left: 24px;
    cursor: pointer;
}


/*左右信息超出部分出现省略号*/

.item-block-left p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-block-right p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pos-sider {
    border: 1px solid #ccc;
    background: white;
    padding: 10px 0;
}

.pos-sider li {
    line-height: 38px;
    padding-left: 34px;
    cursor: pointer;
}

.pos-sider li.on {
    background-color: #f8f8f8;
    color: #ff9900;
}

.pageBot li {
    margin-left: 10px;
    background: #333;
    color: #fff;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.pageBot li.side-page {
    width: 60px;
}

.pageBot li.page-index {
    width: 30px;
}


/*底部样式*/

.bot-nav {
    display: inline-block;
}

.bot-nav a {
    color: #797979;
}

.bot-nav a:hover {
    color: #f00;
    cursor: pointer
}

.bot .barcode-text {
    display: inline-block;
    vertical-align: middle;
}

.bot-account {
    border-top: 2px solid #9d9d9d;
}

.bot-infos .pic-icon {
    margin-right: 15px;
}

.bot-infos .icon-phone {
    width: 20px;
    height: 14px;
    background: url("../images/sprite.png") no-repeat -27px -3px;
}

.bot-infos .icon-address {
    width: 20px;
    height: 20px;
    background: url("../images/sprite.png") no-repeat -89px -102px;
}

.bot-infos .icon-email {
    width: 20px;
    height: 14px;
    background: url("../images/sprite.png") no-repeat -117px -34px;
}


/*简历样式*/

.preView {
    position: absolute;
}

.porto-img {
    border: 2px dashed #999;
    background: url("../images/cross.png") no-repeat center center;
}

.porto-img img {
    width: 100%;
}

.title .icon-basic {
    width: 16px;
    height: 16px;
    background: url("../images/sprite.png") no-repeat -59px -30px;
}

.title .icon-career {
    width: 18px;
    height: 18px;
    background: url("../images/sprite.png") no-repeat -88px -31px;
}

.title .icon-work {
    width: 18px;
    height: 16px;
    background: url("../images/sprite.png") no-repeat -58px -3px;
}

.title .icon-college {
    width: 18px;
    height: 16px;
    background: url("../images/sprite.png") no-repeat 0 -77px;
}

.title .icon-language {
    width: 18px;
    height: 18px;
    background: url("../images/sprite.png") no-repeat -89px -77px;
}

.title .icon-project {
    width: 15px;
    height: 15px;
    background: url("../images/sprite.png") no-repeat -120px -56px;
}

.title .icon-comment {
    width: 16px;
    height: 16px;
    background: url("../images/sprite.png") no-repeat -31px -77px;
}

.title .icon-attach {
    width: 16px;
    height: 16px;
    background: url("../images/sprite.png") no-repeat -30px -31px;
}

.title .icon-skills {
    width: 18px;
    height: 18px;
    background: url("../images/sprite.png") no-repeat -34px -175px;
}

#app-content .btn-edit .icon-edit {
    width: 17px;
    height: 18px;
    background: url("../images/sprite.png") no-repeat -119px -3px;
}

.preView .itemBox .title {
    margin-bottom: 6px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}

.preView .itemBox .item-row {
    padding-left: 40px;
    height: 26px;
    line-height: 26px;
}

.itemBox .title i.pic-wrapper {
    display: inline-block;
    width: 30px;
    height: 28px;
    line-height: 25px;
    text-align: center;
    font-size: 0;
    margin-right: 10px;
}

.preView .itemBox .works-title .pane-tabs {
    display: inline-block;
    vertical-align: middle;
}

.preView .itemBox .works-title .pane-tabs li {
    width: 48px;
    height: 16px;
    line-height: 16px;
    text-align: right;
    padding-right: 10px;
    background: url("../images/bg-work.png") no-repeat right center;
    color: #fff;
    font-size: 12px;
    cursor: pointer
}

.preView .itemBox .item-row label span {
    margin-left: 10px;
}

.preView .baseInfo .infoTxt p {
    float: left;
    width: 50%;
}

.preView .alleInfo {
    height: 370px;
    overflow: auto;
}

.preView .alleInfo table .la-l {
    width: 92px;
    text-align: right;
    padding-right: 10px;
}

.preView .alleInfo table .val-l {
    width: 250px;
}

.preView .alleInfo table .la-r {
    width: 56px;
    text-align: right;
    padding-right: 10px;
}

.preView .alleInfo .itemBox {
    padding-bottom: 17px;
    padding-top: 30px;
    border-bottom: 1px dotted #ccc;
}

.preView .alleInfo .item-basic {
    padding-top: 40px;
}

.headmark {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 100%;
    width: 4px;
    background-color: #f7a14a;
}

.preView .infopane p {
    line-height: 27px;
    height: 27px;
    padding-left: 40px;
}