body {
    transition: all 0.5s;
}

.mod-page {
    position: relative;
    min-height: 600px;
}

.header {
    padding-top: 2.7%;
    position: relative;
}

.front-page {
    background: url("../images/bg-2.jpg") no-repeat center 0;
    background-size: cover;
}

#sel-add .pic-icon {
    background: url("../images/sprite.png") no-repeat -143px -186px;
    width: 11px;
    height: 8px;
}

.login a {
    width: 90px;
    height: 38px;
    border: 2px solid #f7b632;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    margin-left: 15px;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    color: #f7b632
}

.login a:hover {
    background: #f7b632;
    color: white;
}

.subtitle {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.search {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 30px;
    width: 284px;
}

.search-nav {
    color: white;
    position: absolute;
    font-size: 14px;
    line-height: 25px;
    top: 48px;
    background: rgba(0, 0, 0, 0.5);
    left: 278px;
    width: 314px;
    opacity: 0;
    transition: all 0.5s;
}

.search-nav li {
    padding: 5px;
    margin: 0 19px;
    cursor: pointer;
    border-radius: 7px;
}

.search-nav li.on {
    color: orange;
}

.search-btn {
    width: 130px;
    height: 48px;
    background: #ffa800;
    font-size: 20px;
}

.account:hover .account-options {
    opacity: 1;
}

.account-name {
    color: #f7b632;
    font-size: 16px;
}

.account-name-icon {
    display: inline-block;
    transform: rotate(90deg);
    font-family: consolas;
    margin-left: 10px;
}

.account-options {
    width: 125px;
    line-height: 36px;
    position: absolute;
    top: 33px;
    background: rgba(42, 50, 62, 0.7);
    color: white;
    font-size: 16px;
    opacity: 0;
    transition: all 0.5s;
}

.account-options li {
    cursor: pointer;
    padding-left: 13px;
}

.account-options .pic-icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.account-options .icon-center {
    background: url("../images/icon-center.png") no-repeat center center;
}

.account-options .icon-collect {
    background: url("../images/icon-collect.png") no-repeat center center;
}

.account-options .icon-job {
    background: url("../images/icon-job.png") no-repeat center center;
}

.account-options .icon-publish {
    background: url("../images/icon-publish.png") no-repeat center center;
}

.account-options .icon-logout {
    background: url("../images/icon-logout.png") no-repeat center center;
}

.account-options li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.banner-address {
    position: absolute;
    left: 88px;
    bottom: -60px;
    width: 690px;
    background: rgba(0, 0, 0, 0.3);
}

.banner-address h2 {
    position: relative;
}

.banner-address input {
    width: 90px;
    height: 28px;
    border: 1px solid #fff;
    margin-left: 11px;
    color: #fff;
    background: url("../images/trigle02.png") no-repeat 90px center transparent;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.banner-address .selectee ul {
    height: 180px;
    width: 110px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    position: absolute;
    left: 34px;
    top: 46px;
    border-top: none;
    font-size: 14px;
    display: none;
}

.banner-address .selectee ul li {
    line-height: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.banner-address .selectee ul li:hover {
    background: #f7b632;
}

.hotcity-list li {
    margin: 0 2px;
    cursor: pointer;
}

.hotcity-list li:hover {
    color: #f7b632
}

.module-entry li {
    width: 138px;
    height: 138px;
    border-radius: 50%;
    text-align: center;
    margin-right: 3.3%;
    cursor: pointer;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0.5);
}

.module-entry a.mod-entry {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.module-entry li:last-child {
    margin-right: 0;
}

.module-entry li .pic-wrapper {
    height: 90px;
}

.module-entry li:first-child .pic-icon {
    width: 56px;
    height: 40px;
    background: url("../images/sprite.png") no-repeat -296px -179px;
    margin-top: 35px;
}

.module-entry li:nth-child(2) .pic-icon {
    width: 45px;
    height: 57px;
    background: url("../images/sprite.png") no-repeat -300px -230px;
    margin-top: 23px;
}

.module-entry li:nth-child(3) .pic-icon {
    width: 46px;
    height: 51px;
    background: url("../images/sprite.png") no-repeat -50px -205px;
    margin-top: 27px;
}

.module-entry li:nth-child(4) .pic-icon {
    width: 49px;
    height: 37px;
    background: url("../images/sprite.png") no-repeat -149px -264px;
    margin-top: 34px;
}

.module-entry li:nth-child(5) .pic-icon {
    width: 36px;
    height: 54px;
    background: url("../images/sprite.png") no-repeat -107px -207px;
    margin-top: 25px;
}

.module-entry li:last-child .pic-icon {
    width: 40px;
    height: 44px;
    background: url("../images/sprite.png") no-repeat -157px -212px;
    margin-top: 31px;
}

.module-entry li b {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    font-size: 18px;
    color: white;
    width: 100%;
}

.module-entry li:hover {
    background-color: rgba(255, 168, 0, 0.8);
}

.weiter {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    animation: slide-down 1.5s infinite;
}

.weiter img {
    height: 100%;
}

.p-title {
    font-size: 42px;
    font-weight: bold;
}

.p-subtitle {
    font-weight: normal;
}

.pic-box {
    margin: 50px auto;
    width: 512px;
    position: relative;
    margin-right: -400px;
    line-height: 30px;
}


/*.imageflow img {
    width: 1000px;
    height: auto;
}*/

.swiper-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    /*background-position: center;
    background-size: cover;*/
    width: 300px;
    height: 300px;
    border: 2px solid orange;
}

.rotate-left {
    -webkit-transform: perspective(600px) rotateY(20deg) scale(0.7, 0.7);
    -moz-transform: perspective(600px) rotateY(20deg) scale(0.7, 0.7);
    -o-transform: perspective(600px) rotateY(20deg) scale(0.7, 0.7);
    -ms-transform: perspective(600px) rotateY(20deg) scale(0.7, 0.7);
    transform: perspective(600px) rotateY(20deg) scale(0.7, 0.7);
    margin-right: -448px;
}

.rotate-left p {
    padding-left: 10px;
    text-align: left;
}

.rotate-right {
    -webkit-transform: perspective(600px) rotateY(-20deg) scale(0.7, 0.7);
    -moz-transform: perspective(600px) rotateY(-20deg) scale(0.7, 0.7);
    -o-transform: perspective(600px) rotateY(-20deg) scale(0.7, 0.7);
    -ms-transform: perspective(600px) rotateY(-20deg) scale(0.7, 0.7);
    transform: perspective(600px) rotateY(-20deg) scale(0.7, 0.7);
    margin-right: -448px;
}

.rotate-right p {
    padding-right: 10px;
    text-align: right;
}

.rotate-center {
    z-index: 10;
    margin-left: 90px;
    margin-right: -360px;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.show-frame {
    border: 6px solid #cdcbcc;
    width: 500px;
    width: 400px\0;
    height: 300px;
    height: 250px\0;
}

.show-frame img {
    width: 100%;
    height: 100%;
}

.show-pics li:first-child {
    margin-left: -58px;
    margin-top: 12px;
    z-index: 1;
}

.show-pics li:nth-child(2) {
    margin-top: 32px;
    z-index: 2;
}

.show-pics li:nth-child(3) {
    z-index: 3;
    transition: all 0.3s;
}

.show-pics li:nth-child(5) {
    z-index: 3;
    transition: all 0.3s;
}

.show-pics li:nth-child(6) {
    margin-top: 32px;
    z-index: 2;
}

.show-pics li:nth-child(7) {
    margin-top: 12px;
    z-index: 1;
}

.rotate-center .show-frame {
    border-color: #ffbc3b
}

.class-show {
    position: relative;
}

.dir-arrow {
    font-size: 100px;
    color: #ccc;
    display: inline-block;
    font-family: consolas;
    cursor: pointer;
}

.turn-left {
    position: absolute;
    left: 70px;
    top: 255px;
}

.turn-right {
    position: absolute;
    right: 70px;
    top: 255px;
}

.about-us {
    background: url("../images/about-bg.jpg") no-repeat center center;
    background-size: cover;
}

.about-lis span {
    display: block;
    text-align: center;
    line-height: 110px;
    font-size: 22px;
}

.about-lis {
    position: absolute;
    left: 0;
    top: 20px;
}

.about-lis li {
    margin: 0 48px;
}


/*合作伙伴*/

.coop {
    height: 472px;
}

.coop-frame {
    width: 740px;
    height: 120px;
    overflow: hidden;
    position: relative;
}

.coop-navs li {
    margin: 0 32px;
    cursor: pointer;
}

.coop-navs li.on {
    color: #f7b632
}

.coop-lis {
    margin-left: 50px;
}

.coop-lis a {
    width: 180px;
    height: 172px;
    line-height: 172px;
}

.coop-lis a img {
    height: 80px;
    width: auto;
}


/*底部*/

.footer {
    background: #333;
}

.footer-lis {
    margin-top: 28px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-lis li {
    margin-right: 45px;
}

.footer-lis dt {
    line-height: 50px;
    color: white;
    font-size: 18px;
}

.footer-lis dd {
    line-height: 24px;
    color: #9d9d9d;
    font-size: 14px;
    cursor: pointer;
}

.footer-lis dd:hover {
    color: #f7b632
}

.bot {
    background: #222;
    color: white;
}

@keyframes slide-down {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(-50%, 20px);
    }
}

@media screen and (min-width:1200px) {
    .inner {
        width: 1200px
    }
    .search {
        width: 350px;
    }
    .search-nav {
        left: 344px;
        width: 382px;
    }
    .search-nav li {
        margin: 0 28px;
    }
    .module-entry li {
        width: 160px;
        height: 160px;
        margin: 0 20px;
    }
    .about-lis li {
        margin: 0 65px;
    }
}