.banner{background: url("../images/bg.jpg") no-repeat 0 0; background-size: auto 800px;}
.banner .header{position: relative;}
.banner .header .login a{width:96px; height: 46px;border: 2px solid #f7b632;text-align: center;font-size: 18px;
    line-height: 46px;margin-left: 15px; display: inline-block; transition: all 0.5s; cursor: pointer;color: white;}
.banner .header .login a:hover{background: #f7b632; }
.banner .header .login a img{vertical-align: middle; margin-right: 10px;}
.banner .logo .city{cursor: pointer;}
.banner .address{position: absolute; left: 88px; bottom:-60px;width: 690px; background: rgba(0,0,0,0.3);}
.banner .address h2{position: relative;}
.banner .address input{width:78px; height: 28px; border: 1px solid #fff; margin-left: 11px;color: #fff;
background: url("../images/trigle02.png") no-repeat 78px center transparent;padding-right: 20px;
text-align: center; cursor: pointer; font-size: 14px;}
.banner .address ul{width:98px; height:180px; overflow-y:scroll; background:rgba(0,0,0,0.5); border: 1px solid #fff;
position: absolute; left: 29px; top:46px; border-top: none; font-size: 14px; display: none;}
.banner .address ul li{line-height: 30px; height: 30px; text-align: center; cursor: pointer; }
.banner .address ul li:hover{background:#f7b632; }

.banner .search input{box-sizing: border-box; }
.banner .search button{cursor: pointer;}
.banner .servs{ width:840px; margin:100px 0 0 105px;}
.banner .servs li{margin:0 65px 40px 0; width: 212px; height:160px; text-align: center;background:rgba(0,0,0,0.5); position: relative; overflow: hidden;}
.banner .servs li i{display:block; height:85px;}
.banner .servs li i img{vertical-align: bottom;}
.banner .servs li h3{line-height: 68px;}
.banner .servs .desc i{display: inline-block; width:30px; height: 30px;margin-right: 10px;}
.banner .servs .desc i img{width: 100%; vertical-align: middle; }
.banner .servs .desc{position: absolute; width: 100%; height: 100%; left: 0; top:100%; font-size: 12px;}


.coop h3{border-bottom: 1px solid #ccc; position: relative; margin:50px auto 0;}
.coop h3 span{display: inline-block; width:100px; height: 4px; background:#f7b632; position: absolute; left:50%; bottom:-3px;
transform: translateX(-50%);}
.coop .coLogos li{margin-right:22px;}
.coop .coLogos li:first-child{margin-left:16px;}
.coop .coLogos li:last-child{margin-right:0}
.coop .coLogos li a{display:block;height:120px; line-height: 120px; width: 120px;}
.coop .coLogos img{vertical-align: middle; width:80px;}
.pics .pics-nav span{display: inline-block; width:100px; height:73px; text-align: center; cursor:pointer;transition:all 0.7s;}
.pics .pics-nav .on{color:#f7b632; border-bottom:4px solid #f7b632;}
.pics .showBox{margin:28px auto 0;}
.pics .showBox li{width:320px;}
.pics .showBox li img{margin:10px; transition: all 0.5s}

.footer{ text-align: center}
.footer .servinces{display: inline-block;}
.footer .servinces li{width:130px; padding: 0 22px; }
.servinces li i{width: 92px; height: 86px; line-height: 86px;background: url("../images/icon-roundtop.png") no-repeat 0 0;}
.servinces li p{line-height: 29px;}

.bot{background:#252525; color: #f5f5f5;padding-top: 15px;}

.bg-main{background: url("../images/bg-cards.png") no-repeat center center; background-size: cover;}
.us-model{margin-left: 70px; color: white;text-align: left;}
.us-model h3{height:55px; line-height: 55px; font-size: 16px;}
.contact p{line-height: 32px;}
.contact i{width: 30px; height: 30px; margin-right: 5px;}
.contact img{vertical-align: middle;}

.bot-nav{border-top: 1px solid #8e8e8e; }
.site-nav{display: inline-block;}
.site-nav span{margin:0 13px;}
.site-nav a{color:#666;}

.slide-up{-webkit-animation:slide_up 1s ease-out; animation-fill-mode: forwards;}
.slide-down{-webkit-animation:slide_down 1s ease-in; animation-fill-mode: forwards;}

@keyframes slide_up {
    0%{top:100%}
    100%{top:0}
}
@keyframes slide_down {
    0%{top:0}
    100%{top:100%}
}