body{position: relative;}
.banner .loginImg{position: absolute;top: 76px; left: -86px;}
.banner .logBox{position: absolute; top: 76px; right:-34px;}
.banner .logBox .log-nav{box-shadow: 0 -4px 10px rgba(0,0,0,0.3); border-radius: 10px 10px 0 0;overflow: hidden;}
.banner .logBox .log-nav li{width: 180px; border:1px solid #d6d6d6;background:#e6e6e6;position: absolute;  text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); border-radius: 10px 10px 0 0;  border-bottom: none; cursor: pointer}
.banner .logBox .log-nav li:first-child{left: 0; top: 0; z-index:3;}
.banner .logBox .log-nav li:nth-child(2){left: 149px; top: 0; z-index: 2;}
.banner .logBox .log-nav li:last-child{right: 0; top: 0; z-index: 1}
.banner .logBox .log-nav li.on{background: #fff; z-index: 4;}
.banner .logBox input{border-radius: 5px; height: 58px; line-height: 58px; padding-left: 20px; border: 2px solid #999;
font-size: 18px;}
.banner .logBox button{background: #f39330;}
.banner .logBox button[disabled="disabled"]{background: #ccc;}
.banner .logBox button{border-radius: 5px; cursor: pointer;}
.banner .logBox input[type="checkbox"]{width: 16px; height: 16px;border: 2px solid #999; background:#fff;margin-right: 17px;}
.banner .logBox .login-footer{cursor: pointer;}
.agree-modal{position: absolute; left: 0; top:0; width:100%; height:100%; background: rgba(0,0,0,0.5);z-index: 10;display: none;}
.agree-modal .agreementBox{ top:100px; left: 50%; transform: translateX(-50%); position: absolute;overflow: auto;}
.agree-modal .agreementBox h3{height:40px; line-height: 40px;color:#333; font-size: 14px;}
.agree-modal .agreementBox p{line-height: 18px; margin:9px 0; color:#777; font-size: 12px;}
.agree-modal .agreementBox .title{position: absolute;left:50%;top:35px; transform: translateX(-50%);}
/*底部样式，与首页基本*/
.bot{background:#252525; color: #f5f5f5;text-align: center;}
.bot .contact p{display: inline-block;}
.bot .contact p:first-child{margint-left:22px;}
.bot .contact p:nth-child(2){margin-left:152px;}
.bot .contact p:nth-child(3){margin-left:156px;}