body{position: relative;}
.loginImg{position: absolute;top: 5px; left: 0; width: 416px;}
.loginImg img{width: 100%;}
#sel-add .pic-icon{background: url("../images/sprite.png") no-repeat -143px -186px;width: 11px; height: 8px;}
.banner .logBox{position: absolute; top: 75px; right:0;}
.banner .logBox .log-nav{box-shadow: 0 -4px 10px rgba(0,0,0,0.3); border-radius: 10px 10px 0 0;overflow: hidden;}
.banner .logBox .log-nav li{width: 126px; border:1px solid #d6d6d6;background:#e6e6e6;position: absolute;  text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); border-radius: 10px 10px 0 0;  border-bottom: none; cursor: pointer}
.banner .logBox .log-nav li:first-child{left: 0; top: 0; z-index:3;}
.banner .logBox .log-nav li:nth-child(2){left: 118px; top: 0; z-index: 2;}
.banner .logBox .log-nav li:last-child{right: 0; top: 0; z-index: 1}
.banner .logBox .log-nav li.on{background: #fff; z-index: 4;}
.logBox input{border-radius: 5px; height: 40px; line-height: 40px; padding-left: 12px; border: 1px solid #999;
font-size: 16px; width: 293px;}
.logBox .valid input{width: 166px;}
.banner .logBox button{background: #f39330;}
.banner .logBox button[disabled="disabled"]{background: #ccc;}
.banner .logBox button{border-radius: 5px; cursor: pointer;}
.banner .logBox .login-footer{cursor: pointer;}
.agreement{color: orange;}
.agree-modal{position: absolute; left: 0; top:0; width:100%; height:100%; background: rgba(0,0,0,0.5);z-index: 10;}
.agree-modal .agreementBox{ top:50px; left: 50%; transform: translateX(-50%); position: absolute;overflow: auto;}
.agree-modal .agreementBox h3{height:40px; line-height: 40px;color:#333; font-size: 14px;}
.agree-modal .agreementBox p{line-height: 18px; margin:9px 0; color:#777; font-size: 12px;}
.agree-modal .agreementBox .title{position: absolute;left:50%;top:35px; transform: translateX(-50%);}
.quicklogin h3 span{position: absolute; top: 15px;display: inline-block;height:0; border-top:1px dashed #999;width:100px; }
.quicklogin h3 span.line-l{left: 8px;}
.quicklogin h3 span.line-r{right:8px;}
.quicklogin i.pic-icon{margin: 0 22px;}
.quicklogin .icon-qq{background: url("../images/sprite.png") no-repeat -192px -112px;width: 26px; height: 29px;}
.quicklogin .icon-weibo{background: url("../images/sprite.png") no-repeat -190px -152px;width: 32px; height: 26px;}
.quicklogin .icon-wechat{background: url("../images/sprite.png") no-repeat -192px -77px;width: 34px; height:27px; margin-top: 3px;}
.check-box{display: inline-block; width: 14px; height: 14px; border: 2px solid #999; vertical-align: middle; margin-right: 5px;
cursor: pointer;}
.check-box.selected{background: url("../images/icon-checked3.png") no-repeat center center}
/*底部样式，与首页基本*/
.bot{color: #f5f5f5;text-align: center;}
.bot-nav{margin: 10px auto 0 ;}
.bot-nav li:hover{color: orange;}
.bot .contact p{display: inline-block;}
.bot .contact p:first-child{margint-left:22px;}
.bot .contact p:nth-child(2){margin-left:152px;}
.bot .contact p:nth-child(3){margin-left:156px;}
