.top .navs a{display: inline-block; width: 50px; height: 50px; line-height: 50px; text-align: center;margin-left: 20px;}
.top .navs a img{vertical-align: middle;}

.main .selectee{position: relative; display: inline-block;}
.main .selectee input{background: url("../images/icon-select.png") no-repeat right 10px; border:1px solid #ccc; padding-left: 10px;}
.main .selectee ul{position: absolute; left: 0; top:36px;border: 1px solid #d2d2d2;
    font-size: 12px; height: 149px; overflow: auto;background: #fff; display: none; z-index: 10;}
.main .selectee ul li{line-height: 24px; height: 24px; cursor: pointer;padding-left: 10px;}
.main .selectee ul li.over{background: #9bcce5; color:#fff;}
.main .selectee ul li.selected{background: #2ea8e6; color:#fff;}

.sel-add input{width:58px;}
.main .sInfo{ border: 1px solid #ccc;}
.porto-img{border: 2px dashed #999; background: url("../images/cross.png") no-repeat center center;}
.main .infoTxt{position: relative;}
.main .infoTxt p{line-height: 25px; font-size: 14px;}
.main .infoTxt i{display: inline-block; position: absolute; right:-70px; top: 0; font-size: 0;}

.main .sideBox{border:1px solid #ccc;}
.main .sideBox >li.on{background:#edeceb;}
.main .sideBox li{line-height: 40px;margin-bottom: 7px;padding-left: 30px; cursor:pointer}
.main .sideBox li:hover{background:#edeceb; }
.main .sideBox li i{display: inline-block; width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 0; vertical-align: middle;margin-right: 5px;}
.sub-li{display: none;}
.sub-li .on{color:#f8a85c;}
.sub-li p{padding-left: 30px;}
.main .content > div{display: none;}
.main .resumeBox{border:1px solid #ccc;}
.main .itemBox input{line-height: 24px; height: 24px; font-size: 14px; color: #666; border: 1px solid #ccc;margin-left: 10px;
padding-left: 10px; width:448px;}
.main .itemBox label{ width:143px; color:#333; font-size: 14px; text-align: right; display: inline-block; line-height: 26px; height:26px;}
.main .itemBox .item-row{margin-bottom: 20px;}
.main .itemBox .address{display: inline-block;}
.main .itemBox .address input{width:108px;}
.main .itemBox .career-input{background: url("../images/icon-prop.jpg") no-repeat 438px center;}
.main .itemBox .sel-salary input{width:98px;}
.main .itemBox{margin-bottom:35px;}
.main .item-basic .laLeft{width:135px;}
.main .item-basic .item-left{width:354px; display: inline-block;}
.main .item-basic .laRight{width:70px;}
.main .item-basic input{width:160px;}
.main .item-basic .birthday{position: relative;}
.main .item-basic .birthday i{display: inline-block; position: absolute; right: -26px; top:50%; border-top:1px solid #d2d2d2;
    height: 0; width: 20px;}
.main .item-basic .birthday input{width:78px;}
.itemBox .title{height:30px; line-height: 30px; font-size: 18px; margin-bottom: 33px;}
.itemBox .title i{display: inline-block; width:30px; height:30px; line-height: 30px; text-align: center; font-size: 0;
margin-right: 10px;}
.main .itemBox .works-title .pane-tabs{display: inline-block; vertical-align: middle;}
.main .itemBox .works-title .pane-tabs li{width:48px; height:16px; line-height: 16px; text-align: right;padding-right: 10px;
background: url("../images/bg-work.png") no-repeat right center; color:#fff; font-size: 12px; cursor: pointer}
.main .itemBox .time-interval input{width:78px;}
.main .itemBox .time-interval i{display: inline-block; position: absolute; right: -26px; top:50%; border-top:1px solid #d2d2d2;  height: 0; width: 20px;}
.main .itemBox .work-resp textarea{width:438px; height:188px; padding: 5px 10px; border: 1px solid #ccc;margin-left: 10px;vertical-align: top}
.main .itemBox .addItem{width:618px; height:36px; line-height: 36px; text-align: center; cursor:pointer;margin-left: 38px; border: 1px dotted #ccc; margin-top: 50px;}
.main .itemBox .addItem i{display: inline-block;}
.main .itemBox .language-skills input[type="checkbox"]{width:16px; height:16px; background:none;
    border: 1px solid #ccc;vertical-align: middle; margin-right: 5px; margin-left: 10px;outline: none;}
.main .itemBox .language-skills label{width:auto;}
.main .itemBox .project-area textarea{width:438px; height:88px; padding: 5px 10px; border: 1px solid #ccc;margin-left: 10px;vertical-align: top}
.main .itemBox .project-area p{line-height: 34px; height:34px; text-align: right;padding-right: 104px; font-size: 14px; color: #333;}
.main .itemBox .project-area p span{margin:0 2px;}
.main .itemBox .project-area{margin-bottom: 10px;}
.main .text-box{margin-bottom: 42px;}
.main .text-box textarea{width:538px; height:88px; padding: 5px 10px; border: 1px solid #ccc; margin-left: 68px; font-size: 14px;}
.main .text-box p{width:627px; text-align: right; line-height: 34px; height: 34px; font-size: 14px;}
.main .text-box p span{margin:0 2px;}
.main .buttons-commit button{width:150px; height:50px; line-height: 50px; color: #fff; font-size: 18px; text-align: center; margin: 0 10px;cursor: pointer;}

.main .ListBox .hd{border:1px solid #ccc;}
.main .ListBox .hd input{width:88px; background: url("../images/icon-select-b.png") no-repeat center right;}
.main .ListBox .contList .logo-pic{width:90px;height:80px; background: #5c3333; margin:24px 20px 0 30px;float: left;}
.main .ListBox .contList .class-txt .class-name b{color:#46afe8; font-size: 18px; line-height: 32px; height:32px; display: inline-block; vertical-align: bottom}
.main .ListBox .contList .class-txt .class-name span.score{color:#ec7d0e;height:20px; line-height: 20px; font-size: 12px; display: inline-block;vertical-align: bottom;
    margin-left: 10px;  }
.main .ListBox .contList .class-txt p{line-height: 26px; height:26px; color:#333; font-size: 14px; width: 275px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.main .ListBox .contList .class-info{padding: 18px; background: url("../images/dashline.png") no-repeat left center;}
.main .ListBox .contList .class-info p{height:30px; line-height: 30px; color: #333;}
.main .ListBox .contList li{overflow: hidden; height:128px; border: 1px solid #ccc; margin-top: 10px;}
.main .ListBox .contList .class-info .begin{color:#f74a4a;}
.main .ListBox .contList .class-info .after{color:#b8b8b8;}
.main .ListBox .contList .class-info .before{color:#46afe8;}
/*我的收藏之学习收藏*/
.main .ListBox .colStudyList li{height:148px;}
.main .ListBox .contList .class-txt .teacher span{margin:0 12px;}
.main .ListBox .contList .col-class-info{padding:30px 18px 0; background: url("../images/dashline.png") no-repeat left center;}
.main .ListBox .contList .col-class-info p{height:32px; line-height: 32px; color: #333;}
.main .ListBox .contList .col-class-info p.price{color:#dd4040;}
.main .ListBox .contList .col-class-info .action{height:53px; line-height: 53px; font-size: 14px;}
.main .ListBox .contList .col-class-info .action span{display: inline-block; margin-right: 35px; color:#46afe8;}
/*我的收藏之职位收藏*/
.main .ListBox .colCompanyList li{height:148px;}
.main .ListBox .colCompanyList .demand i{margin:0 12px;}
.main .ListBox .contList .col-company-info{padding:30px 18px 0; background: url("../images/dashline.png") no-repeat left 28px;}
.main .ListBox .contList .col-company-info i{margin:0 12px;}
.main .ListBox .contList .col-company-info p{height:24px; line-height: 24px; font-size: 14px; color: #333;}
.main .ListBox .contList .col-company-info .action{height:46px; line-height: 46px; font-size: 14px;}
.main .ListBox .contList .col-company-info .action span{display: inline-block; margin-right: 35px; color:#46afe8;}
.main .ListBox .contList .col-company-info .action span.post{color:#f7a14a;}
.main .ListBox .contList .col-company-info .action span.end{color:#666;}
/*我的求职*/

.main .ListBox .contList .feedback h3{margin-top:21px; height:35px; line-height:35px; font-size: 14px; padding-right: 40px; text-align: right}
.main .ListBox .contList .feedback .feedState li{margin-top:0;text-align: center; width:50px; font-size: 12px;height:70px;color:#b8b8b8;border:none;margin-right: 18px;}
.main .ListBox .contList .feedback .feedState li img{display: none;}
.main .ListBox .contList .feedback .feedState li.on{color:#f7a14a;}
.main .ListBox .contList .feedback .feedState li.on img{display: block;}
.main .ListBox .contList .feedback .feedState i{display: inline-block;font-size: 0;height: 20px;}
.main .ListBox .contList .feedback .feedState li span{display: block; line-height: 30px;}
/*修改密码*/
.main .conf-keyword{border:1px solid #ccc;}
.main .conf-keyword form div{margin-top: 20px;}
.main .conf-keyword form label{width:118px; text-align: right; display: inline-block; margin-right: 30px;}
.main .conf-keyword form input{width:290px; padding-left: 10px;background: #f2f0f0;height: 40px; line-height: 40px;}
.conf-keyword .varify-code{display: inline-block;}
.main .conf-account{border: 1px solid #ccc;}
.safe-range{width:382px; height:10px; padding: 2px 1px;border: 1px solid #ccc; border-radius:8px; display: inline-block; vertical-align: middle;}
.safe-range p{background: -webkit-linear-gradient(left,#f7524a,#f7a14a,#7ebe96);width:80%;height:10px;border-radius: 8px;}
.safe-range .r-pointer{position: absolute;top:-40px;background: url("../images/icon-range.png") no-repeat top left; left: 326px;}
.bind-acc{padding-top: 30px;border-top:1px dotted #ccc; padding-bottom: 14px;}
.bind-acc li{ height:40px; line-height: 40px; vertical-align: middle; margin-bottom: 20px;}
.bind-acc li img{margin-right: 20px;vertical-align: middle;}
.bind-acc li button{font-size: 18px;background: none; color:#48c1e4;}
.main .ListBox .pageBot li{margin-left: 10px; background: #333; color: #fff;line-height: 30px; height: 30px; text-align: center;}
.main .ListBox .pageBot li.side-page{width:60px;}
.main .ListBox .pageBot li.page-index{width:30px;}

.preView{ margin: 130px auto 0;}
.preView .itemBox .title{margin-bottom: 6px;}
.preView .itemBox .item-row{padding-left: 40px; height:26px; line-height: 26px;}
.preView .itemBox .item-row label span{margin-left: 10px;}
.preView .baseInfo .infoTxt p{float: left; width: 50%;}
.preView .alleInfo table .la-l{width:92px; text-align: right; margin-right: 10px;}
.preView .alleInfo table .val-l{width:250px;}
.preView .alleInfo table .la-r{width:56px; text-align: right; margin-right: 10px;}
.preView .alleInfo .itemBox{padding-bottom: 17px; padding-top:30px;border-bottom: 1px dotted #ccc;}
.preView .alleInfo .item-basic{padding-top: 40px;}

.phone-change{position: absolute; left:50%; top: 256px;margin-left: -250px;  }
.phone-change input{height:44px; background: #f3f3f3; font-size: 14px; padding-left: 10px;}
.phone-change p{text-align: center; margin-bottom: 20px;}
.phone-change .btn-submit button{width:120px; height:40px; font-size: 18px; color: #fff;}
.close{cursor: pointer;}
.wechat-bind{position: absolute; left:50%; top: 256px;margin-left: -250px;}
.wechat-bind .close{position: absolute; right:10px; top:13px;}
.modal{display: none;}
    /*底部样式，与首页基本*/
.bot-nav{display: inline-block;}
.bot-nav a{color:#797979;}
.bot-nav a:hover{color:#f00; cursor: pointer}
.bot .barcode-text{display: inline-block; vertical-align: middle;}

.msg-box{margin-top:15%; border: 10px solid rgba(0,0,0,0.3)}
.msg-box i.closer{display: inline-block; font-family: Consolas;}
.msg-box .msg-date{font-size: 18px; padding-left:30px; }
.msg-body li{font-size: 14px; border-top:1px solid #fbd0a4; line-height: 39px;}
.msg-body li span{display: inline-block; vertical-align: middle;}
.msg-body li span:first-child{width:135px; padding-left: 30px;}
.msg-body li span:nth-of-type(2){width:534px;}
.msg-body li span:nth-child(3){width:92px; text-align: center}
.msg-body li span:nth-child(4){width:97px; text-align: center}
.msg-body li:nth-child(2n){background: white;}
.msg-body li:nth-child(2n+1){background: #fcf1e3;}
.msg-body li:last-child{border-bottom: 1px solid #fbd0a4;}

.msg-detail p{padding-left: 42px;}

.pageBot{display: inline-block;}
.pageBot li{margin: 0 10px;}

.progress{display: inline-block;background: #fcfbf9;  margin: 0 10px;}
.progress-real{display: inline-block;background: #f7aa00; width: 87%; position: absolute; left: 0; top: 0;}

.preview-btn{position: absolute; right:-97px;bottom:0; color:#f77b00; line-height: 25px; cursor: pointer;}

.hd .selectee{line-height: 38px; height: 38px;}

.bot-account{border-top:2px solid #9d9d9d;}

.edit-brief input{line-height: 24px; height: 24px;}
.edit-brief .birthday{margin-right: 10px;}
.edit-brief .birthday input{width: 77px;　}
.edit-brief .sel-gender input{width:77px; }
.edit-brief .sel-career{ width: 160px; }

.edit-phone input{border: 1px solid #b5b5b5; color:#848484;}
.edit-opera{position: absolute;right: 0; bottom: 0;}
.edit-opera button{width: 58px; height: 24px; border-radius: 5px; font-size: 14px; background: none;}
.btn-save{border:1px solid #ff9933; color:#ff9933;}
.btn-save:hover{background: #ff9933; color:white;}
.btn-cancel{border:1px solid #82c4ea; color:#82c4ea;}
.btn-cancel:hover{background: #82c4ea; color: white;}
