/*头部*/

.top .navs a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
}

.top .navs a .icon-home {
    width: 30px;
    height: 33px;
    background: url("../images/sprite.png") no-repeat -7px -200px;
}

.top .navs a .icon-account {
    width: 28px;
    height: 33px;
    background: url("../images/sprite.png") no-repeat -360px -222px;
}

.top .navs a .icon-msg {
    width: 31px;
    height: 31px;
    background: url("../images/sprite.png") no-repeat -7px -262px;
}

.msg-info {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ef3e3e;
    line-height: 24px;
    color: white;
    position: absolute;
    right: 1px;
    top: 3px;
    border-radius: 50%;
}

.req-progress {
    padding: 28px 0 0 77px;
    position: relative;
}

.bind-line {
    width: 227px;
    height: 3px;
    position: absolute;
    left: 51px;
    top: 13px;
    display: inline-block;
    background: #ccc;
}

.steps li {
    width: 75px;
    text-align: center;
    margin-right: 180px;
    font-size: 16px;
    position: relative;
}

.steps li span {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #ccc;
    color: white;
    line-height: 28px;
}

.steps li.on span {
    background: #f7b632;
}

.steps li.on .bind-line {
    background: -webkit-linear-gradient(left, #f7b633, #ccc);
    background: -moz-linear-gradient(left, #f7b633, #ccc);
    background: -o-linear-gradient(left, #f7b633, #ccc);
    background: -ms-linear-gradient(left, #f7b633, #ccc);
}

.steps li.past .bind-line {
    background: #f7b633;
}

.steps li p {
    line-height: 50px;
    margin-top: 3px;
}

.progress-txt {
    position: absolute;
    top: 54px;
    right: 28px;
}

.navs ul {
    margin: 10px 10px 0 0;
    line-height: 31px;
    border-bottom: 1px solid #b47a06
}

.navs ul li {
    width: 70px;
    background: #f7d58f;
    color: #333300;
    text-align: center;
}

.navs ul li.on {
    background: #b47a06;
    color: white;
}

.navs p {
    margin-bottom: 10px;
}


/*内容部分*/

.nav-cont-header {
    line-height: 66px;
    height: 66px;
    background: #f7d58f;
    color: #300;
    text-align: center;
    font-family: cursive;
}

.form-cont {
    border: 2px solid #f7d58f;
    margin-bottom: 40px;
}

.form-cont input[type="text"] {
    border: 1px solid #ccc;
    padding-left: 10px;
    line-height: 24px;
    height: 24px;
    margin-right: 16px;
    width: 148px;
    overflow: hidden;
}

.form-cont input[readonly='readonly'] {
    background: none;
}

.form-cont input[readonly='readonly'].hint-nullable {
    background: #ffd2d2;
}

.form-cont .major-input input {
    margin-right: 6px;
}

.form-cont label {
    line-height: 26px;
    font-size: 14px;
    width: 100px;
    text-align: right;
    display: inline-block;
    margin-right: 18px;
}


/*.form-cont .selectee{width: 162px;}*/

.head-input label {
    line-height: 33px;
    font-size: 18px;
    text-align: left;
}

.form-cont .head-input input {
    line-height: 31px;
    height: 31px;
    width: 432px;
}

.form-item {
    margin-bottom: 27px;
}

.t-cell {
    cursor: pointer;
}

.time-tr .on {
    background: url("../images/icon-checktime.png") no-repeat center center;
}

.time-table {
    border-collapse: collapse;
}

.time-table td {
    border: 1px solid #ccc;
    width: 74px;
    height: 41px;
    text-align: center;
}

.form-desc {
    width: 638px;
    height: 334px;
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
    padding-bottom: 40px;
}

.desc-hint {
    position: absolute;
    right: 162px;
    bottom: 0;
}

input.dis-Addr {
    width: 390px;
}

.addr-box {
    width: 560px;
    height: 162px;
    padding-left: 20px;
    background: #def1f6;
    position: absolute;
    left: 108px;
    top: 26px;
}

.addr-box .sel-addr {
    margin-top: 25px;
}

.addr-box .sel-addr input {
    margin-right: 9px;
    background: url("../images/icon-select.png") no-repeat right 10px white;
}

.addr-box input.addr-ex {
    width: 346px;
}

.confirm-btn {
    width: 80px;
    height: 30px;
    background: #49c1e4;
    color: white;
    margin-top: 18px;
    margin-left: 230px;
}

.inc-addr {
    margin-bottom: 48px;
}

.dis-Addr {
    background: white;
}

.inc-addr input.dis-Addr {
    width: 388px;
}

.confirm-publish-btn {
    width: 150px;
    height: 50px;
    background: #f7b632;
    color: white;
    font-size: 18px;
    margin-left: -68px;
    margin-bottom: 57px;
}

.welfare-lis {
    vertical-align: top
}

.welfare-lis li {
    width: 114px;
    line-height: 22px;
    margin-bottom: 21px;
}

.welfare-lis input[type="checkbox"] {
    margin-right: 12px;
}

.check-box {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    cursor: pointer;
}

.check-box.on {
    background: url("../images/icon-checked3.png") no-repeat center center;
}

.navs li {
    cursor: pointer;
}


/*底部样式*/

.bot-nav li a {
    color: white;
}

.bot-nav li a:hover {
    color: #f7a14a;
    cursor: pointer
}

.bot-nav {
    display: inline-block;
}

.bot .barcode-text {
    display: inline-block;
    vertical-align: middle;
}

.pic-barcode {
    position: absolute;
    right: -7px;
    top: 12px;
    width: 83px;
    height: 83px;
}

.pic-barcode img {
    width: 100%
}

.bot-infos .icon-phone {
    width: 17px;
    height: 12px;
    background: url("../images/sprite.png") no-repeat -153px -114px;
}

.bot-infos .icon-address {
    width: 17px;
    height: 17px;
    background: url("../images/sprite.png") no-repeat -121px -103px;
}

.bot-infos .icon-email {
    width: 17px;
    height: 12px;
    background: url("../images/sprite.png") no-repeat -93px -160px;
}


/*入口模态层样式*/

.modal-entry {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}

.entry-lis {
    position: absolute;
    color: white;
}

.entry-lis li {
    width: 335px;
    text-align: center;
}

.entry-lis .pic-wrapper {
    height: 85px;
}

.modal-entry .entry-title {
    line-height: 62px;
    font-size: 24px;
}

.modal-entry .entry-descript {
    line-height: 24px;
    font-size: 14px;
}

.entry-btn {
    width: 175px;
    height: 55px;
    background: #f7b632;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 46px;
    color: #300;
    box-shadow: 0 0 5px #f7b632;
}

.entry-btn span {
    margin-left: 10px;
    font-family: consolas;
}