.top .navs a{display: inline-block; width: 50px; height: 50px; line-height: 50px; text-align: center;margin-left: 20px;}
.top .navs a img{vertical-align: middle;}
.msg-info{display: inline-block; width: 24px; height: 24px; background: #ef3e3e; line-height: 24px; color: white; position: absolute; right: 1px; top: 3px; border-radius: 50%;}

 .selectee{position: relative; display: inline-block;}
.selectee input{background: url("../images/icon-select.png") no-repeat right 10px; border:1px solid #ccc; padding-left: 10px; width: 100%;}
.selectee ul{position: absolute; left: 0; top:36px;border: 1px solid #d2d2d2;
    font-size: 12px; height: 149px; overflow: auto;background: #fff; display: none; z-index: 10;}
.selectee ul li{line-height: 24px; height: 24px; cursor: pointer;padding-left: 10px;}
.selectee ul li.over{background: #9bcce5; color:#fff;}
.selectee ul li.selected{background: #2ea8e6; color:#fff;}

.sel-add input{width:58px;}
.main .sInfo{ border: 1px solid #ccc;}
.porto-img{border: 2px dashed #999; background: url("../images/cross.png") no-repeat center center;}
.main .infoTxt{position: relative;}
.main .infoTxt p{line-height: 25px; font-size: 14px;}
.main .infoTxt i{display: inline-block; position: absolute; right:-70px; top: 0; font-size: 0;}
.progress{display: inline-block;background: #fcfbf9;  margin: 0 10px;}
.progress-real{display: inline-block;background: #f7aa00; width: 87%; position: absolute; left: 0; top: 0;}
.preview-btn{position: absolute; right:-97px;bottom:0; color:#f77b00; line-height: 25px; cursor: pointer;}

/*VIP中心*/
.vip-navs li{width: 100px; margin-left: 22px; position:relative;}
.nav-line{display: none;width: 100px; height: 4px; background: #f7a14a; position: absolute;left: 0; bottom: 0;}
.vip-navs li.on{color: #333;}
.vip-navs li.on .nav-line{display: block;}
.vip-cont{ border:1px solid #ccc; background: white; display: none;}
.vip-service{padding: 30px 25px;}
.vip-recharge{padding: 6px 25px; font-size: 14px;}
.vip-cont.on{display: block;}
.vip-cont-text{width: 273px;}
.vip-cont-disp{width: 408px; height: 318px; line-height: 318px;}
.recharge-btn{width: 100px; height: 36px; color: white; border-radius: 5px; margin-left: 80px; background: #f33;}
.vip-records li{line-height: 34px; font-size: 12px; padding-left: 20px;}
.vip-records li span{display: inline-block; vertical-align: middle;}
.vip-records li:nth-child(2n){background: #e3e3e3;}
.vip-records li:nth-child(2n+1){background: #eee;}
.vip-record-head{background: url("../images/icon-up.jpg") no-repeat 26px 33px; }
.more-records{background: none; font-size: 12px;}


/*侧边栏导航*/
.main .sideBox{border:1px solid #ccc;}
.main .sideBox >li.on{background:#edeceb;}
.main .sideBox li{line-height: 40px;margin-bottom: 7px;padding-left: 30px; cursor:pointer}
.main .sideBox li:hover{background:#edeceb; }
.main .sideBox li i{display: inline-block; width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 0; vertical-align: middle;margin-right: 5px;}
.sub-li{display: none;}
.sub-li .on{color:#f8a85c;}
.sub-li p{padding-left: 16px;}

/*主要内容部分*/
.resumeCont{padding:29px 73px 47px 53px; border: 1px solid #ccc;}
.hd-icon{width:30px; height:30px; line-height: 30px; margin-right: 10px;}
.resume-item{font-size: 14px; margin-bottom: 20px;}
.resume-item label{margin-right: 10px;}
.resumeCont input{border: 1px solid #ccc; height: 24px; line-height: 24px; padding-left: 10px; color: #999; box-sizing: border-box;}
.uni-level input[type="radio"]{margin-left: 20px; margin-right: 7px; vertical-align: middle;}
.btn-add-major{background: none;}
.uni-valid-upload li{height: 20px; line-height: 20px; margin-bottom: 14px; }
.uni-valid-upload span{position: relative;display: inline-block; border-radius: 5px; background: #e4e6e7;padding-left: 10px; vertical-align: middle; margin-right: 20px; width: 140px; cursor: pointer;}
.uni-valid-upload span i{position: absolute;right: 5px; }
.uni-valid-upload button{font-size: 12px; background: none; vertical-align: middle;}
.uni-intro textarea{width: 498px; height: 198px; box-sizing: border-box; border: 1px solid #ccc; padding: 5px 10px; line-height: 26px;}
.resumeCont .btn-edit{position: absolute;right: 73px; top:29px; cursor: pointer;}

.state{line-height: 38px;}
.state input{width:98px; margin-left: 29px; height: 38px; line-height: 38px;}
.ListBox .hd{border: 1px solid #ccc;}
.info-items{height:410px;}
.info-items>li{height: 128px; margin-top: 10px; border: 1px solid #ccc; background: white;}
.collectBox .info-items>li{height:148px;}
.uni-message .info-items>li{height:148px;}
.depart{margin:0 12px; }
.info-items p{line-height: 28px; font-size: 14px;}
.item-block-right{padding: 18px; background: url("../images/dashline.png") no-repeat left 26px;}
.item-block-right p{color: #333;}
.info-items .item-date{font-size: 12px; color: #666;}

.operations{position: absolute;top: 10px; right: 20px;}
.operations p{line-height: 50px;}
.operations span{margin-left: 24px; cursor: pointer;}

.collect-btn button{margin-right: 35px; background: none; font-size: 14px;}
/*消息中心*/
.message-btn button{margin-right: 40px; background: none; font-size: 14px;}
.contact-box{width: 160px; height: 70px; background: url("../images/contact-block.png") no-repeat 0 0;padding: 19px 0 0 11px;
position: absolute;  display:none;}
.message-btn .contact-box{left: -17px; top: 30px;}
.msg-apply .contact-box{left: 153px; top: 100px;}
.contact-box p{font-size: 12px; color: white;line-height: 21px;}
.state-icon{height: 20px; display:block;background: url("../images/icon-apply-state.png") no-repeat center center;}
.state-line li{width: 70px; text-align: center; line-height: 34px;}
.state-line li.on{color:#f7a14a;}
.state-line li.on .state-icon{background-image: url("../images/icon-apply-state1.png");}
.state-line{background: url("../images/msg-line.png") no-repeat 33px 8px;}

.pageBot li{margin-left: 10px; background: #333; color: #fff;line-height: 30px; height: 30px; text-align: center;}
.pageBot li.side-page{width:60px;}
.pageBot li.page-index{width:30px;}


/*底部样式，与首页基本*/
.bot-nav{display: inline-block;}
.bot-nav a{color:#797979;}
.bot-nav a:hover{color:#f00; cursor: pointer}
.bot .barcode-text{display: inline-block; vertical-align: middle;}
.bot-account{border-top:2px solid #9d9d9d;}
