.top .navs a{display: inline-block; width: 50px; height: 50px; line-height: 50px; text-align: center;margin-left: 20px;}
.top .navs a img{vertical-align: middle;}
.msg-info{display: inline-block; width: 24px; height: 24px; background: #ef3e3e; line-height: 24px; color: white; position: absolute; right: 1px; top: 3px; border-radius: 50%;}

 .selectee{position: relative; display: inline-block;}
.selectee input{background: url("../images/icon-select.png") no-repeat right 10px; border:1px solid #ccc; padding-left: 10px; width: 100%;}
.selectee ul{position: absolute; left: 0; top:36px;border: 1px solid #d2d2d2;
    font-size: 12px; height: 149px; overflow: auto;background: #fff; display: none; z-index: 10;}
.selectee ul li{line-height: 24px; height: 24px; cursor: pointer;padding-left: 10px;}
.selectee ul li.over{background: #9bcce5; color:#fff;}
.selectee ul li.selected{background: #2ea8e6; color:#fff;}

.sel-add input{width:58px;}
.main .sInfo{ border: 1px solid #ccc;}
.porto-img{border: 2px dashed #999; background: url("../images/cross.png") no-repeat center center;}
.main .infoTxt{position: relative;}
.main .infoTxt p{line-height: 25px; font-size: 14px;}
.main .infoTxt i{display: inline-block; position: absolute; right:-70px; top: 0; font-size: 0;}
.progress{display: inline-block;background: #fcfbf9;  margin: 0 10px;}
.progress-real{display: inline-block;background: #f7aa00; width: 87%; position: absolute; left: 0; top: 0;}
.preview-btn{position: absolute; right:-97px;bottom:0; color:#f77b00; line-height: 25px; cursor: pointer;}

/*侧边栏导航*/
.main .sideBox{border:1px solid #ccc;}
.main .sideBox >li.on{background:#edeceb;}
.main .sideBox li{line-height: 40px;margin-bottom: 7px;padding-left: 30px; cursor:pointer}
.main .sideBox li:hover{background:#edeceb; }
.main .sideBox li i{display: inline-block; width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 0; vertical-align: middle;margin-right: 5px;}
.sub-li{display: none;}
.sub-li .on{color:#f8a85c;}
.sub-li p{padding-left: 30px;}

/*主要内容部分*/
.resumeBox{padding:29px 73px 47px 53px;}
.hd-icon{width:30px; height:30px; line-height: 30px; margin-right: 10px;}
.resume-item{font-size: 14px; margin-bottom: 20px;}
.resume-item label{margin-right: 10px;}
.resumeBox input{border: 1px solid #ccc; height: 24px; line-height: 24px; padding-left: 10px; color: #999; box-sizing: border-box;}
.uni-level input[type="radio"]{margin-left: 20px; margin-right: 7px; vertical-align: middle;}
.btn-add-major{background: none;}
.uni-valid-upload li{height: 20px; line-height: 20px; margin-bottom: 20px; }
.uni-valid-upload span{position: relative;display: inline-block; border-radius: 5px; background: #e4e6e7;padding-left: 10px; vertical-align: middle; margin-right: 20px; width: 140px; cursor: pointer;}
.uni-valid-upload span i{position: absolute;right: 5px; }
.uni-intro textarea{width: 498px; height: 198px; box-sizing: border-box; border: 1px solid #ccc; padding: 5px 10px; line-height: 26px;}

/*底部样式，与首页基本*/
.bot-nav{display: inline-block;}
.bot-nav a{color:#797979;}
.bot-nav a:hover{color:#f00; cursor: pointer}
.bot .barcode-text{display: inline-block; vertical-align: middle;}
.bot-account{border-top:2px solid #9d9d9d;}
