.top .navs a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
}

.top .navs a .icon-home {
    width: 30px;
    height: 33px;
    background: url("../images/sprite.png") no-repeat -7px -200px;
}

.top .navs a .icon-account {
    width: 28px;
    height: 33px;
    background: url("../images/sprite.png") no-repeat -360px -222px;
}

.top .navs a .icon-msg {
    width: 31px;
    height: 31px;
    background: url("../images/sprite.png") no-repeat -7px -262px;
}

.msg-info {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ef3e3e;
    line-height: 24px;
    color: white;
    position: absolute;
    right: 1px;
    top: 3px;
    border-radius: 50%;
}

.preview-file {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preview-file img {
    max-height: 600px;
    max-width: 500px;
}

.class-name a:hover {
    text-decoration: underline;
}

.resumeCont .selectee input {
    width: 144px;
}


/*专业弹出样式*/

.major-input input {
    width: 124px;
    padding-right: 20px;
    background-position: 134px center;
}

.sel-addr .selectee {
    width: 100px;
    margin-right: 20px;
}

.main .sInfo {
    border: 1px solid #ccc;
}

.porto-img {
    border: 2px dashed #999;
    background: url("../images/cross.png") no-repeat center center;
}

.porto-img img {
    width: 100%;
}

.main .infoTxt {
    position: relative;
}

.main .infoTxt p {
    line-height: 25px;
    font-size: 14px;
}

.infoTxt label {
    width: 72px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.edit-brief p {
    line-height: 25px;
    font-size: 14px;
    margin-top: 5px;
}

.edit-brief label {
    width: 60px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.edit-brief input {
    height: 25px;
    line-height: 25px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.edit-opera {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 92px;
}

.edit-opera button {
    width: 58px;
    height: 24px;
    border-radius: 5px;
    font-size: 14px;
    background: none;
}

.btn-save {
    border: 1px solid #ff9933;
    color: #ff9933;
}

.btn-save:hover {
    background: #ff9933;
    color: white;
}

.btn-cancel {
    border: 1px solid #82c4ea;
    color: #82c4ea;
}

.btn-cancel:hover {
    background: #82c4ea;
    color: white;
}

.brief-unilevel input {
    width: 100px;
}

.main .infoTxt i {
    display: inline-block;
    position: absolute;
    right: 305px;
    top: 10px;
    font-size: 0;
    cursor: pointer;
}


/*VIP中心*/

.vip-navs li {
    width: 100px;
    margin-left: 22px;
    position: relative;
    cursor: pointer;
}

.nav-line {
    display: none;
    width: 100px;
    height: 4px;
    background: #f7a14a;
    position: absolute;
    left: 0;
    bottom: 0;
}

.vip-navs li.on {
    color: #333;
}

.vip-navs li.on .nav-line {
    display: block;
}

.vip-cont {
    border: 1px solid #ccc;
    background: white;
    display: none;
    min-height: 340px;
}

.vip-service {
    padding: 30px 25px;
    height: 340px;
}

.vip-recharge {
    padding: 6px 25px;
    font-size: 14px;
}

.vip-cont.on {
    display: block;
}

.vip-cont-text {
    width: 273px;
}

.vip-cont-disp {
    width: 408px;
    height: 318px;
    line-height: 318px;
}

.recharge-btn {
    width: 100px;
    height: 36px;
    line-height: 36px;
    color: white;
    border-radius: 5px;
    margin-left: 80px;
    background: #f33;
}

.tarif-info li {
    padding: 4px 0;
    margin-bottom: 2px;
    background: #fafafa;
}

.tarif-buy {
    border-left: 2px solid white;
    height: 116px;
}

.tarif-btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: #f7aa00;
    color: white;
    font-size: 14px;
}


/*侧边栏导航*/

.main .sideBox {
    border: 1px solid #ccc;
}

.main .sideBox>li.on {
    background: #edeceb;
}

.main .sideBox li {
    line-height: 40px;
    margin-bottom: 7px;
    padding-left: 30px;
    cursor: pointer
}

.main .sideBox li:hover {
    background: #edeceb;
}

.main .sideBox li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0;
    vertical-align: middle;
    margin-right: 5px;
}

.sub-li {
    display: none;
}

.sub-li .on {
    color: #f8a85c;
}

.sub-li p {
    padding-left: 23px;
    font-size: 16px;
}


/*主要内容部分*/

.content>div {
    display: none;
}

.resumeCont {
    padding: 29px 73px 47px 53px;
    border: 1px solid #ccc;
}

.resumeCont .icon-imp {
    background: url("../images/sprite.png") no-repeat -52px -100px;
    height: 26px;
}

.hd-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    background: url("../images/sprite.png") no-repeat 8px -127px;
}

.resume-item {
    font-size: 14px;
    margin-bottom: 20px;
}

.resume-item label {
    margin-right: 10px;
}

.resumeCont input {
    border: 1px solid #ccc;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    color: #999;
}

.uni-level input[type="radio"] {
    margin-left: 20px;
    margin-right: 7px;
    vertical-align: middle;
}

.btn-add-major {
    background: none;
}

.btn-del-major {
    background: none;
    color: red;
}


/*.block-add-major{position: absolute; left: 414px; top: 0;}*/

.valid-upload li {
    height: 20px;
    line-height: 20px;
    margin-bottom: 14px;
    position: relative;
}

.valid-upload a {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    background: #e4e6e7;
    padding-left: 10px;
    vertical-align: middle;
    margin-right: 20px;
    width: 140px;
    cursor: pointer;
}

.valid-upload a i.pic-icon {
    position: absolute;
    right: 5px;
    top: 4px;
    background: url("../images/sprite.png") no-repeat -89px -181px;
    height: 11px;
    width: 8px;
}

.valid-upload button {
    font-size: 12px;
    background: none;
    vertical-align: middle;
}

.valid-upload input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 150px;
}

.view-valid-label {
    display: inline-block;
    border-radius: 5px;
    background: #e4e6e7;
    padding-left: 10px;
    vertical-align: middle;
    margin-right: 20px;
    width: 120px;
}

.uni-intro textarea {
    width: 498px;
    height: 198px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 5px 10px;
    line-height: 20px;
}

.resumeCont .btn-edit {
    position: absolute;
    right: 73px;
    top: 29px;
    cursor: pointer;
    width: 17px;
    height: 18px;
    background: url("../images/sprite.png") no-repeat -119px -3px;
}

.state {
    line-height: 38px;
}

.state input {
    width: 98px;
    margin-left: 29px;
    height: 38px;
    line-height: 38px;
}

.ListBox .hd {
    border: 1px solid #ccc;
}

.info-items>li {
    height: 128px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background: white;
}

.collectBox .info-items>li {
    height: 148px;
}

.collectBox .logo-pic {
    margin-top: 34px;
}

.uni-message .info-items>li {
    height: 148px;
}

.uni-message .logo-pic {
    margin-top: 34px;
}

.uni-coop .info-items>li {
    height: 148px;
}

.uni-coop .logo-pic {
    margin-top: 34px;
}

.apply-feedback {
    padding-right: 15px;
    line-height: 20px;
}

.depart {
    margin: 0 12px;
}

.item-block-left {
    max-width: 300px;
}

.item-block-left h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-block-left p {
    line-height: 25px;
    font-size: 14px;
    width: 275px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-block-right {
    padding: 18px;
    max-width: 315px;
    background: url("../images/dashline.png") no-repeat left 26px;
}

.uni-require .item-block-right {
    max-width: 230px;
}

.uni-collect .item-block-right {
    background: url("../images/dashline.png") no-repeat left 20px;
}

.uni-message .uni-apply-message {
    background: none
}

.item-block-right p {
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info-items .item-date {
    font-size: 12px;
    color: #666;
}


/*发布按钮样式*/

.new-require {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3
}

.new-require a {
    display: inline-block;
}

.new-require img {
    width: 92%;
}

.logo-pic img {
    width: 100%;
}

.operations {
    position: absolute;
    top: 10px;
    right: 20px;
}

.operations p {
    line-height: 50px;
}

.operations span {
    margin-left: 24px;
    cursor: pointer;
}

.collect-btn button {
    margin-right: 35px;
    background: none;
    font-size: 14px;
}


/*消息中心*/

.message-btn button {
    margin-right: 40px;
    background: none;
    font-size: 14px;
}

.contact-box {
    width: 160px;
    height: 70px;
    background: url("../images/contact-block.png") no-repeat 0 0;
    padding: 19px 0 0 11px;
    position: absolute;
    display: none;
}

.message-btn .contact-box {
    left: -17px;
    top: 30px;
}

.msg-apply .contact-box {
    left: 153px;
    top: 100px;
}

.contact-box p {
    font-size: 12px;
    color: white;
    line-height: 21px;
}


/*反馈进度条样式*/

.feedState li {
    margin-top: 0;
    text-align: center;
    width: 50px;
    font-size: 12px;
    height: 70px;
    color: #b8b8b8;
    border: none;
    margin-right: 18px;
    position: relative;
    overflow: visible;
}

.feedstate-icon {
    width: 22px;
    height: 22px;
    font-size: 0;
    display: inline-block;
    background: url("../images/icon-feedback-off.png") no-repeat center center;
}

.feed-icon-bind {
    position: absolute;
    top: 10px;
    left: 34px;
    display: inline-block;
    border-top: 4px solid #f2f2f2;
    width: 48px;
    height: 0;
    z-index: 5;
}

.feed-icon-bind.on {
    border-color: #f7a14a;
}

.feedState li span {
    display: block;
    line-height: 30px;
}

.feedState li.on {
    color: #f7a14a;
}

.feedState li.on .feedstate-icon {
    background-image: url("../images/icon-feedback.png");
}

.more-info {
    color: #999;
    background: none;
    font-size: 14px;
}

.more-info i {
    font-family: consolas;
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
}

.btn-comment {
    width: 72px;
    height: 30px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    position: absolute;
    right: 35px;
    top: 60px;
    background: #f7a14a;
}


/*个人设置*/

.conf-keyword {
    border: 1px solid #ccc;
    background: white;
}

.conf-keyword h2 {
    border-bottom: 1px dashed #ccc;
}

.conf-keyword form div {
    margin-top: 20px;
}

.conf-keyword form label {
    width: 118px;
    text-align: right;
    display: inline-block;
    margin-right: 30px;
}

.conf-keyword form input {
    width: 290px;
    padding-left: 10px;
    background: #f2f0f0;
    height: 36px;
    line-height: 36px;
}

.conf-keyword .varify-code {
    display: inline-block;
    vertical-align: middle;
    width: 74px;
}

.conf-account {
    border: 1px solid #ccc;
    background: white;
}

.trigle-up {
    position: absolute;
    left: 50px;
    top: -14px;
}

.safe-range {
    width: 382px;
    height: 10px;
    padding: 2px 1px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
}

.safe-range p {
    background: -webkit-linear-gradient(left, #f7524a, #f7a14a, #7ebe96);
    background: -moz-linear-gradient(left, #f7524a, #f7a14a, #7ebe96);
    background: -o-linear-gradient(left, #f7524a, #f7a14a, #7ebe96);
    background: -ms-linear-gradient(left, #f7524a, #f7a14a, #7ebe96);
    width: 80%;
    height: 10px;
    border-radius: 8px;
}

.safe-range .r-pointer {
    position: absolute;
    top: -40px;
    background: url("../images/icon-range.png") no-repeat top left;
    left: 326px;
}

.bind-acc {
    padding-top: 30px;
    border-top: 1px dotted #ccc;
    padding-bottom: 14px;
}

.bind-acc li {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-bottom: 20px;
}

.bind-acc li img {
    margin-right: 20px;
    vertical-align: top;
}

.bind-acc li button {
    font-size: 18px;
    background: none;
    color: #48c1e4;
}

.pageBot li {
    margin-left: 10px;
    background: #333;
    color: #fff;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.pageBot li.side-page {
    width: 60px;
}

.pageBot li.page-index {
    width: 30px;
}


/*评价弹框样式*/

.comment-box {
    width: 765px;
    background: white;
}

.comment-header {
    height: 66px;
    background: #f7a14a;
    color: white;
    font-size: 24px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 1em;
}

.comment-cont {
    width: 705px;
    height: 280px;
    margin: 18px auto 0;
    border: 1px solid #cbcbcb;
    display: block;
    font-size: 14px;
    line-height: 30px;
    padding: 10px;
}

.comment-operation {
    padding: 18px 0;
    text-align: center;
}

.comment-operation button {
    width: 120px;
    height: 40px;
    color: white;
    margin: 0 16px;
    font-size: 18px;
}


/*微信弹框样式*/

.wechat-bind {
    position: absolute;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5)
}

.wechat-bind .close {
    position: absolute;
    right: 10px;
    top: 13px;
}

.wechat-bind .close:hover {
    background: #999;
}

.wechat-bind .icon-close {
    background: url("../images/icon-bind-close.png") no-repeat center center;
    width: 26px;
    height: 25px;
}


/*头像编辑弹框样式*/

.porto-upload {
    position: absolute;
}

.porto-upload .close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 13px;
}

.porto-upload .close:hover {
    background: #999;
}

.zoom {
    width: 50px;
    height: 25px;
    background: #ffb265;
    color: white;
    font-size: 16px;
    line-height: 25px;
    margin: 0 10px;
    border-radius: 5px;
    text-align: center;
}

.imgBox {
    background: #fcfcfc;
    margin: 12px 0 0 20px;
    position: relative;
    overflow: hidden;
}

.imgBox .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 280px;
    height: 280px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.thumbBox {
    width: 198px;
    height: 198px;
    border: 1px solid #ffb265;
    margin: 23px auto 0;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.upload-block {
    width: 140px;
    padding: 90px 27px 0;
    text-align: center;
}

.upload-img {
    width: 114px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ffb265;
    font-size: 18px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.upload-img span {
    color: #ffb265;
    font-weight: bold;
    margin-right: 5px;
}

.upload-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.submit-btns button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    color: white;
    margin: 0 16px;
}

.scrollbar {
    width: 140px;
    height: 5px;
    border-radius: 3px;
    background: #999;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.scroll-btn {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: orange;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -6px;
    cursor: pointer;
}


/*底部样式，与首页基本*/

.bot-account {
    border-top: 2px solid #9d9d9d;
}


/*checkbox样式*/

.check-box {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 7px;
    border: 2px solid #999;
    vertical-align: middle;
    cursor: pointer;
}

.check-box.selected {
    background: url("../images/icon-checked3.png") no-repeat center center
}


/*图标样式*/

#app-porto .btn-edit {
    position: absolute;
    right: -36px;
    top: 8px;
    font-size: 0;
    cursor: pointer;
    width: 17px;
    height: 18px;
    background: url("../images/sprite.png") no-repeat -119px -3px;
}

.main .sideBox .pic-icon {
    line-height: 20px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.sideBox .icon-resume {
    background: url("../images/sprite.png") no-repeat -5px -133px;
}

.sideBox .icon-study {
    background: url("../images/sprite.png") no-repeat -64px -180px;
}

.sideBox .icon-collect {
    background: url("../images/sprite.png") no-repeat -90px -56px;
}

.sideBox .icon-apply {
    background: url("../images/sprite.png") no-repeat -2px -32px;
}

.sideBox .icon-vip {
    background: url("../images/icon-vip.png") no-repeat 0 0;
}

.sideBox .icon-coop {
    background: url("../images/icon-coop.png") no-repeat 0 0;
}

.sideBox .icon-config {
    background: url("../images/sprite.png") no-repeat -59px -79px;
}

.icon-safe {
    background: url("../images/sprite.png") no-repeat -62px -155px;
    height: 18px;
}

.bind-acc li .pic-icon {
    margin-right: 20px;
    vertical-align: top;
}

.bind-acc .icon-phone {
    background: url("../images/sprite.png") no-repeat -235px -4px;
    height: 40px;
    width: 40px;
}

.bind-acc .icon-email {
    background: url("../images/sprite.png") no-repeat -295px -124px;
    height: 40px;
    width: 40px;
}

.bind-acc .icon-wechat {
    background: url("../images/sprite.png") no-repeat -243px -125px;
    height: 40px;
    width: 40px;
}

.tarif-info .icon-crown-1 {
    background: url("../images/sprite.png") no-repeat -353px -4px;
    width: 36px;
    height: 31px;
}

.tarif-info .icon-crown-2 {
    background: url("../images/sprite.png") no-repeat -353px -43px;
    width: 36px;
    height: 31px;
}

.tarif-info .icon-crown-3 {
    background: url("../images/sprite.png") no-repeat -356px -83px;
    width: 36px;
    height: 31px;
}

.icon-vip-1 {
    background: url("../images/sprite.png") no-repeat -218px -179px;
    width: 25px;
    height: 25px;
}

.icon-vip-2 {
    background: url("../images/sprite.png") no-repeat -218px -222px;
    width: 25px;
    height: 25px;
}

.icon-vip-3 {
    background: url("../images/sprite.png") no-repeat -259px -269px;
    width: 25px;
    height: 25px;
}

.icon-vip-4 {
    background: url("../images/sprite.png") no-repeat -210px -264px;
    width: 41px;
    height: 25px;
}

.pop-major .icon-close {
    background: url("../images/sprite.png") no-repeat -61px -56px;
}

.porto-upload .close .icon-close {
    background: url("../images/sprite.png") no-repeat -322px -52px;
    width: 26px;
    height: 25px;
}


/*@media screen and (min-width:1200px) {
    #app-porto {
        width: 1200px;
    }
}*/