body {
    font-family: "微软雅黑", Arial
}

.container {
    background: url("../images/bg-cards.png") no-repeat bottom center #fff;
}

.container button {
    background: #f39330;
}

.container button[disabled='disabled'] {
    background: #ccc;
}


/*中间样式*/

.main {
    min-height: 520px;
}

.main .card .info01 {
    width: 160px;
    margin: 0 10px 30px 0;
}

.main .card input {
    border: 1px solid #d2d2d2;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
}

.main .card .birthday input {
    width: 78px;
}

i.bind {
    display: inline-block;
    border-top: 1px solid #d2d2d2;
    height: 0;
    width: 20px;
    margin: 0 5px;
}

.career input {
    width: 160px;
    margin: 0 10px 30px 0;
}

.address input {
    width: 118px;
    margin-right: 10px;
}

.main .card .selectee {
    position: relative;
    display: inline-block;
}

.main .card .selectee input {
    background: url("../images/trigle03.png") no-repeat center right;
}

.main .card .selectee input.hint-nullable {
    background: url("../images/trigle03.png") no-repeat center right #ffd2d2;
}

.main .card .selectee ul {
    position: absolute;
    left: 0;
    top: 36px;
    border: 1px solid #d2d2d2;
    font-size: 12px;
    padding-bottom: 5px;
    max-height: 150px;
    overflow: auto;
    background: #fff;
    display: none;
    z-index: 10;
}

.main .card .selectee ul li {
    line-height: 24px;
    height: 24px;
    cursor: pointer;
    padding-left: 10px;
}

.main .card .selectee ul li.over {
    background: #9bcce5;
    color: #fff;
}

.main .card .selectee ul li.selected {
    background: #2ea8e6;
    color: #fff;
}

.select-short input {
    width: 118px;
}

.main .card .save {
    display: block;
}

.main .uniCard input {
    margin: 0 10px 32px 0;
}

.main .uniCard .uni-input {
    margin-right: 13px;
}

.main .bsCard input {
    margin: 0 10px 32px 0;
}

.main .gender {
    display: inline-block;
    vertical-align: top
}

.main .gender span {
    display: inline-block;
    width: 40px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.main .gender span:first-child {
    border: 1px solid #2ea8e6;
}

.main .gender span.on:first-child {
    background: #2ea8e6;
    color: #fff;
}

.main .gender span:last-child {
    border: 1px solid #e62f4d;
}

.main .gender span.on:last-child {
    background: #e62f4d;
    color: #fff;
}


/*底部样式*/

.bot-nav li a {
    color: white;
}

.bot-nav li a:hover {
    color: #f7a14a;
    cursor: pointer
}

.bot-nav {
    display: inline-block;
}

.bot .barcode-text {
    display: inline-block;
    vertical-align: middle;
}

.pic-barcode {
    position: absolute;
    right: -7px;
    top: 12px;
    width: 83px;
    height: 83px;
}

.pic-barcode img {
    width: 100%
}

.city .pic-icon {
    background: url("../images/sprite.png") no-repeat -143px -186px;
    width: 11px;
    height: 8px;
}

.bot-infos .pic-icon {
    margin-right: 15px;
}

.bot-infos .icon-phone {
    width: 17px;
    height: 12px;
    background: url("../images/sprite.png") no-repeat -153px -114px;
}

.bot-infos .icon-address {
    width: 17px;
    height: 17px;
    background: url("../images/sprite.png") no-repeat -121px -103px;
}

.bot-infos .icon-email {
    width: 17px;
    height: 12px;
    background: url("../images/sprite.png") no-repeat -93px -160px;
}