/*下拉框select默认样式*/
.selectee{position: relative; display: inline-block; }
.selectee input{background: url("../images/icon-select.png") no-repeat right 10px; border:1px solid #ccc; padding-left: 10px;}
.selectee ul{position: absolute; left: 0; top:36px;border: 1px solid #d2d2d2;
    font-size: 12px; height: 149px; overflow: auto;background: #fff; display: none; z-index: 10;}
.selectee ul li{line-height: 24px; height: 24px; cursor: pointer; padding-left: 10px;}
.selectee ul li.over{background: #9bcce5; color:#fff;}
.selectee ul li.selected{background: #2ea8e6; color:#fff;}

/*专业弹框样式*/
.pop-major{border: 1px solid #ccc; position: absolute; font-size: 12px; background: white; z-index: 10; }
.major-input{display: inline-block; margin-right: 10px;}
.major-input input{background: url("../images/icon-select.png") no-repeat right 10px white; border:1px solid #ccc; padding-left: 10px;height: 24px; line-height: 24px;
white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pop-major-1{left: 0; }
.pop-major table{padding: 5px; }
.pop-major td{padding:5px 10px; cursor: pointer; word-break: keep-all;}
.pop-major td:hover{ background: #e6e6e6}
.pop-major-2{left: 220px;}
.pop-major-title{background: #e6e6e6; height: 30px; line-height: 30px; font-size: 14px; font-weight: normal; padding-left: 14px;}
.major-closer{height: 26px; line-height: 26px; margin: 2px 5px 0 0; width: 26px; display: inline-block; text-align: center; cursor: pointer; float: right;}
.major-closer:hover{ background:#d2d2d2;}
.major-table-box{height: 200px; overflow: auto; line-height: 20px;}

/*职能弹框样式*/
.pos-pop-box{border: 1px solid #d2d2d2; background: white;}
.pos-closer{width: 26px; height: 26px; line-height: 26px; margin-top: 5px; cursor: pointer;}
.pos-closer img{width: 12px; height: 12px;}
.pos-closer:hover{background: #d2d2d2;}
.selectItems li{padding:0 10px;height: 30px; border-radius: 15px; background: #f7a14a; color: white; line-height: 30px; margin-right: 10px;}
.selectItems img{width: 14px; height: 14px; float: right; vertical-align: middle; margin:7px 0 0 9px; cursor: pointer;}
.pos-navs{border-bottom: 1px solid #d2d2d2; color: #666;}
.pos-navs li{padding: 0 12px; border: 1px solid #d2d2d2; border-bottom: none; margin-right: 10px; position: relative; background: #f8f8f8; cursor: pointer;}
.pos-navs li img{ margin-left: 10px;}
.blank-bot{position: absolute; display: inline-block; width: 100%; height: 5px; left: 0; bottom: -3px; background: white; display: none;}
.pos-navs li.on{background: white; }
.pos-navs li.on .blank-bot{display: inline-block;}
.pos-nav-cont{padding: 14px 15px; height: 224px; overflow: auto;}
.pos-nav-cont li{width: 180px;line-height: 30px; text-align: center; color:#666; }
.pos-nav-cont span{display: inline-block; padding:0 5px; cursor: pointer;}
.pos-nav-cont span:hover{background: #ddf8fe; color: #3aade8;}
.pos-pop-bot button{width: 60px; height: 30px; border: 1px solid #2ea8e6; color: #2ea8e6; background: white; margin: 0 10px;}
.pos-pop-bot button:hover{background:#2ea8e6; color: white;}
