/*下拉框select默认样式*/

.selectee {
    position: relative;
    display: inline-block;
}

.selectee input {
    background: url("../images/icon-select.png") no-repeat right 10px;
    border: 1px solid #ccc;
    padding-left: 10px;
    width: 100%;
}

.selectee input.hint-nullable {
    background: url("../images/icon-select.png") no-repeat right 10px #ffd2d2;
}

.selectee ul {
    position: absolute;
    left: 0;
    top: 36px;
    border: 1px solid #d2d2d2;
    font-size: 12px;
    padding-bottom: 5px;
    max-height: 140px;
    overflow: auto;
    background: #fff;
    display: none;
    z-index: 10;
}

.selectee ul li {
    line-height: 24px;
    height: 24px;
    cursor: pointer;
    padding-left: 10px;
}

.selectee ul li.over {
    background: #9bcce5;
    color: #fff;
}

.selectee ul li.selected {
    background: #2ea8e6;
    color: #fff;
}


/*页码样式*/

.pagination ul {
    overflow: hidden;
}

.pagination ul li {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.pagination a {
    display: inline-block;
    background: #999;
    color: #fff;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.pagination a.highLight {
    background: #333;
}

.pagination a:hover {
    background: #333;
}

.pagination .lastPage {
    width: 60px;
}

.pagination .nextPage {
    width: 60px;
}

.pagination .page {
    width: 30px;
}


/*公共底部样式*/

.common-footer .barcode-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

.footer-nav {
    display: inline-block;
    color: #797979;
    height: 34px;
    line-height: 34px;
}

.footer-nav a {
    color: #797979;
}

.footer-nav a:hover {
    color: orange;
    cursor: pointer
}

.footer-contact li {
    margin: 0 30px;
}

.footer-contact .pic-icon {
    margin-right: 15px;
}

.footer-contact .icon-phone {
    width: 20px;
    height: 14px;
    background: url("../images/sprite.png") no-repeat -27px -3px;
}

.footer-contact .icon-address {
    width: 20px;
    height: 20px;
    background: url("../images/sprite.png") no-repeat -89px -102px;
}

.footer-contact .icon-email {
    width: 20px;
    height: 14px;
    background: url("../images/sprite.png") no-repeat -117px -34px;
}

.footer-rights {
    font-size: 14px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #797979;
}

.barcode-text {
    width: 15px;
    font-size: 14px;
}

.footer-barcode .pic-wrapper {
    margin-left: 16px;
}


/*专业弹框样式*/

.pop-major {
    border: 1px solid #ccc;
    position: absolute;
    font-size: 12px;
    background: white;
    z-index: 10;
}

.major-input {
    display: inline-block;
    margin-right: 10px;
}

.major-input input {
    background: url("../images/icon-select.png") no-repeat right 10px;
    border: 1px solid #ccc;
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.major-input input.hint-nullable {
    background: url("../images/icon-select.png") no-repeat right 10px #ffd2d2;
}

.pop-major-1 {
    left: 0;
}

.pop-major table {
    padding: 5px;
}

.pop-major td {
    padding: 5px 10px;
    cursor: pointer;
    word-break: keep-all;
}

.pop-major td:hover {
    background: #e6e6e6
}

.pop-major-2 {
    left: 220px;
}

.pop-major-title {
    background: #e6e6e6;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
    padding-left: 14px;
}

.major-closer {
    height: 26px;
    line-height: 26px;
    margin: 2px 5px 0 0;
    width: 26px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    float: right;
}

.major-closer:hover {
    background: #d2d2d2;
}

.major-table-box {
    height: 190px;
    overflow: auto;
    line-height: 20px;
}

.major-closer .icon-close {
    width: 12px;
    height: 12px;
    background: url("../images/sprite.png") no-repeat -61px -56px;
}


/*职能弹框样式*/

.pos-pop-box {
    border: 1px solid #d2d2d2;
    background: white;
}

.pos-closer {
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin-top: 5px;
    cursor: pointer;
}

.pos-closer .icon-close {
    width: 12px;
    height: 12px;
    background: url("../images/sprite.png") no-repeat -61px -56px;
}

.pos-closer:hover {
    background: #d2d2d2;
}

.selectItems li {
    padding: 0 10px;
    height: 30px;
    border-radius: 15px;
    background: #f7a14a;
    color: white;
    line-height: 30px;
    margin-right: 10px;
}

.selectItems img {
    width: 14px;
    height: 14px;
    float: right;
    vertical-align: middle;
    margin: 7px 0 0 9px;
    cursor: pointer;
}

.pos-navs {
    border-bottom: 1px solid #d2d2d2;
    color: #666;
}

.pos-navs li {
    padding: 0 12px;
    border: 1px solid #d2d2d2;
    border-bottom: none;
    margin-right: 10px;
    position: relative;
    background: #f8f8f8;
    cursor: pointer;
}

.pos-navs li .pic-icon {
    margin-left: 10px;
}

.blank-bot {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -3px;
    background: white;
    display: none;
}

.pos-navs li.on {
    background: white;
}

.pos-navs li.on .blank-bot {
    display: inline-block;
}

.pos-nav-cont {
    padding: 14px 15px;
    height: 224px;
    overflow: auto;
}

.pos-nav-cont li {
    width: 180px;
    line-height: 30px;
    text-align: center;
    color: #666;
}

.pos-nav-cont span {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}

.pos-nav-cont span:hover {
    background: #ddf8fe;
    color: #3aade8;
}

.pos-pop-bot button {
    width: 60px;
    height: 30px;
    border: 1px solid #2ea8e6;
    color: #2ea8e6;
    background: white;
    margin: 0 10px;
}

.pos-pop-bot button:hover {
    background: #2ea8e6;
    color: white;
}


/*消息弹框样式*/

.msg-box {
    width: 888px;
    position: absolute;
    top: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.msg-box-head {
    background: #ffa800;
    height: 86px;
    line-height: 86px;
    font-size: 30px;
    color: white;
    text-align: center;
    position: relative;
}

.msg-box-head .icon-wrapper {
    float: right;
    position: absolute;
    top: 25px;
    right: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.msg-box-head .icon-wrapper:hover {
    background: #ef8f30;
}

.msg-box .msg-date {
    font-size: 18px;
    padding-left: 30px;
}

.msg-box-head .icon-return {
    position: absolute;
    top: 30px;
    left: 30px;
    background: url("../images/sprite.png") no-repeat -191px -2px;
    width: 32px;
    height: 29px;
    cursor: pointer;
}

.msg-box-head .icon-email {
    background: url("../images/sprite.png") no-repeat -147px -5px;
    margin-right: 21px;
    width: 28px;
    height: 20px;
}

.msg-box-head .icon-close {
    background: url("../images/icon-fresh-close.png") no-repeat center center;
    width: 26px;
    height: 25px;
    cursor: pointer;
}

.msg-body li {
    font-size: 14px;
    padding-left: 30px;
    border-top: 1px solid #fbd0a4;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
}

.msg-body li span {
    display: inline-block;
    vertical-align: middle;
}

.msg-body li .msg-name {
    width: 15%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.msg-body li .msg-cont {
    width: 60%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.msg-body li .msg-time {
    width: 12%;
    text-align: center
}

.msg-body li .msg-delete {
    width: 7%;
    text-align: center
}

.msg-body li:nth-child(2n) {
    background: white;
}

.msg-body li:nth-child(2n+1) {
    background: #fcf1e3;
}

.msg-body li:last-child {
    border-bottom: 1px solid #fbd0a4;
}

.msg-detail p.msg-detail-cont {
    font-size: 14px;
    padding: 10px 42px;
}

.msg-box .pagination {
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    background: white;
    text-align: center;
}

.msg-box .pagination ul {
    margin-left: 230px;
}

.msg-box .pagination ul li {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.msg-box .pagination a {
    background: none;
    color: black;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.msg-box .pagination a.highLight {
    color: orange;
    background: none;
}

.msg-box .pagination a:hover {
    color: orange
}

.msg-box .pagination .page {
    width: 10px;
}

.msg-bot {
    position: relative;
}

.msg-bot .clear-all {
    position: absolute;
    color: orange;
    cursor: pointer;
    right: 40px;
    bottom: 25px;
    font-size: 16px;
}

.msg-detail-cont {
    height: 266px;
    background: white;
    padding-top: 25px;
    line-height: 25px;
}

.msg-detail-bot {
    background: #e0ded7;
    height: 50px;
    line-height: 50px;
    text-align: center;
}


/*高校企业名片样式*/

.minicard {
    width: 925px;
    height: 490px;
    font-size: 14px;
    background: white;
}

.minicard .card-header {
    background: #d6d5d5;
    height: 40px;
    line-height: 40px;
}

.minicard .card-header-title {
    display: block;
    background: #f7b632;
    color: white;
    font-size: 14px;
    width: 114px;
    text-align: center;
}

.minicard .card-body {
    padding: 0 30px;
    height: 370px;
    overflow: auto;
}

.minicard .card-avatar {
    border: 1px solid #999;
    width: 126px;
    height: 104px;
    margin-top: 40px;
    margin-right: 30px;
}

.minicard .card-avatar img {
    width: 100%;
    height: 100%;
}

.minicard .body-top {
    padding-bottom: 38px;
    line-height: 30px;
}

.minicard .body-title {
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    margin-top: 26px;
}

.minicard .body-bot {
    border-top: 1px solid #d3d3d3;
    font-size: 12px;
}

.minicard .body-bot p {
    text-indent: 2em;
}

.minicard .body-bot h3 {
    line-height: 40px;
    text-align: center;
    margin-top: 4px;
}

.minicard .card-operations {
    height: 78px;
    line-height: 78px;
    padding: 0 30px;
    text-align: right;
    border-top: 1px solid #d3d3d3;
}

.minicard .card-operations button {
    width: 80px;
    height: 30px;
    margin-right: 14px;
    color: white;
    border-radius: 10px;
}

.minicard .button-agree {
    background: #2bb20b;
}

.minicard .button-deny {
    background: #de0b0b;
}


/*更换手机邮箱弹框*/

.bind-change {
    width: 500px;
    position: absolute;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5)
}

.bind-title {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: white;
    padding-left: 30px;
    background: #a7d7ef
}

.bind-change .close {
    float: right;
    line-height: 40px;
    height: 40px;
    width: 40px;
    margin: 13px 10px 0 0;
}

.bind-change .close:hover {
    background: #999;
}

.bind-form {
    background: white;
    padding: 8px 0 60px;
}

.bind-form-title {
    height: 83px;
    line-height: 83px;
    font-size: 18px;
    text-align: center;
}

.bind-change input {
    height: 44px;
    background: #f3f3f3;
    font-size: 14px;
    padding-left: 10px;
}

.bind-change .input-mobile,
.bind-change .input-email,
.bind-change .input-password {
    width: 290px;
}

.bind-change .input-code {
    width: 194px;
}

.bind-change .code-request {
    width: 96px;
    height: 44px;
    font-size: 14px;
    background: #a7d7ef;
    color: white;
}

.bind-change p {
    text-align: center;
    margin-bottom: 20px;
}

.bind-change .btn-submit {
    padding-top: 20px;
    text-align: center;
}

.bind-change button[disabled] {
    background: #ccc;
}

.bind-change .btn-submit button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    color: #fff;
}

.bind-change .btn-submit button:first-child {
    background: #a7d7ef;
}

.bind-change .btn-submit button:last-child {
    background: #f7a14a;
    margin-left: 40px;
}

.bind-change .icon-close {
    background: url("../images/icon-bind-close.png") no-repeat center center;
    width: 26px;
    height: 25px;
}


/*用户中心修改密码样式*/

.conf-psw-title {
    padding: 14px 0 0 40px;
    height: 52px;
    line-height: 52px;
    font-size: 24px;
}

.conf-psw-form {
    padding-left: 40px;
    font-size: 16px;
    line-height: 40px;
}

.conf-psw-varifycode {
    height: 36px;
    line-height: 36px;
    background: #f2f0f0;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 74px;
}

.conf-psw-varifycode img {
    height: 100%;
}

.conf-psw-confirm {
    text-align: center;
    padding-top: 20px;
}

.conf-psw-confirm button {
    height: 40px;
    line-height: 40px;
    width: 100px;
    font-size: 18px;
    color: white;
    margin-bottom: 40px;
    background: #f7a14a;
}