<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>企业招聘详情页</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet">
    <link href="css/widget.css" rel="stylesheet">
    <link href="css/detail-comm.css" rel="stylesheet">
</head>

<body>
    <div class="top bg-dunkel" id="app-top" v-cloak>
        <div class="inner clearfix">
            <h3 class="fl LH-H30 fSize14 color-white">您好，欢迎来到校企职通车</h3>
            <div class="top-right fr LH-H30 fSize14 color-white" v-show="!isLogin">
                <p class="login fl">
                    <span @click="loginEv">【登录】</span><i>|</i><span style="color: red" @click="regisEv">【注册】</span>
                </p>
                <div class="fl fSize14 top-acc color-white"><i class="pic-icon W17 H20"></i>个人中心</div>
            </div>
            <ul class="account fr lis-inline color-white fSize14 LH-H30" v-show="isLogin&&userType!='0'">
                <li style="margin-right: 14px;" @click="publish">免费发布</li>
                <li><span style="margin-right:14px;">|</span>网站合作<i class="pic-icon maR10 icon-dropdown"></i>
                    <dl>
                        <dd><a href="footer-page.html?recruit">校企合作</a></dd>
                        <dd><a href="footer-page.html?coop">校园推广</a></dd>
                        <dd @click="toCenter('vip')">VIP中心</dd>
                    </dl>
                </li>
                <li><span style="margin-right:14px">|</span>{{userName}}<i class="pic-icon icon-dropdown"></i>
                    <dl>
                        <dd @click="toCenter('require')">我的发布</dd>
                        <dd @click="toCenter('combi')">我的合作</dd>
                        <dd @click="toCenter('collect')">我的收藏</dd>
                        <dd @click="logout">退出</dd>
                    </dl>
                </li>
            </ul>
            <ul class="account fr lis-inline color-white fSize12 LH-H30" v-show="isLogin&&userType=='0'">
                <li @click="toCenter('')">我的简历</li>
                <li><span style="margin:0 12px">|</span><span @click="toCenter('jobBox')">投递箱</span></li>
                <li><span style="margin:0 12px">|</span><span @click="toCenter('collec-study')">收藏夹</span><span style="margin-left:12px">|</span></li>
                <li style="padding-left:12px;">{{userName}}<i class="pic-icon maR10 icon-dropdown"></i>
                    <dl>
                        <dd @click="toCenter('classBox')">我的学习</dd>
                        <dd @click="toCenter('conf-keyword')">账号设置</dd>
                        <dd @click="logout">退出</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div id="app-banner" v-cloak>
        <h2 class="inner LH-H110 fSize30 color-grayH maB3"><img src="images/logo.png" class="v-mid H47 maR17 cur-pointer" @click.stop="homeLink" />校企职通车</h2>
        <div class="banner bg-gray-f2 H176">
            <div class="inner clearfix">
                <div class="fl">
                    <h2 class="LH-H76 fSize40 color-gray3">{{increcdata.title}}</h2>
                    <ul class="lis-inline LH42 W440 brief-info fSize14 maB14">
                        <li class="W174"><i class="pic-icon icon-eye"></i>浏览次数 ：{{increcdata.viewed}}</li>
                        <li><i class="pic-icon icon-apply"></i>申请次数 ：{{increcdata.applied}}人申请</li>
                        <li><i class="pic-icon icon-post"></i>发布时间 ：{{increcdata.publicDate}}</li>
                    </ul>
                </div>
                <div class="fr">
                    <div class="maT64 banner-btns">
                        <button class="btn-collec v-mid bg-white" @click="collect($event.target)"><i class="pic-icon"></i><span class="maR10">收 藏</span></button>
                        <button class="bg-orange4 color-white v-mid maL26 co-apply btn-apply" @click="coApply($event.target)">投个简历</button>
                    </div>
                    <p class="share LH-H58 t-right">
                        <span class="fSize14">分享：</span>
                        <i class="pic-icon"></i>
                        <i class="pic-icon"></i>
                        <i class="pic-icon"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="main" id="app-main" v-cloak>
        <div class="inner">
            <div class="clearfix">
                <div class="fl descript W828 maT9 pos-descript">
                    <ul class="lis-inline">
                        <li><label>职位名称：</label>{{increcdata.pos}}</li>
                        <li><label>薪资待遇：</label><span class="color-orange-f7">{{increcdata.salary}}</span></li>
                        <li><label>职位类别：</label>{{increcdata.posType}}</li>
                        <li><label>学历要求：</label>{{increcdata.scolar}}</li>
                        <li><label>性别要求：</label>{{increcdata.gender}}</li>
                        <li><label>工作年限：</label>{{increcdata.worksexp}}</li>
                        <li><label>招聘人数：</label>{{increcdata.posAmount}}人</li>
                    </ul>
                    <p class="LH40"><label>联系电话：</label><span class="fSize24 color-orange-f7 v-mid">{{showContact(increcdata.contact)}}</span><button class="contact-btn" @click="showPhone">点击查看完整号码</button></p>
                    <p class="LH40 fSize14"><label>联系人：</label>{{increcdata.contactP}}</p>
                    <p class="LH52 fSize14"><label>招聘会地点：</label>{{increcdata.recruitAddr}}</p>
                    <div class="LH30"><label>福利待遇：</label>
                        <ul class="lis-inline disInline pos-welfares v-mid">
                            <li v-for="(item,index) in increcdata.welfare">{{item}}<i v-if="index<increcdata.welfare.length-1" style="margin:0 7px;">|</i></li>
                        </ul>
                    </div>
                </div>
                <div class="fl">
                    <div class="W170 H318 uni-porto t-center">
                        <div class="pic-wrapper W142 inc-logo maT30"><img src="images/logo.png" /> </div>
                        <h3 class="LH28 fSize16 color-gray79 t-center W174 disInline" style="margin:9px auto 0">{{increcdata.inc}}</h3>
                        <ul class="basic-info t-left fSize14 color-gray79 maT15 pos-basic">
                            <li><i class="pic-icon icon-incprops"></i>企业性质：<span>{{increcdata.incProps}}</span> </li>
                            <li><i class="pic-icon icon-people"></i>规模：<span>{{increcdata.incScale}}</span> </li>
                            <li><i class="pic-icon icon-area"></i>领域：<span>{{increcdata.incArea}}</span> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="fl">
                    <detail-table tabletype="4" :options="tabledata" @applycallback="applyswitch" @cmtcallback="cmtswitch"></detail-table>
                </div>
                <div class="ads W166 H359 maT28 bg-white fr" style="margin-left:0">
                    <h3 class="LH-H25 fSize14 maL20">广告推广</h3>
                    <div class="ad-pic H132 W132"><img src="images/ads-pic01.png" /></div>
                    <div class="ad-pic H132 W132"><img src="images/ads-pic02.png" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bot paTop8 t-center bot-account">
        <div class="inner clearfix">
            <div class="fl">
                <ul class="lis-inline bot-nav color-gray79 LH-H34 fSize12">
                    <li><a href="footer-page.html?descript">关于校企</a>-</li>
                    <li><a href="footer-page.html?coop">网站合作</a>-</li>
                    <li><a href="footer-page.html?help">帮助中心</a>-</li>
                    <li><a href="footer-page.html?employ">招贤纳士</a>-</li>
                    <li><a href="footer-page.html">友情链接</a>-</li>
                    <li><a href="footer-page.html">教育网</a></li>
                </ul>
                <ul class="lis-inline fSize12 bot-infos">
                    <li class="maR100"><i class="pic-icon icon-phone"></i>电话：152 6706 8921</li>
                    <li class="maR100"><i class="pic-icon icon-address"></i>杭州市滨江区六合路368号海创基地北三楼B3077</li>
                    <li><i class="pic-icon icon-email"></i>邮箱：xiaoqiztc@yeah.net</li>
                </ul>
                <p class="fSize12 t-center LH-H40 color-gray79">©2016 XxiaoQi 京ICP备456123789号-2 京公网安备12465789123号</p>
            </div>
            <div class="fr">
                <p class="fSize14 W15 barcode-text">关注我们</p>
                <div class="pic-wrapper maL16">
                    <img src="images/barcode.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="app-modal" v-show="showModal" v-cloak>
        <div class="dlg-success dlg W670 paBot4  b-Radius5" v-show="showSucc">
            <h2 class="LH-H54 fSize20 color-white paLeft62">申请状态<i class="pic-wrapper fr maR17 cur-pointer closer" @click="closeSuc"><img src="images/icon-close2.png" class="W30"/> </i></h2>
            <div class="H348 W660 bg-white maCenter t-center succ-msg">
                <p class="LH-H66 maT6 fSize24">合作已发出，请静候佳音</p>
                <button class="W182 H48 color-white fSize20 b-Radius8 confirm" @click="confirmSuc">确 定</button>
                <div class="maT28">
                    <img src="images/pic-success_03.jpg" height="175" />
                </div>
            </div>
            <div class="pic-wrapper stamp"><img src="images/icon-complete.png" height="90" /></div>
        </div>
        <div class="dlg-login dlg W670 paBot4 b-Radius5" v-show="showLogin">
            <h2 class="LH-H54 fSize20 color-white paLeft43">登录<i class="pic-wrapper fr maR17 cur-pointer closer" @click="closeLog"><img src="images/icon-close2.png" class="W30"/> </i></h2>
            <div class="H348 W660 bg-white maCenter t-center clearfix">
                <form class="login-form fl paTop4 paRight14">
                    <div><input type="text" placeholder="请输入已验证手机/邮箱" v-model="login.account" /></div>
                    <div><input type="password" placeholder="请输入登录密码" v-model="login.password" /></div>
                    <p class="LH-H50 maT6 fSize14 t-right">忘记密码？</p>
                    <button class="W226 H56 fSize20 bg-orange4 color-white" @click.prevent="loginEv">登 录</button>
                </form>
                <div class="regis fl H298 maT11 paLeft28 t-left fSize14 paTop18">
                    <p class="LH-H70">还没有校企账号？</p>
                    <a class="LH-H26 login-link" href="login.html?newAccount=1">请立即注册<i class="maL14 pic-icon"></i></a>
                    <p class="maT60 LH-H56">使用以下账号直接登录</p>
                    <p class="paTop25 fast-login t-center"><i class="pic-icon icon-qq"></i><i class="pic-icon icon-weibo" style="margin-right:32px;"></i><i class="pic-icon icon-wechat"></i></p>
                </div>
            </div>
        </div>
    </div>
    <script src="js/libs/jquery-3.1.0.min.js"></script>
    <script src="js/libs/vue.js"></script>
    <script src="js/libs/sweetalert.min.js"></script>
    <script src="js/common/common.js"></script>
    <script src="js/components/pagination.js"></script>
    <script src="js/components/dropdown.js"></script>
    <script src="js/components/detail-table.js"></script>
    <script src="js/pages/detail-increcruit.js"></script>
</body>

</html>