<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>岗位详情页</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/widget.css" rel="stylesheet">
    <link href="css/detail-comm.css" rel="stylesheet">
</head>
<body>
     <div class="top bg-dunkel" id="app-top">
         <div class="inner clearfix">
             <h3 class="fl LH-H30 fSize14 color-white">您好，欢迎来到校企职通车</h3>
             <div class="top-right fr LH-H30 fSize14 color-white" v-show="!isLogin">
                 <p class="login fl">
                     <span @click="loginEv">【登录】</span><i>|</i><span style="color: red" @click="regisEv">【注册】</span>
                 </p>
                 <div class="fl fSize14 top-acc color-white"><i class="pic-icon W17 H20"></i>个人中心</div>
             </div>
             <ul class="account fr lis-inline color-white fSize14 LH-H30" v-show="isLogin&&userType!='0'">
                 <li style="margin-right: 14px;" @click="publish">免费发布</li>
                 <li><span style="margin-right:14px;">|</span>网站合作<i class="pic-icon maR10 icon-dropdown"></i>
                     <dl>
                         <dd><a href="footer-page.html?recruit">校企合作</a></dd>
                         <dd><a href="footer-page.html?coop">校园推广</a></dd>
                         <dd @click="toCenter('vip')">VIP中心</dd>
                     </dl>
                 </li>
                 <li><span style="margin-right:14px">|</span>{{userName}}<i class="pic-icon icon-dropdown"></i>
                     <dl>
                         <dd @click="toCenter('require')">我的发布</dd>
                         <dd @click="toCenter('combi')">我的合作</dd>
                         <dd @click="toCenter('collect')">我的收藏</dd>
                         <dd @click="logout">退出</dd>
                     </dl>
                 </li>
             </ul>
             <ul class="account fr lis-inline color-white fSize12 LH-H30" v-show="isLogin&&userType=='0'">
                 <li @click="toCenter('')">我的简历</li>
                 <li><span style="margin:0 12px">|</span><span @click="toCenter('jobBox')">投递箱</span></li>
                 <li><span style="margin:0 12px">|</span><span @click="toCenter('collec-study')">收藏夹</span><span style="margin-left:12px">|</span></li>
                 <li style="padding-left:12px;">江玉海<i class="pic-icon maR10 icon-dropdown"></i>
                     <dl>
                         <dd @click="toCenter('classBox')">我的学习</dd>
                         <dd @click="toCenter('conf-keyword')">账号设置</dd>
                         <dd @click="logout">退出</dd>
                     </dl>
                 </li>
             </ul>
         </div>
     </div>
<h2 class="inner LH-H110 fSize30 color-grayH maB3"><img src="images/logo.png" class="v-mid H47 maR17"/>校企职通车</h2>
<!-- <h2 class="maT30 fSize30 LH47 color-grayH"><img class="H47 maR17 v-mid" src="images/logo.png"/>校企职通车</h2> -->
<div class="banner bg-gray-f2 H176" id="app-banner">
    <div class="inner clearfix">
        <div class="fl">
            <h2 class="LH-H76 fSize40 color-gray3">{{posdata.pos}}</h2>
            <ul class="lis-inline LH42 W440 brief-info fSize14 maB14">
                <li class="W174"><i class="pic-icon icon-eye"></i>浏览次数 ：{{posdata.viewed}}</li>
                <li><i class="pic-icon icon-apply"></i>申请次数 ：{{posdata.applied}}人申请</li>
                <li><i class="pic-icon icon-post"></i>发布时间 ：{{posdata.publicDate}}</li>
            </ul>
        </div>
        <div class="fr">
            <div class="maT64 banner-btns">
                <button class="btn-collec v-mid bg-white"><i class="pic-icon"></i><span class="maR10">收 藏</span></button>
                <button class="bg-orange4 color-white v-mid maL26 co-apply" @click="coApply">投个简历</button>
            </div>
            <p class="share LH-H58 t-right">
                <span class="fSize14">分享：</span>
                <i class="pic-icon"></i>
                <i class="pic-icon"></i>
                <i class="pic-icon"></i>
            </p>
        </div>
    </div>
</div>
<div class="main" id="app-main">
    <div class="inner">
        <div class="clearfix">
            <div class="fl descript W828 maT9 pos-descript">
                <ul class="lis-inline">
                     <li><label>职位名称：</label>{{posdata.pos}}</li><li><label>薪资待遇：</label><span class="color-orange-f7">{{posdata.salary}}</span></li>
                     <li><label>职位类别：</label>{{posdata.posType}}</li><li><label>学历要求：</label>{{posdata.scolar}}</li>
                     <li><label>性别要求：</label>{{posdata.gender}}</li><li><label>工作年限：</label>{{posdata.worksexp}}</li>
                     <li><label>招聘人数：</label>{{posdata.posAmount}}人</li>
                </ul>
                <p class="LH40"><label>联系电话：</label><span class="fSize24 color-orange-f7 v-mid">{{showContact(posdata.contact)}}</span><button class="contact-btn">点击查看完整号码</button></p>
                <p class="LH52 fSize14"><label>工作地点：</label>{{posdata.address}}</p>
                <div class="LH30"><label>福利待遇：</label><ul class="lis-inline disInline pos-welfares v-mid"><li v-for="(item,index) in posdata.welfare">{{item}}<i v-if="index<posdata.welfare.length-1" style="margin:0 7px;">|</i></li></ul></div>
            </div>
            <div class="fl">
                <div class="W170 H318 uni-porto t-center">
                     <div class="pic-wrapper W142 inc-logo maT30 "><img src="images/logo.png"/></div>
                     <h3 class="LH28 fSize16 color-gray79 t-center W174 disInline" style="margin:9px auto 0">{{posdata.inc}}</h3>
                    <ul class="basic-info t-left fSize14 color-gray79 maT15 pos-basic">
                        <li><i class="pic-icon icon-incprops"></i>企业性质：<span>{{posdata.incProps}}</span> </li>
                        <li><i class="pic-icon icon-people"></i>规模：<span>{{posdata.incScale}}人</span> </li>
                        <li><i class="pic-icon icon-area"></i>领域：<span>{{posdata.incArea}}</span> </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="clearfix">
             <div class="fl">
                  <ul class="result-tabs lis-inline LH-H54 t-center color-gray79 fSize16 maT28">
                      <li cont="cont-demand" class="on">职位描述</li>
                      <li cont="cont-desc">企业简介</li>
                      <li cont="cont-apply" >申请记录<i class="msg-info">10</i></li>
                      <li cont="cont-comment">企业评价<i class="msg-info">11</i></li>
                  </ul>
                  <ul class="tab-cont fSize14 LH38 color-gray6 cont-demand" style="display:block">
                      <li><label>企业性质：</label>私营</li>
                      <li><label>企业规模：</label>200人以上</li>
                      <li><label>企业所经营行业：</label>家装设计</li>
                      <li><label>校企合作模式：</label>希望企业能够到校培训，学校提供场地组织学生，在选修课上进行联合实战培训，同时能够
                          给到岗位</li>
                      <li><label>学校需求培训专业：</label>设计</li>
                      <li><label>学校需求企业提供岗位数：</label>50以上</li>
                      <li><label>联合培养周期：</label>半年内</li>
                  </ul>
                  <p class="tab-cont LH42 fSize14 color-gray6 cont-desc">浙江大学（Zhejiang University），简称浙大。学校位于“人间天堂”杭州、美丽的西子湖畔，是一所具有百年历史底蕴的教育部直属全国重点大学，是中国首批7所“211工程”、首批9所“985工程”、“珠峰计划”重点建设的名牌大学之一，也是中国大学“常春藤联盟”（C9联盟）的成员。前身是成立于1897年的求是书院，为中国人自己最早创办的高等学府之一。1928年更名为国立浙江大学。中华民国时期，浙江大学曾为中国最顶尖的几所大学之一，被英国著名学者李约瑟称誉为“东方剑桥”。如今，有着百年辉煌历史的浙江大学，正通过开拓与进取，努力建设成为具有国际先进水平的世界一流大学。2016年2月，浙江大学在2016国内高校保研率排名中排第十。2016年中国一流大学排行榜排第三。</p>
                  <div class="cont-apply tab-cont">
                      <table class="LH48 fSize12 result-table">
                          <tr class="bg-gray-f2 color-gray79 fSize14"><th class="W200">申请企业</th><th class="W400">申请时间</th><th class="W200">状态</th></tr>
                          <tr v-for="item in posApplyRec">
                               <td>{{item.name}}</td>
                               <td>{{item.date}}</td>
                               <td :class="viewCss(item.state)">{{item.state}}</td>
                          </tr>
                      </table>
                      <div class="paBot33">
                           <pagination :showpages="4" :totalpages="8" type="" @topage="topage" class="maT28 fSize14 maL150"></pagination>
                      </div>
                  </div>
                  <ul class="tab-cont cont-comment">
                      <li class="clearfix" v-for="item in uniComment">
                          <div class="porto fl fSize14 color-gray6 t-center maL28 maR28">
                              <img :src="item.portUrl"/>
                              <p>XXX</p>
                          </div>
                          <div class="fl fSize14">
                              <h4 class="maT22 LH-H48 color-gray79">[评价]</h4>
                              <p class="color-gray6 LH25">{{item.cont}}</p>
                          </div>
                          <span class="time">{{item.date}}</span>
                      </li>
                  </ul>
             </div>
             <div class="ads W166 H359 maT28 bg-white fr" style="margin-left:0">
                 <h3 class="LH-H25 fSize14 maL20">广告推广</h3>
                 <div class="ad-pic H132 W132"><img src="images/ads-pic01.png"/></div>
                 <div class="ad-pic H132 W132"><img src="images/ads-pic02.png"/></div>
             </div>
        </div>
    </div>
</div>
<div class="bot paTop8 t-center bot-account">
    <div class="inner clearfix">
       <div class="fl">
            <ul class="lis-inline bot-nav color-gray79 LH-H34 fSize12">
                <li><a href="footer-page.html?descript">关于校企</a>-</li>
                <li><a href="footer-page.html?coop">网站合作</a>-</li>
                <li><a href="footer-page.html?help">帮助中心</a>-</li>
                <li><a href="footer-page.html?employ">招贤纳士</a>-</li>
                <li><a href="footer-page.html">友情链接</a>-</li>
                <li><a href="footer-page.html">教育网</a></li>
            </ul>
            <ul class="lis-inline fSize12 bot-infos">
                <li class="maR100"><i class="pic-icon icon-phone"></i>电话：152 6706 8921</li>
                <li class="maR100"><i class="pic-icon icon-address"></i>杭州市滨江区六合路368号海创基地北三楼B3077</li>
                <li><i class="pic-icon icon-email"></i>邮箱：xiaoqiztc@yeah.net</li>
            </ul>
            <p class="fSize12 t-center LH-H40 color-gray79">©2016 XxiaoQi 京ICP备456123789号-2 京公网安备12465789123号</p>
       </div>
       <div class="fr">
            <p class="fSize14 W15 barcode-text">关注我们</p>
            <div class="pic-wrapper maL16">
                <img src="images/barcode.png" />
            </div>
       </div>
    </div>
</div>
<div class="modal" id="app-modal" v-show="showModal">
    <div class="dlg-success dlg W670 paBot4  b-Radius5" v-show="showSucc">
        <h2 class="LH-H54 fSize20 color-white paLeft62">申请状态<i class="pic-wrapper fr maR17 cur-pointer closer" @click="closeSuc"><img src="images/icon-close2.png" class="W30"/> </i></h2>
        <div class="H348 W660 bg-white maCenter t-center succ-msg">
            <p class="LH-H66 maT6 fSize24">合作已发出，请静候佳音</p>
            <button class="W182 H48 color-white fSize20 b-Radius8 confirm" @click="confirmSuc">确 定</button>
            <div class="maT28">
                <img src="images/pic-success_03.jpg" height="175"/>
            </div>
        </div>
        <div class="pic-wrapper stamp"><img src="images/icon-complete.png" height="90"/></div>
    </div>
    <div class="dlg-login dlg W670 paBot4 b-Radius5" v-show="showLogin">
        <h2 class="LH-H54 fSize20 color-white paLeft43">登录<i class="pic-wrapper fr maR17 cur-pointer closer" @click="closeLog"><img src="images/icon-close2.png" class="W30"/> </i></h2>
        <div class="H348 W660 bg-white maCenter t-center clearfix">
            <form class="login-form fl paTop4 paRight14">
                <div><input type="text" placeholder="请输入已验证手机/邮箱"/></div>
                <div><input type="password" placeholder="请输入登录密码"/></div>
                <p class="LH-H50 maT6 fSize14 t-right">忘记密码？</p>
                <button class="W226 H56 fSize20 bg-orange4 color-white">登 录</button>
            </form>
            <div class="regis fl H298 maT11 paLeft28 t-left fSize14 paTop18">
                <p class="LH-H70">还没有校企账号？</p>
                <a class="LH-H26 login-link" href="login.html?newAccount=1">请立即注册<i class="maL14 pic-icon"></i></a>
                <p class="maT60 LH-H56">使用以下账号直接登录</p>
                <p class="paTop25 fast-login t-center"><i class="pic-icon icon-qq"></i><i class="pic-icon icon-weibo" style="margin-right:32px;"></i><i class="pic-icon icon-wechat"></i></p>
            </div>
        </div>
    </div>
</div>
<script src="js/libs/jquery-3.1.0.min.js"></script>
<script src="js/libs/vue.js"></script>
<script src="js/common/common.js"></script>
<script src="js/components/pagination.js"></script>
<script src="js/components/dropdown.js"></script>
<script src="js/pages/detail-common.js"></script>
</body>
</html>
