<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业招聘会</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/widget.css" rel="stylesheet">
    <link href="css/display-comm.css" rel="stylesheet">
</head>
<body>
     <div class="top bg-dunkel" id="app-top">
         <div class="inner clearfix">
             <h3 class="fl LH-H30 fSize14 color-white">您好，欢迎来到校企职通车</h3>
             <div class="top-right fr LH-H30 fSize14 color-white" v-show="!isLogin">
                 <p class="login fl">
                     <span>【登录】</span><span>|</span><span style="color: red">【注册】</span>
                 </p>
                 <div class="fl fSize14 top-acc color-white"><i class="pic-icon W17 H20"></i>个人中心</div>
             </div>
             <ul class="account fr lis-inline color-white fSize12 LH-H30" v-show="isLogin">
                 <li>我的简历</li>
                 <li><span style="margin:0 12px">|</span>投递箱</li>
                 <li><span style="margin:0 12px">|</span>收藏夹<span style="margin-left:12px">|</span></li>
                 <li style="padding-left:12px;">江玉海<i class="pic-icon maR10 icon-dropdown"></i>
                     <dl>
                         <dd>我的VIP</dd>
                         <dd>我的邮箱</dd>
                         <dd>账号设置</dd>
                         <dd>退出</dd>
                     </dl>
                 </li>
             </ul>
         </div>
     </div>
     <div class="main-top inner" id="app-query">
         <h2 class="maT30 fSize30 LH47 color-grayH"><img class="H47 maR17 v-mid" src="images/logo.png"/>校企职通车</h2>
         <div class="search maT15 t-center">
             <input class="LH-H37 v-mid paLeft50 fSize18" type="text" placeholder="请在此输入搜索关键词"><button class="fSize18 color-white v-mid H39 bg-orange4">搜索</button>
         </div>
         <div class="queryform clearfix maT37 paTop10 paBot4 bg-gray-f7 color-gray79 pRel">
             <div class="clearfix">
                 <label>所在城市：</label>
                 <div class="label-val maB14">
                      <ul class="lis-inline address">
                         <li :class="{'on':index==0}" v-for="(item,index) in database.navcitys" @click="selCity(index,$event.target)">{{item.city}}<span></span></li>
                      </ul>
                      <ul class="district lis-inline LH24 t-center fSize12 bg-white">
                           <li class="fSize12 dis-label">分区：</li>
                           <li v-for="cont in database.conts" @click="selDistict($event.target)">{{cont}}</li>
                      </ul>
                 </div>
             </div>
             <div class="clearfix maB16">
                 <label>企业要求：</label><dropdown :options="database.uni.scolars" placeholder="学历" v-model="incRecruit.scolar"></dropdown>
                 <major-select class="uni-major lang-select" :majordata="database.uni.majors"></major-select><input type="text" v-show="incRecruit.majorEx"/>
                 <dropdown :options="database.inc.worksExp" placeholder="工作经验" v-model="incRecruit.worksexp"></dropdown>
             </div>
             <div class="clearfix maB16">
                 <label>企业提供：</label>
                 <div class="selectee lang-select pos-input" @click.stop="clickPos"><input type="text" placeholder="岗位名称" disabled v-model="incRecruit.pos.pos_2"/></div>
                 <dropdown :options="database.inc.posAmount" placeholder="岗位数量" v-model="incRecruit.posAmount"></dropdown>
                 <dropdown :options="database.inc.salary" placeholder="薪资待遇" v-model="incRecruit.salary" class="lang-select"></dropdown>
             </div>
             <div class="clearfix maB16">
                 <label>其他：</label>
                    <dropdown :options="['三天内','一周内','一月内']" placeholder="发布时间" v-model="incRecruit.publicTime"></dropdown>
             </div>
             <div class="pos-box popBox pos-increc" v-show="showPosBox">
                <div>
                    <dropdown :options="database.inc.pos1" placeholder="客服/售前/售后技术支持" v-model="incRecruit.pos.pos_1"></dropdown>（选择此类将包含下方所有小类）
                </div>
                <ul class="posLis lis-inline t-center LH-H25">
                     <li v-for="pos in database.inc.pos2" @click.stop="selPos(pos,'increcruit')">{{pos}}</li>
                </ul>
             </div>
         </div>
     </div>
     <div class="main-result" id="app-result">
         <div class="title maT35">
             <div class="inner">
                 <h2 class="W150 LH-H40 t-center color-white bg-orange4 fSize18">筛选结果</h2>
             </div>
         </div>
         <div class="bg-gray-f7">
             <div class="inner clearfix">
                <ul class="results paTop10 fl">
                     <li v-for="(item,index) in increcruitList.results">
                          <div class="paLeft29 clearfix H108 pRel">
                              <div class="W78 H70 logo-pic bg-brown disInline v-mid fl maT20"></div>
                              <div class="item-block-left fl paTop20 W321 maL25">
                                  <h2 class="color-blueL fSize16 LH-H24">{{item.title}}</h2>
                                  <p><span class="fSize16 maR24 color-orange-f7">{{item.salary}}</span>{{item.major}}<i class="depart">|</i>{{item.worksexp}}<i class="depart">|</i>{{item.scolar}}</p>
                                  <p class="fSize14"><span class="maR15">【{{item.address.district}}】</span><span class="f-bold">招聘会时间：</span>{{item.recruitDate}}</p>

                              </div>
                              <div class="item-block-right fl fSize14 maT4">
                                  <p class="fSize16 item-name" :title="item.inc">{{item.inc}}</p>
                                  <p class="fSize12">{{item.IncProps}}<span class="maL16">岗位数：{{item.posAmount}}人</span></p>
                                  <p class="fSize12 pubdate">{{item.publicDate}}</p>
                              </div>
                              <button class="btn-apply color-blueL" @click="coApply">投个简历</button>
                          </div>
                     </li>
                </ul>
                 <div class="ads W164 H359 fl maT25 bg-white maL15">
                     <h3 class="LH-H25 fSize14 maL20 color-gray79">广告推广</h3>
                     <div class="ad-pic"><img src="images/ads-pic01.png"/></div>
                     <div class="ad-pic"><img src="images/ads-pic02.png"/></div>
                 </div>
             </div>
             <div class="wrapper paBot33">
                  <pagination :showpages="showpage(increcruitList.totalpages)" :totalpages="increcruitList.totalpages" type="inc-rec" @topage="topage" class="maT28 fSize14 maL278"></pagination>
             </div>
         </div>
         </div>
         <div class="bot paTop8 t-center bot-account">
             <div class="inner clearfix">
                <div class="fl">
                     <ul class="lis-inline bot-nav color-gray79 LH-H34 fSize12">
                         <li><a href="footer-page.html?descript">关于校企</a>-</li>
                         <li><a href="footer-page.html?coop">网站合作</a>-</li>
                         <li><a href="footer-page.html?help">帮助中心</a>-</li>
                         <li><a href="footer-page.html?employ">招贤纳士</a>-</li>
                         <li><a href="footer-page.html">友情链接</a>-</li>
                         <li><a href="footer-page.html">教育网</a></li>
                     </ul>
                     <ul class="lis-inline fSize12 bot-infos">
                         <li class="maR100"><i class="pic-icon icon-phone"></i>电话：152 6706 8921</li>
                         <li class="maR100"><i class="pic-icon icon-address"></i>杭州市滨江区六合路368号海创基地北三楼B3077</li>
                         <li><i class="pic-icon icon-email"></i>邮箱：xiaoqiztc@yeah.net</li>
                     </ul>
                     <p class="fSize12 t-center LH-H40 color-gray79">©2016 XxiaoQi 京ICP备456123789号-2 京公网安备12465789123号</p>
                </div>
                <div class="fr">
                     <p class="fSize14 W15 barcode-text">关注我们</p>
                     <div class="pic-wrapper maL16">
                         <img src="images/barcode.png" />
                     </div>
                </div>
             </div>
         </div>

     <div class="modal" id="app-modal" v-show="showModal">
         <div class="dlg-success dlg W670 paBot4  b-Radius5" v-show="showSucc">
             <h2 class="LH-H54 fSize20 color-white paLeft62">申请状态<i class="pic-wrapper fr maR17 cur-pointer closer" @click="closeSuc"><img src="images/icon-close2.png" class="W30"/> </i></h2>
             <div class="H348 W660 bg-white maCenter t-center succ-msg">
                 <p class="LH-H66 maT6 fSize24">简历已发出，请静候佳音</p>
                 <button class="W182 H48 color-white fSize20 b-Radius8 confirm" @click="confirmSuc">确 定</button>
                 <div class="maT28">
                     <img src="images/pic-success_03.jpg" height="175"/>
                 </div>
             </div>
             <div class="pic-wrapper stamp"><img src="images/icon-complete.png" height="90"/></div>
         </div>
         <div class="dlg-login dlg W670 paBot4 b-Radius5" v-show="showLogin">
             <h2 class="LH-H54 fSize20 color-white paLeft43">登录<i class="pic-wrapper fr maR17 cur-pointer closer" @click="closeLog"><img src="images/icon-close2.png" class="W30"/> </i></h2>
             <div class="H348 W660 bg-white maCenter t-center clearfix">
                 <form class="login-form fl paTop4 paRight14">
                     <div><input type="text" placeholder="请输入已验证手机/邮箱"/></div>
                     <div><input type="password" placeholder="请输入登录密码"/></div>
                     <p class="LH-H50 maT6 fSize14 t-right">忘记密码？</p>
                     <button class="W226 H56 fSize20 bg-orange4 color-white">登 录</button>
                 </form>
                 <div class="regis fl H298 maT11 paLeft28 t-left fSize14 paTop18">
                     <p class="LH-H70">还没有校企账号？</p>
                     <a class="LH-H26 login-link" href="login.html?newAccount=1">请立即注册<i class="maL14 pic-icon"></i></a>
                     <p class="maT60 LH-H56">使用以下账号直接登录</p>
                     <p class="paTop25 fast-login t-center"><i class="pic-icon icon-qq"></i><i class="pic-icon icon-weibo" style="margin-right:32px;"></i><i class="pic-icon icon-wechat"></i></p>
                 </div>
             </div>
         </div>
     </div>
     <script src="js/libs/jquery-3.1.0.min.js"></script>
     <script src="js/libs/vue.js"></script>
     <script src="js/common/common.js"></script>
     <script src="js/components/pagination.js"></script>
     <script src="js/components/dropdown.js"></script>
     <script src="data/commondata.js"></script>
     <script src="data/major.js"></script>
     <script src="data/position.js"></script>
     <script src="data/workareas.js"></script>
     <script src="js/pages/display-increcruit.js"></script>
</body>
</html>
