<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>HR中心</title>
          <link href="css/base.css" rel="stylesheet" />
          <link href="css/hrCenter.css" rel="stylesheet" />
     </head>
     <body class="bg-gray-f2">
          <div class="top bg-gray3 H100 color-white">
              <div class="inner">
                  <img src="images/logo.png" class="fl maR21 maT24" style="margin-left:-62px;" />
                  <h3 class="fl LH-H70 fSize30 maT30">校企职通车</h3>
                  <h2 class="fl maL28 fSize32 color-yellow LH-H70 maT30">企业中心</h2>
                  <div class="fr navs maT42">
                      <a href="index.html"><img src="images/icon-home.png" /></a>
                      <a href="#"><img src="images/icon-account.png" /></a>
                      <a class="msg-center pRel" href="#"><img src="images/icon-msg.png" /><i class="msg-info">99</i></a>
                  </div>
              </div>
          </div>
          <div class="main inner paTop20" id="hr-app">
               <h2 class="LH-H50 bg-gray-e6 paLeft45 W915"><span class="fSize24 color-blueL">HR中心</span><ul class="lis-inline disInline v-top maL80 hr-navs"><li class="on">应聘管理</li><li>职位管理</li></ul><button class="pub-pos">发布职位</button></h2>
               <div class="mainCont maT20 clearfix maB60">
                    <dl class="W178 sider fl">
                         <dt class="on" paneid="resume-box">待处理简历<span class="hint">{{resumes.unchecked.length+resumes.checked.length}}</span></dt>
                         <dd class="on resume-unview">未查看</dd><dd class="resume-viewed">已查看</dd>
                         <dt paneid="interview-box">已通知面试</dt>
                         <dd class="inter-unsuit">不合适</dd><dd class="inter-suit">已录用</dd>
                    </dl>
                    <div class="resumeBox fl maL10 W770">
                        <div class="ListBox resume-box" v-show="resumes.show">
                            <div class="hd LH-H58 bg-white">
                                <dropdown classes="state" :options="['全部类型','招聘会','企业直聘']" v-model="resumes.resumeType"></dropdown>
                                <p class="disInline fSize14 maL195">我收到的简历<span class="color-orange2 maL10 maR10">{{resumes.unchecked.length+resumes.checked.length}}</span>个</p>
                                <dropdown classes="state-right fr" :options="database.posList" v-model="resumes.resumePos"></dropdown>
                            </div>
                            <ul class="info-items">
                                <li v-for="item in resumeItems" :type="item.type" :pos="item.applypos" :source="item.source">
                                    <div class="paLeft29 clearfix H128 pRel">
                                        <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT34"></div>
                                        <div class="item-block-left fl paTop22 W345 maL20">
                                            <h2 class="color-blueL fSize18 LH-H32">{{item.name}}</h2>
                                            <p>{{item.uni}}<i class="depart">|</i>{{item.major}}<i class="depart">|</i>{{item.exp}}<i class="depart">|</i>{{item.scolar}}</p>
                                            <p>申请职位：{{item.applypos}}</p>
                                        </div>
                                        <div class="item-block-right fl fSize14 LH25 maT10">
                                            <p><button type="button" class="invite-btn color-blueL">邀请面试</button><button type="button" class="refuse-btn color-orange-f7">不合适</button></p>
                                            <p class="maT14">申请时间：{{item.applydate}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="pageBot lis-inline maT30 fr fSize14">
                                <li class="side-page first-page">首页</li>
                                <li class="prev side-page">上一页</li>
                                <li class="page-index">1</li>
                                <li class="page-index">2</li>
                                <li class="page-index">3</li>
                                <li class="next side-page">下一页</li>
                                <li class="side-page last-page">尾页</li>
                            </ul>
                        </div>
                        <div class="ListBox interview-box" v-show="interview.show">
                            <div class="hd LH-H58 bg-white">
                                <dropdown classes="state" :options="['全部类型','招聘会','企业直聘']" v-model="interview.interType"></dropdown>
                                <p class="disInline fSize14 maL195">我未处理的面试<span class="color-orange2 maL10 maR10">{{interview.undecision.length}}</span>个</p>
                                <dropdown classes="state-right fr" :options="database.posList" v-model="interview.interPos"></dropdown>
                            </div>
                            <ul class="info-items">
                                <li v-for="item in interItems" :type="item.type" :pos="item.applypos" :source="item.source">
                                    <div class="paLeft29 clearfix H128 pRel">
                                        <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT34"></div>
                                        <div class="item-block-left fl paTop22 W345 maL20">
                                            <h2 class="color-blueL fSize18 LH-H32">{{item.name}}</h2>
                                            <p>{{item.uni}}<i class="depart">|</i>{{item.major}}<i class="depart">|</i>{{item.exp}}<i class="depart">|</i>{{item.scolar}}</p>
                                            <p>申请职位：{{item.applypos}}</p>
                                        </div>
                                        <div class="item-block-right fl fSize14 LH25 maT10">
                                            <p v-show="item.type=='unchecked'"><button type="button" class="pass-btn color-blueL" @click="pass(item)">录用</button><button type="button" class="refuse-btn color-orange-f7" @click="interRefuse(item)">不合适</button></p>
                                            <p v-show="item.type=='unsuitable'" class="maT17 fSize16 t-center"><span class="inter-result color-red">不合适</span></p>
                                            <p v-show="item.type=='suitable'" class="maT17 fSize16 t-center"><span class="inter-result color-green">面试已通过</span></p>
                                            <p class="maT14">申请时间：{{item.applydate}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="pageBot lis-inline maT30 fr fSize14">
                                <li class="side-page first-page">首页</li>
                                <li class="prev side-page">上一页</li>
                                <li class="page-index">1</li>
                                <li class="page-index">2</li>
                                <li class="page-index">3</li>
                                <li class="next side-page">下一页</li>
                                <li class="side-page last-page">尾页</li>
                            </ul>
                        </div>
                    </div>
               </div>
               <div class="mainCont maT20 clearfix maB60 posCont disNo">
                    <ul class="W178 pos-sider fSize18 fl">
                         <li class="on">直聘职位</li>
                         <li>高校招聘会</li>
                         <li>校企合作职位</li>
                    </ul>
                    <div class="resumeBox pos-resume fl maL10 W770">
                        <div class="ListBox direcpos-box">
                            <div class="hd LH-H58 bg-white">
                                 <dropdown classes="state" :options="['全部类型','招聘会','企业直聘']" v-model="direcPos.posType"></dropdown>
                                <p class="disInline fSize14 maL195">我发布的简历<span class="color-orange2 maL10 maR10">{{direcPos.items.length}}</span>个</p>
                                <dropdown classes="state-right fr" :options="database.posList" v-model="direcPos.pos"></dropdown>
                            </div>
                            <ul class="info-items">
                                <li v-for="item in direcPos.items" :pos="item.pos" :type="item.type">
                                    <div class="paLeft29 clearfix H128 pRel">
                                        <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                                        <div class="item-block-left fl paTop22 W315 maL20">
                                            <h2 class="color-blueL fSize18 LH-H32">{{item.pos}}</h2>
                                            <p><span class="color-orange-f7">{{item.salary}}</span><i class="depart">|</i>{{item.major}}<i class="depart">|</i>{{item.worksexp}}<i class="depart">|</i>{{item.scolar}}</p>
                                            <p>【{{item.IncAddress.district}}】岗位数：{{item.posAmount}}人</p>
                                        </div>
                                        <div class="item-block-right fl fSize14 LH25 maT11">
                                            <p>{{item.IncName}}</p>
                                            <p>{{item.IncProps}} {{item.IncScale}}</p>
                                            <p class="fSize12">{{item.publicDate}} {{item.publicTime}}</p>
                                        </div>
                                        <div class="operations color-blueL">
                                           <p><span>修改</span><span @click="delItem(item)">删除</span><span>刷新</span><span>置顶</span></p>
                                       </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="pageBot lis-inline maT30 fr fSize14">
                                <li class="side-page first-page">首页</li>
                                <li class="prev side-page">上一页</li>
                                <li class="page-index">1</li>
                                <li class="page-index">2</li>
                                <li class="page-index">3</li>
                                <li class="next side-page">下一页</li>
                                <li class="side-page last-page">尾页</li>
                            </ul>
                        </div>
                        <div class="ListBox recruit-box disNo">
                            <div class="hd LH-H58 bg-white">
                                <dropdown classes="state" :options="['全部状态','合作中','不符合','待反馈']" v-model="recruitMeeting.state"></dropdown>
                                <p class="disInline fSize14 maL195">我合作的专业<span class="color-orange2 maL10 maR10">{{recruitMeeting.items.length}}</span>个</p>
                                <dropdown classes="state-right fr" :options="database.posList" v-model="interview.interPos"></dropdown>
                            </div>
                            <ul class="info-items">
                                <li v-for="item in recruitMeeting.items" :state="item.state" :pos="item.applypos">
                                    <div class="paLeft29 clearfix H128 pRel">
                                        <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                                        <div class="item-block-left fl paTop22 W254 maL20">
                                            <h2 class="color-blueL fSize18 LH-H32">{{item.uniname}}</h2>
                                            <p>{{item.major}}<i class="depart">|</i>{{item.stuScale}}<i class="depart">|</i>{{item.UniAddress.city}}-{{item.UniAddress.district}}</p>
                                            <p>招聘会时间：{{item.date}}</p>
                                        </div>
                                        <div class="item-block-right fl fSize14 LH25 maT10">
                                            <p>高校对企业要求</p>
                                            <p>{{item.IncScale}}<i class="depart">|</i>{{item.IncProps}}<i class="depart">|</i>{{item.pos}}</p>
                                            <p class="fSize12">{{item.publicDate}} {{item.publicTime}}</p>
                                        </div>
                                        <span class="co-state W100 fSize18" :style="colorState(item.coState)">{{item.coState}}</span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="pageBot lis-inline maT30 fr fSize14">
                                <li class="side-page first-page">首页</li>
                                <li class="prev side-page">上一页</li>
                                <li class="page-index">1</li>
                                <li class="page-index">2</li>
                                <li class="page-index">3</li>
                                <li class="next side-page">下一页</li>
                                <li class="side-page last-page">尾页</li>
                            </ul>
                        </div>
                        <div class="ListBox combipos-box disNo">
                            <div class="hd LH-H58 bg-white">
                                 <dropdown classes="state" :options="['全部类型','招聘会','企业直聘']" v-model="direcPos.posType"></dropdown>
                               <p class="disInline fSize14 maL195">我合作的专业<span class="color-orange2 maL10 maR10">{{combiPos.items.length}}</span>个</p>
                               <dropdown classes="state-right fr" :options="database.posList" v-model="direcPos.pos"></dropdown>
                            </div>
                            <ul class="info-items">
                               <li v-for="item in combiPos.items" :pos="item.pos" :state="item.state">
                                    <div class="paLeft29 clearfix H128 pRel">
                                        <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                                        <div class="item-block-left fl paTop22 W315 maL20">
                                           <h2 class="color-blueL fSize18 LH-H32">{{item.pos}}</h2>
                                           <p>{{item.coMajor}}<i class="depart">|</i>{{item.stuScale}}<i class="depart">|</i>{{item.uniLevel}}</p>
                                           <p>联合培养方式：{{item.trainway}}</p>
                                        </div>
                                        <div class="item-block-right fl fSize14 LH25 maT11">
                                           <p>{{item.IncName}}</p>
                                           <p>{{item.IncProps}}<i class="depart">|</i>{{item.IncScale}}<i class="depart">|</i>{{item.IncArea}}</p>
                                           <p class="fSize12">{{item.publicDate}} {{item.publicTime}}</p>
                                        </div>
                                        <div class="operations color-blueL">
                                           <p><span>修改</span><span @click="delItem(item)">删除</span><span>刷新</span><span>置顶</span></p>
                                      </div>
                                    </div>
                               </li>
                            </ul>
                            <ul class="pageBot lis-inline maT30 fr fSize14">
                               <li class="side-page first-page">首页</li>
                               <li class="prev side-page">上一页</li>
                               <li class="page-index">1</li>
                               <li class="page-index">2</li>
                               <li class="page-index">3</li>
                               <li class="next side-page">下一页</li>
                               <li class="side-page last-page">尾页</li>
                            </ul>
                        </div>
                    </div>
               </div>
          </div>
          <div class="bot paTop8 t-center bot-account">
              <div class="inner clearfix">
                  <div class="fl">
                      <ul class="lis-inline bot-nav color-gray79 LH-H34 fSize12">
                          <li><a href="footer-page.html?descript">关于校企</a>-</li>
                          <li><a href="footer-page.html?coop">网站合作</a>-</li>
                          <li><a href="footer-page.html?help">帮助中心</a>-</li>
                          <li><a href="footer-page.html?employ">招贤纳士</a>-</li>
                          <li><a href="footer-page.html">友情链接</a>-</li>
                          <li><a href="footer-page.html">教育网</a></li>
                      </ul>
                      <ul class="lis-inline fSize12">
                          <li class="maR100"><i class="pic-wrapper maR15"><img src="images/icon-phone2.png"/></i>电话：152 6706 8921</li>
                          <li class="maR100"><i class="pic-wrapper maR15"><img src="images/icon-gps.png"/></i>杭州市滨江区六合路368号海创基地北三楼B3077</li>
                          <li><i class="pic-wrapper maR15"><img src="images/icon-email2.png"/></i>邮箱：xiaoqiztc@yeah.net</li>
                      </ul>
                      <p class="fSize14 t-center LH-H40 color-gray79">©2016 XxiaoQi 京ICP备456123789号-2 京公网安备12465789123号</p>
                  </div>
                  <div class="fr">
                      <p class="fSize14 W15 barcode-text">关注我们</p>
                      <div class="pic-wrapper maL16">
                          <img src="images/barcode.png" />
                      </div>
                  </div>
              </div>
          </div>
          <script src="js/jquery-3.1.0.min.js"></script>
          <script src="js/vue.js"></script>
          <script src="js/components.js"></script>
          <script src="js/hrCenter.js"></script>
     </body>
</html>
