<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>发布需求</title>
          <link href="css/base.css" rel="stylesheet">
          <link href="css/incRequire.css" rel="stylesheet">
     </head>
     <body>
     <div class="top bg-gray3 H100 color-white">
        <div class="inner">
            <img src="images/logo.png" class="fl maR21 maT24" style="margin-left:-62px;" />
            <h3 class="fl LH-H70 fSize30 maT30">校企职通车</h3>
            <h2 class="fl maL28 fSize32 color-yellow LH-H70 maT30">企业中心</h2>
            <div class="fr navs maT42">
                <a href="index.html"><img src="images/icon-home.png" /></a>
                <a href="#"><img src="images/icon-account.png" /></a>
                <a class="msg-center pRel" href="#"><img src="images/icon-msg.png" /><i class="msg-info">99</i></a>
            </div>
        </div>
    </div>
    <div class="main" id="app-main">
         <div class="inner W960">
              <div class="req-progress bg-gray-ef maT20 color-gray6">
                  <ul class="lis-inline steps">
                       <li class="on"><span>1</span><p>选择信息</p><i class="bind-line"></i></li>
                       <li><span>2</span><p>填写信息</p><i class="bind-line"></i></li>
                       <li><span>3</span><p>完成发布</p></li>
                  </ul>
                  <i class="pic-wrapper progress-txt"><img src="images/require-txt.png" /></i>
             </div>
             <div class="navs clearfix">
                  <ul class="lis-inline fl">
                       <li class="on">校企合作</li><li>招聘会</li><li>直聘</li>
                  </ul>
                  <p class="W740 bg-gray-ef fl H32"></p>
             </div>
             <div class="nav-cont">
                  <h2 class="LH-H66 bg-orange-f7 color-green30 paLeft70">填写校企合作信息</h2>
                  <div class="form-cont paLeft68">
                       <p class="maT39 head-input"><label>标　　题</label><input type="text" v-model="combiData.header"/></p>
                       <h3 class="LH-H75 fSize18 maT11">我对高校的要求</h3>
                       <p class="form-item"><label>专业名称</label><major-select :majordata="database.uni.majors" class="disInline"></major-select>
                       </p>
                       <p class="form-item"><label>专业人数</label><dropdown :options="database.uni.amount" placeholder="" v-model="combiData.incReq.stuScale"></dropdown></p>
                       <p class="form-item"><label>高校性质</label><dropdown :options="database.uni.unilevel" placeholder="" v-model="combiData.incReq.uniLevel"></dropdown></p>
                       <p class="form-item"><label>高校类型</label><dropdown :options="database.uni.classific" placeholder="" v-model="combiData.incReq.uniClassific"></dropdown></p>
                       <p class="form-item"><label>所在地</label><addr-select :addrdata="database.addrData" class="sel-addr disInline"></addr-select></p>
                       <h3 class="LH-H75 fSize18 maT11">我可以提供</h3>
                       <p class="form-item"><label>岗位名称</label><dropdown :options="['IT/互联网/通信','销售/客服/市场']" placeholder="" v-model="combiData.incApply.pos.pos_1"></dropdown>
                            <dropdown :options="['软件/互联网开发/系统集成','互联网产品/运营管理']" placeholder="" v-model="combiData.incApply.pos.pos_2"></dropdown>
                            <dropdown :options="['互联网产品经理/主管','运营总监']" placeholder="" v-model="combiData.incApply.pos.pos_3"></dropdown>
                       </p>
                       <p class="form-item"><label>岗位数</label><input type="text" v-model="combiData.incApply.posAmount" />人</p>
                       <p class="form-item"><label>联合培养方式</label><dropdown :options="database.trainway" placeholder="" v-model="combiData.incApply.trainWay"></dropdown></p>
                       <div class="form-item clearfix"><label class="fl">培养时间</label>
                         <table class="fl time-table">
                              <tr><td></td><td>周一</td><td>周二</td><td>周三</td><td>周四</td><td>周五</td><td>周六</td><td>周日</td></tr>
                              <tr class="time-tr"><td>上午</td><td class="t-cell on"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td></tr>
                              <tr class="time-tr"><td>下午</td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td></tr>
                              <tr class="time-tr"><td>晚上</td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td><td class="t-cell"></td></tr>
                         </table>
                      </div>
                       <p class="form-item pRel"><label>需求描述</label><textarea v-model="combiData.requireDesc" class="form-desc"></textarea><span class="fSize14 LH40 color-gray-c desc-hint">你还可以输入{{fontCal(combiData.requireDesc)}} 字</span></p>
                       <h3 class="LH-H75 fSize18 maT11">联系方式</h3>
                       <p class="form-item"><label>联系人</label><input type="text" v-model="combiData.contact.person"/></p>
                       <p class="form-item"><label>联系电话</label><input type="text" v-model="combiData.contact.phone"/></p>
                       <div class="form-item inc-addr pRel"><label>公司地址</label><input type="text" v-model="combiData.contact.address" class="dis-Addr" disabled/><span class="color-red maL18 cur-pointer" @click="combiData.showIncAddr=true">请完善地址</span>
                         <div class="addr-box" v-show="combiData.showIncAddr">
                              <addr-select :addrdata="database.addrData" class="sel-addr disInline"></addr-select>
                              <input type="text" class="maT20 addr-ex" placeholder="请输入详细地址" />
                              <p><button class="confirm-btn" @click="confirmIncAddr">确认</button></p>
                         </div>
                      </div>
                      <button class="confirm-publish-btn">确认发布</button>
                  </div>
             </div>
         </div>
    </div>
    <div class="bot paTop6 t-center bg-gray3 H110">
       <div class="inner pRel">
           <div class=" W920 color-white fSize12">
               <ul class="lis-inline bot-nav LH-H34">
                   <li><a href="footer-page.html?descript">关于校企</a>-</li>
                   <li><a href="footer-page.html?coop">网站合作</a>-</li>
                   <li><a href="footer-page.html?help">帮助中心</a>-</li>
                   <li><a href="footer-page.html?employ">招贤纳士</a>-</li>
                   <li><a href="footer-page.html">友情链接</a>-</li>
                   <li><a href="footer-page.html">教育网</a></li>
               </ul>
               <ul class="lis-inline">
                   <li class="maR100"><i class="pic-wrapper maR15"><img src="images/icon-phone-w.png"/></i>电话：152 6706 8921</li>
                   <li class="maR100"><i class="pic-wrapper maR15"><img src="images/icon-gps-w.png"/></i>杭州市滨江区六合路368号海创基地北三楼B3077</li>
                   <li><i class="pic-wrapper maR15"><img src="images/icon-mail-w.png"/></i>邮箱：xiaoqiztc@yeah.net</li>
               </ul>
               <p class="fSize12 t-center LH-H40 color-gray79">©2016 XxiaoQi 京ICP备456123789号-2 京公网安备12465789123号</p>
           </div>
           <div class="pic-wrapper pic-barcode">
               <img src="images/barcode.png"/>
           </div>
       </div>
   </div>

     <script src="js/jquery-3.1.0.min.js"></script>
     <script src="js/vue.js"></script>
     <script src="js/components.js"></script>
     <script src="js/incRequire.js"></script>
     </body>
</html>
