<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>首页-1</title>
          <link href="css/base.css" rel="stylesheet" />
          <link href="css/index-1.css" rel="stylesheet" />
     </head>
     <body>
          <div class="front-page pRel mod-page">
               <div class="inner" style="height:770px">
                    <div class="header clearfix color-white">
                        <div class="logo fl clearfix">
                            <img src="images/logo.png" class="fl maR21"/>
                            <h2 class="fl LH-H63 fSize30">校企职通车</h2>
                            <h3 id="sel-add" class="cur-pointer fl LH-H47 fSize14 paTop14 maL30"><b>北京市</b><span class="maL18">[切换城市]<img src="images/trigle01.png" class="v-mid maL6" /></span></h3>
                        </div>
                        <div class="login fr paTop10">
                            <a href="login.html?newAcc=1" class="b-Radius5">注册</a>
                            <a href="login.html?newAcc=0" class="b-Radius5">登录</a>
                        </div>
                        <div id="address" class="address LH-H60 v-mid clearfix" style="display: none;">
                            <h2 class="fl maL50 fSize18">省<input id="sel-pro" value="北京市" readonly /><ul id="province"></ul></h2>
                            <h2 class="fl maL50 fSize18">市<input id="sel-city" value="北京市" readonly /><ul id="city"></ul></h2>
                            <p class="maL50 fl LH-H50 paTop10 fSize14"><span class="color-yellow">热门城市：</span>北京 上海 杭州 广州 深圳</p>
                        </div>
                    </div>
                    <div class="center-teil t-center">
                          <p class="subtitle fSize16 W260 LH-H35 t-center">加强大学生实践学习经验</p>
                          <h2 class="maT28 fSize0"><img src="images/title-txt.png" /></h2>
                          <p class="maT38"><input type="text" placeholder="岗位名称/学校名称/企业名称" class="search LH-H48 v-top"/><button class="search-btn">搜索</button></p>
                    </div>
                    <ul class="lis-inline module-entry">
                         <li><a href="#">高校需求</a></li><li><a href="#">企业需求</a></li><li><a href="#">充电站</a></li>
                         <li><a href="#">招聘会</a></li><li><a href="#">校企岗位</a></li><li><a href="#">职业规划</a></li>
                    </ul>
                    <i class="pic-wrapper weiter"><img src="images/icon-weiter.png" /></i>
               </div>
          </div>
          <div class="mod-page class-show" id="app-show">
               <h2 class="t-center p-title LH56">课堂展示</h2>
               <h3 class="p-subtitle LH37 fSize24 t-center">CLASSROOM</h3>
               <ul class="lis-inline inner show-pics">
                    <li class="pic-box t-center" v-for="(item,index) in showInfos" :class="cssrotate(index)" @click="showSwitch(index)">
                         <i class="pic-wrapper show-frame"><img :src="item.imgsrc" /></i>
                         <p class="fSize18">{{item.txt}}-{{index}}</p>
                    </li>
               </ul>
               <i class="turn-left"><</i>
          </div>
          <div class="about-us H742">
               <div class="inner paTop100">
                    <h2 class="t-center p-title LH66 color-white">关于我们</h2>
                    <h3 class="p-subtitle LH43 fSize24 t-center color-white">ABOUT US</h3>
                    <p class="LH30 color-gray9 maT25 fSize14 t-center">校企职通车网站是国内唯一一家专注解决大学生从学习到就业的信息服务平台。<br />校企的服务目标是：让每一个大学生都能专业对口就业。</p>
                    <ul class="lis-inline about-lis color-white maT70">
                         <li><i class="pic-wrapper"><img src="images/about-xq.jpg" /></i><span>校企联合培训</span></li>
                         <li><i class="pic-wrapper"><img src="images/about-major.jpg" /></i><span>专业对口就业</span></li>
                         <li><i class="pic-wrapper"><img src="images/about-train.jpg" /></i><span>职业强化训练</span></li>
                         <li><i class="pic-wrapper"><img src="images/about-plan.jpg" /></i><span>职业科学规划</span></li>
                    </ul>
               </div>
          </div>
          <div class="coop H433" id="app-coop">
               <div class="inner paTop76">
                    <div class="clearfix">
                         <h3 class="fl fSize22 LH40 paTop40 t-center">合作企业<span class="LH30 fSize14 color-gray-c coop-sub">COOPERATION</span></h3>
                         <i class="pic-wrapper fl maT34 maL22"><img src="images/left-arrow.png" /></i>
                         <ul class="lis-inline coop-lis fl">
                              <li v-for="item in coopInc"><a class="pic-wrapper"><img :src="item.imgsrc" /></a></li>
                         </ul>
                         <i class="pic-wrapper fl maT34 maL22"><img src="images/right-arrow.png" /></i>
                    </div>
                    <div class="clearfix maT20">
                         <h3 class="fl fSize22 LH40 paTop40 t-center">合作高校<span class="LH30 fSize14 color-gray-c coop-sub">COOPERATION</span></h3>
                         <i class="pic-wrapper fl maT34 maL22"><img src="images/left-arrow.png" /></i>
                         <ul class="lis-inline coop-lis fl">
                              <li v-for="item in coopInc"><a class="pic-wrapper"><img :src="item.imgsrc" /></a></li>
                         </ul>
                         <i class="pic-wrapper fl maT34 maL22"><img src="images/right-arrow.png" /></i>
                    </div>
               </div>
          </div>
          <div class="footer H238" id="app-footer">
               <div class="inner clearfix">
                    <div class="logo fl clearfix paTop64">
                        <img src="images/logo.png" class="fl maR21"/>
                        <h2 class="fl LH-H63 fSize30 color-white">校企职通车</h2>
                    </div>
                    <ul class="lis-inline footer-lis fl">
                         <li v-for="item in fBlocks">
                              <dt>{{item.title}}</dt>
                              <dd v-for="subitem in item.sublis">{{subitem}}</dd>
                         </li>
                    </ul>
                    <div class="fr paTop28">
                         <h3 class="fSize18 LH50 t-center color-white">关注我们</h3>
                         <i class="pic-wrapper"><img src="images/barcode.png" /></i>
                    </div>
               </div>
          </div>
          <div class="bot">
               <p class="inner LH50 t-center">校企职通车版权所有©2016 XxiaoQi  浙ICP备17007975号-2  浙公网安备3481464号</p>
          </div>
          <script src="js/jquery-3.1.0.min.js"></script>
          <script src="js/vue.js"></script>
          <script src="js/components.js"></script>
          <script src="js/index-1.js"></script>
     </body>
</html>
