<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>高校中心</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/uniCenter.css" rel="stylesheet">
</head>

<body class="bg-gray-f2">
    <div class="top bg-gray3 H100 color-white">
        <div class="inner">
            <img src="images/logo.png" class="fl maR21 maT24" style="margin-left:-62px;" />
            <h3 class="fl LH-H70 fSize30 maT30">校企职通车</h3>
            <h2 class="fl maL28 fSize32 color-yellow LH-H70 maT30">高校中心</h2>
            <div class="fr navs maT42">
                <a href="index.html"><img src="images/icon-home.png" /></a>
                <a href="#"><img src="images/icon-account.png" /></a>
                <a class="msg-center pRel" href="#"><img src="images/icon-msg.png" /><i class="msg-info">99</i></a>
            </div>
        </div>
    </div>
    <div class="main inner paTop20 clearfix maB60">
        <div class="W958 H198 sInfo maCenter bg-white" id="app-porto">
            <div class="porto fl maL60 maT30">
                <div class="porto-img W96 H96"></div>
                <h3 class="LH-H58 fSize18 t-center color-gray3">编辑头像</h3>
            </div>
            <div class="infoTxt maT24 maL54 fl color-gray6 W266" v-show="viewInfo">
                <h3 class="LH-H47 fSize18 color-gray3">{{uni}}</h3>
                <p><span class="maR33">学校性质</span>{{classic}}</p>
                <p><span class="maR33">所在地</span>{{address.province}}-{{address.city}}-{{address.district}}</p>
                <p><span class="maR33">邮箱</span>{{email}}</p>
                <p>简历完成度<span class="progress pRel W124 H7 b-Radius8"><span class="progress-real W124 H7 b-Radius8"></span></span><span class="fullgrad">87%</span></p>
                <span class="preview-btn">预览简历</span>
                <i class="LH-H30 W30 t-center btn-edit"><img class="v-mid" src="images/icon-edit.png"/></i>
            </div>
            <div class="barCodeBox maT14 W168 fr color-gray6 fSize14">
                <p class="LH-H37">扫一扫微信公众号</p>
                <img class="maL6 v-mid" src="images/barcode.png" />
                <p class="LH-H25">实时了解最新动态</p>
            </div>
        </div>
        <ul class="sideBox fl W178 maL20 maT20 paTop20 fSize18 color-gray3 bg-white">
            <li class="on" paneid="resumeBox"><i><img src="images/icon-resume.png"/></i>高校简介</li>
            <li paneid="requireBox"><i><img src="images/icon-study.png"/></i>高校需求</li>
            <li class="myCollect" paneid="collectBox"><i><img src="images/icon-collect.png"/></i>高校收藏
            </li>
            <li paneid="jobBox"><i><img src="images/icon-apply.png"/></i>消息中心
                <div class="sub-li LH37">
                    <p class="on" paneid="collec-study">学习收藏</p>
                    <p paneid="collec-job">职位收藏</p>
                    <p paneid="collec-recruitment">招聘会收藏</p>
                </div>
            </li>
            <li paneid="jobBox"><i><img src="images/icon-apply.png"/></i>VIP中心</li>
            <li paneid="jobBox"><i><img src="images/icon-apply.png"/></i>校企合作</li>
            <li class="myConfig" paneid="conf-keyword"><i><img src="images/icon-config.png"/></i>设置
                <div class="sub-li paTop2 paBot2 LH30">
                    <p class="on" paneid="conf-keyword">修改密码</p>
                    <p paneid="conf-account">绑定账号</p>
                </div>
            </li>
        </ul>
        <div class="content W770 fl maL10 maT20" id="app-content">
             <div class="resumeBox" style="display:none">
              <div class="resumeCont bg-white" v-show="resume.edit">
                <p class="LH-H88 fSize18 color-gray3" v-show="resume.firstEdit">亲爱的校友，您需要完善高校简介</p>
                <h3 class="fSize18 LH-H30 maB17" v-show="!resume.firstEdit"><i class="pic-wrapper hd-icon"><img src="images/icon-resume.png"/></i>高校简介</h3>
                <p class="LH-H26 paLeft7 resume-item"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>高校名称</label><input type="text" v-model="resume.uni" class="W298"/></p>
                <p class="LH-H26 paLeft7 resume-item"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>高校类别</label><dropdown placeholder="请选择高校类别" :options="database.classific" v-model="resume.classific" classes="W138"></dropdown></p>
                <p class="LH-H26 paLeft7 resume-item uni-level"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>高校性质</label><dropdown placeholder="高校性质" :options="database.unilevel" v-model="resume.level" classes="W138"></dropdown><input type="radio" name="level" value="985" @click="checkExlv"/>985<input type="radio" name="level" value="211" @click="checkExlv"/>211</p>
                <p class="LH-H26 paLeft7 resume-item"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>在校人数</label><dropdown placeholder="请选择在校人数" :options="database.amount" v-model="resume.amount" classes="W138"></dropdown></p>
                <div class="LH26 paLeft7 resume-item clearfix">
                     <p class="fl"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>重点专业</label></p>
                     <ul class="fl">
                          <li v-for="spmajor in resume.specialmajor" class="maB14">
                               <dropdown placeholder="一级学科" :options="majorArr" v-model="spmajor.major" classes="W138 maR10"></dropdown>
                               <dropdown placeholder="二级学科" :options="submajors(spmajor.major)" v-model="spmajor.submajor" classes="W138"></dropdown>
                          </li>
                     </ul>
                     <p class="fSize12 color-gray6"><button class="color-blueL maL20 btn-add-major" @click="addMajors">+ 添加</button>（最多可添加5个重点专业）</p>
                </div>
                <div class="LH26 paLeft7 resume-item clearfix">
                     <p class="fl"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>高校认证</label></p>
                     <ul class="fl uni-valid-upload color-gray6 fSize12">
                          <li><span>重新上传营业执照<i class="pic-wrapper"><img src="images/icon-upload.png"/></i></span><button v-show="!resume.firstEdit">（查看之前上传的营业执照）</button></li>
                          <li><span>重新上传办学许可证<i class="pic-wrapper"><img src="images/icon-upload.png"/></i></span><button v-show="!resume.firstEdit">（查看之前上传的办学许可证）</button></li>
                     </ul>
                </div>
                <div class="uni-intro LH26 paLeft7 resume-item clearfix">
                    <p class="fl"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>高校简介</label></p>
                    <div class="fl">
                         <textarea class="fl" v-model="resume.intro"></textarea>
                         <p class="t-right">你还可以输入{{wordscal}}字</p>
                    </div>
                </div>
                <div class="t-center">
                     <button type="button" class="W150 H50 color-white bg-orange3 fSize18 maT26" @click="saveResume">保存</button>
                </div>
            </div>
              <div class="resumeCont bg-white pRel" v-show="resume.view">
               <h3 class="fSize18 LH-H30 maB17"><i class="pic-wrapper hd-icon"><img src="images/icon-resume.png"/></i>高校简介</h3>
               <div class="paLeft40 paRight40 LH33 fSize14">
                    <p><label>高校名称：</label>{{resume.uni}}</p>
                    <p><label>高校类别：</label>{{resume.classific}}</p>
                    <p><label>高校性质：</label>{{resume.level}}<span v-if="resume.specialLv">（{{resume.specialLv}}）</span></p>
                    <p><label>在校人数：</label>{{resume.amount}}</p>
                    <div class="clearfix">
                         <label class="fl">重点专业：</label>
                         <ul class="fl LH25 paTop5">
                              <li v-for="spmajor in resume.specialmajor">
                                   <span v-if="spmajor!=''&&spmajor.submajor!=''">{{spmajor.major}}-{{spmajor.submajor}}</span>
                              </li>
                         </ul>
                    </div>
                    <div class="clearfix">
                         <p class="fl"><label>高校认证：</label></p>
                         <ul class="fl uni-valid-upload color-gray6 fSize12 paTop5">
                              <li><span>重新上传营业执照</span><button class="color-blueL">（查看之前上传的营业执照）</button></li>
                              <li><span>重新上传办学许可证</span><button class="color-blueL">（查看之前上传的办学许可证）</button></li>
                         </ul>
                    </div>
                    <p><label>高校简介：</label>{{resume.intro}}</p>
               </div>
               <i class="LH-H30 W30 t-center btn-edit" @click="editSwipe"><img class="v-mid" src="images/icon-edit.png"/></i>
          </div>
            </div>
          <div class="uni-require requireBox" style="display:none">
               <div class="ListBox">
                  <div class="hd LH-H58 bg-white">
                      <dropdown classes="state" :options="['全部状态','校企合作','招聘会']" v-model="require.state"></dropdown>
                      <p class="fr fSize14 maR30">我发布过的需求<span class="color-orange2 maL10 maR10">{{require.items.length}}</span>个</p>
                  </div>
               <ul class="info-items">
                    <li v-for="item in require.items" :name="item.classic">
                         <div v-if="item.classic=='校企合作'" class="paLeft29 clearfix H128 pRel">
                              <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                              <div class="item-block-left fl paTop22 W280 maL20">
                                  <h2 class="color-blueL fSize18 LH-H30">{{item.major}}</h2>
                                  <p>{{item.IncProps}}<i class="depart">|</i>{{item.IncScale}}<i class="depart">|</i>{{item.IncArea}}</p>
                                  <p>{{item.trainWay}}</p>
                              </div>
                              <div class="item-block-right fl fSize14 LH25">
                                  <p>{{item.uniname}}</p>
                                  <p>{{item.uniLevel}}</p>
                                  <p>{{item.date}}</p>
                              </div>
                              <div class="operations color-blueL">
                                   <p><span>修改</span><span @click="delItem(item)">删除</span></p>
                                   <p><span>刷新</span><span>置顶</span></p>
                              </div>
                         </div>
                         <div v-else-if="item.classic=='招聘会'" class="paLeft29 clearfix H128 pRel">
                              <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                              <div class="item-block-left fl paTop22 W280 maL20">
                                  <h2 class="color-blueL fSize18 LH-H30">{{item.major}}</h2>
                                  <p>{{item.major}}<i class="depart">|</i>{{item.majorScale}}<i class="depart">|</i>{{item.recruitAddr}}</p>
                                  <p>招聘会时间：{{item.recruitDate}}</p>
                              </div>
                              <div class="item-block-right fl fSize14 LH25">
                                  <p>高校对企要求</p>
                                  <p>{{item.IncScale}}<i class="depart">|</i>{{item.IncProps}}<i class="depart">|</i>{{item.IncPos}}</p>
                                  <p>{{item.date}}</p>
                              </div>
                              <div class="operations color-blueL">
                                   <p><span>修改</span><span @click="delItem(item)">删除</span></p>
                                   <p><span>刷新</span><span>置顶</span></p>
                              </div>
                         </div>
                    </li>
               </ul>
                  <ul class="pageBot lis-inline maT30 fr fSize14">
                      <li class="side-page first-page">首页</li>
                      <li class="prev side-page">上一页</li>
                      <li class="page-index">1</li>
                      <li class="page-index">2</li>
                      <li class="page-index">3</li>
                      <li class="next side-page">下一页</li>
                      <li class="side-page last-page">尾页</li>
                  </ul>
              </div>
          </div>
          <div class="uni-require collectBox">
               <div class="ListBox">
                  <div class="hd LH-H58 bg-white">
                      <dropdown classes="state" :options="['全部状态','近一个星期','近一个月','近三个月']" v-model="collect.state"></dropdown>
                      <p class="fr fSize14 maR30">我发布过的需求<span class="color-orange2 maL10 maR10">{{collect.items.length}}</span>个</p>
                  </div>
               <ul class="info-items">
                    <li v-for="item in collect.items" :name="item.classic">
                         <div class="paLeft29 clearfix H128 pRel">
                              <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                              <div class="item-block-left fl paTop22 W280 maL20">
                                  <h2 class="color-blueL fSize18 LH-H30">{{item.pos}}</h2>
                                  <p>{{item.major}}<i class="depart">|</i>{{item.stuScale}}<i class="depart">|</i>{{item.uniLevel}}</p>
                                  <p>{{item.uniApply}}</p>
                                  <p>{{item.date}} {{item.time}}</p>
                              </div>
                              <div class="item-block-right fl fSize14 LH25">
                                  <p>{{item.IncName}}</p>
                                  <p>{{item.IncProps}}<i class="depart">|</i>{{item.IncScale}}<i class="depart">|</i>{{item.IncArea}}</p>
                                  <p>{{item.publicDate}}</p>
                                  <div class="collect-btn">
                                        <button class="color-blueL">取消收藏</button>
                                        <button class="color-orange-f7">申请合作</button>
                                  </div>
                              </div>
                         </div>
                    </li>
               </ul>
                  <ul class="pageBot lis-inline maT30 fr fSize14">
                      <li class="side-page first-page">首页</li>
                      <li class="prev side-page">上一页</li>
                      <li class="page-index">1</li>
                      <li class="page-index">2</li>
                      <li class="page-index">3</li>
                      <li class="next side-page">下一页</li>
                      <li class="side-page last-page">尾页</li>
                  </ul>
              </div>
          </div>
        </div>


    </div>
    <div class="bot paTop8 t-center bot-account">
         <div class="inner clearfix">
              <div class="fl">
                <ul class="lis-inline bot-nav color-gray79 LH-H34 fSize12">
                     <li><a href="footer-page.html?descript">关于校企</a>-</li>
                     <li><a href="footer-page.html?coop">网站合作</a>-</li>
                     <li><a href="footer-page.html?help">帮助中心</a>-</li>
                     <li><a href="footer-page.html?employ">招贤纳士</a>-</li>
                     <li><a href="footer-page.html">友情链接</a>-</li>
                     <li><a href="footer-page.html">教育网</a></li>
                </ul>
                <ul class="lis-inline fSize12">
                      <li class="maR100"><i class="pic-wrapper maR15"><img src="images/icon-phone2.png"/></i>电话：152 6706 8921</li>
                      <li class="maR100"><i class="pic-wrapper maR15"><img src="images/icon-gps.png"/></i>杭州市滨江区六合路368号海创基地北三楼B3077</li>
                      <li><i class="pic-wrapper maR15"><img src="images/icon-email2.png"/></i>邮箱：xiaoqiztc@yeah.net</li>
                </ul>
                <p class="fSize14 t-center LH-H40 color-gray79">©2016 XxiaoQi 京ICP备456123789号-2 京公网安备12465789123号</p>
              </div>
              <div class="fr">
                <p class="fSize14 W15 barcode-text">关注我们</p>
                <div class="pic-wrapper maL16">
                      <img src="images/barcode.png"/>
                </div>
              </div>
         </div>
    </div>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/components.js"></script>
    <script src="js/uniCenter.js"></script>
</body>

</html>
