<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>高校中心</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/uniCenter.css" rel="stylesheet">
</head>

<body class="bg-gray-f2">
    <div class="top bg-gray3 H100 color-white">
        <div class="inner">
            <img src="images/logo.png" class="fl maR21 maT24" style="margin-left:-62px;" />
            <h3 class="fl LH-H70 fSize30 maT30">校企职通车</h3>
            <h2 class="fl maL28 fSize32 color-yellow LH-H70 maT30">高校中心</h2>
            <div class="fr navs maT42">
                <a href="index.html"><img src="images/icon-home.png" /></a>
                <a href="#"><img src="images/icon-account.png" /></a>
                <a class="msg-center pRel" href="#"><img src="images/icon-msg.png" /><i class="msg-info">99</i></a>
            </div>
        </div>
    </div>
    <div class="main inner paTop20 clearfix maB60">
        <div class="W958 H198 sInfo maCenter bg-white" id="app-porto">
            <div class="porto fl maL60 maT30">
                <div class="porto-img W96 H96"></div>
                <h3 class="LH-H58 fSize18 t-center color-gray3">编辑头像</h3>
            </div>
            <div class="infoTxt maT24 maL54 fl color-gray6 W266" v-show="viewInfo">
                <h3 class="LH-H47 fSize18 color-gray3">{{uni}}</h3>
                <p><span class="maR33">学校性质</span>{{classic}}</p>
                <p><span class="maR33">所在地</span>{{address.province}}-{{address.city}}-{{address.district}}</p>
                <p><span class="maR33">邮箱</span>{{email}}</p>
                <p>简历完成度<span class="progress pRel W124 H7 b-Radius8"><span class="progress-real W124 H7 b-Radius8"></span></span><span class="fullgrad">87%</span></p>
                <span class="preview-btn">预览简历</span>
                <i class="LH-H30 W30 t-center btn-edit"><img class="v-mid" src="images/icon-edit.png"/></i>
            </div>
            <div class="barCodeBox maT14 W168 fr color-gray6 fSize14">
                <p class="LH-H37">扫一扫微信公众号</p>
                <img class="maL6 v-mid" src="images/barcode.png" />
                <p class="LH-H25">实时了解最新动态</p>
            </div>
        </div>
        <ul class="sideBox fl W178 maL20 maT20 paTop20 fSize18 color-gray3 bg-white">
            <li class="on" paneid="resumeBox"><i><img src="images/icon-resume.png"/></i>高校简介</li>
            <li paneid="requireBox"><i><img src="images/icon-study.png"/></i>高校需求</li>
            <li class="myCollect" paneid="collectBox"><i><img src="images/icon-collect.png"/></i>高校收藏</li>
            <li paneid="combi-msg"><i><img src="images/icon-apply.png"/></i>消息中心
                <div class="sub-li LH37">
                    <p class="on" paneid="combi-msg">校企合作消息</p>
                    <p paneid="recruit-msg">招聘会合作消息</p>
                </div>
            </li>
            <li paneid="vip-center"><i><img src="images/icon-apply.png"/></i>VIP中心</li>
            <li paneid="uni-coop"><i><img src="images/icon-apply.png"/></i>校企合作</li>
            <li class="myConfig" paneid="conf-keyword"><i><img src="images/icon-config.png"/></i>设置
                <div class="sub-li paTop2 paBot2 LH30">
                    <p class="on" paneid="conf-keyword">修改密码</p>
                    <p paneid="conf-account">绑定账号</p>
                </div>
            </li>
        </ul>
        <div class="content W770 fl maL10 maT20" id="app-content">
            <div class="resumeBox" style="display:block">
                <div class="resumeCont bg-white" v-show="resume.edit">
                    <p class="LH-H88 fSize18 color-gray3" v-show="resume.firstEdit">亲爱的校友，您需要完善高校简介</p>
                    <h3 class="fSize18 LH-H30 maB17" v-show="!resume.firstEdit"><i class="pic-wrapper hd-icon"><img src="images/icon-resume.png"/></i>高校简介</h3>
                    <p class="LH-H26 paLeft7 resume-item"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>高校名称</label><input type="text" v-model="resume.uni" class="W298" /></p>
                    <p class="LH-H26 paLeft7 resume-item"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>高校类别</label>
                        <dropdown placeholder="请选择高校类别" :options="database.classific" v-model="resume.classific" classes="W138"></dropdown>
                    </p>
                    <p class="LH-H26 paLeft7 resume-item uni-level"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>高校性质</label>
                        <dropdown placeholder="高校性质" :options="database.unilevel" v-model="resume.level" classes="W138"></dropdown><input type="radio" name="level" value="985" @click="checkExlv" />985<input type="radio" name="level" value="211" @click="checkExlv" />211</p>
                    <p class="LH-H26 paLeft7 resume-item"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>在校人数</label>
                        <dropdown placeholder="请选择在校人数" :options="database.amount" v-model="resume.amount" classes="W138"></dropdown>
                    </p>
                    <div class="LH26 paLeft7 resume-item clearfix">
                        <p class="fl"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>重点专业</label></p>
                        <ul class="fl">
                            <li v-for="spmajor in resume.specialmajor" class="maB14">
                                <dropdown placeholder="一级学科" :options="majorArr" v-model="spmajor.major" classes="W138 maR10"></dropdown>
                                <dropdown placeholder="二级学科" :options="submajors(spmajor.major)" v-model="spmajor.submajor" classes="W138"></dropdown>
                            </li>
                        </ul>
                        <p class="fSize12 color-gray6"><button class="color-blueL maL20 btn-add-major" @click="addMajors">+ 添加</button>（最多可添加5个重点专业）</p>
                    </div>
                    <div class="LH26 paLeft7 resume-item clearfix">
                        <p class="fl"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>高校认证</label></p>
                        <ul class="fl uni-valid-upload color-gray6 fSize12">
                            <li><span>重新上传营业执照<i class="pic-wrapper"><img src="images/icon-upload.png"/></i></span><button v-show="!resume.firstEdit">（查看之前上传的营业执照）</button></li>
                            <li><span>重新上传办学许可证<i class="pic-wrapper"><img src="images/icon-upload.png"/></i></span><button v-show="!resume.firstEdit">（查看之前上传的办学许可证）</button></li>
                        </ul>
                    </div>
                    <div class="uni-intro LH26 paLeft7 resume-item clearfix">
                        <p class="fl"><i class="pic-wrapper W30"><img src="images/icon-imp.png"></i><label>高校简介</label></p>
                        <div class="fl">
                            <textarea class="fl" v-model="resume.intro"></textarea>
                            <p class="t-right">你还可以输入{{wordscal}}字</p>
                        </div>
                    </div>
                    <div class="t-center">
                        <button type="button" class="W150 H50 color-white bg-orange3 fSize18 maT26" @click="saveResume">保存</button>
                    </div>
                </div>
                <div class="resumeCont bg-white pRel" v-show="resume.view">
                    <h3 class="fSize18 LH-H30 maB17"><i class="pic-wrapper hd-icon"><img src="images/icon-resume.png"/></i>高校简介</h3>
                    <div class="paLeft40 paRight40 LH33 fSize14">
                        <p><label>高校名称：</label>{{resume.uni}}</p>
                        <p><label>高校类别：</label>{{resume.classific}}</p>
                        <p><label>高校性质：</label>{{resume.level}}<span v-if="resume.specialLv">（{{resume.specialLv}}）</span></p>
                        <p><label>在校人数：</label>{{resume.amount}}</p>
                        <div class="clearfix">
                            <label class="fl">重点专业：</label>
                            <ul class="fl LH25 paTop5">
                                <li v-for="spmajor in resume.specialmajor">
                                    <span v-if="spmajor!=''&&spmajor.submajor!=''">{{spmajor.major}}-{{spmajor.submajor}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix">
                            <p class="fl"><label>高校认证：</label></p>
                            <ul class="fl uni-valid-upload color-gray6 fSize12 paTop5">
                                <li><span>重新上传营业执照</span><button class="color-blueL">（查看之前上传的营业执照）</button></li>
                                <li><span>重新上传办学许可证</span><button class="color-blueL">（查看之前上传的办学许可证）</button></li>
                            </ul>
                        </div>
                        <p><label>高校简介：</label>{{resume.intro}}</p>
                    </div>
                    <i class="LH-H30 W30 t-center btn-edit" @click="editSwipe"><img class="v-mid" src="images/icon-edit.png"/></i>
                </div>
            </div>
            <div class="uni-require requireBox">
                <div class="ListBox">
                    <div class="hd LH-H58 bg-white">
                        <dropdown classes="state" :options="['全部状态','校企合作','招聘会']" v-model="require.state"></dropdown>
                        <p class="fr fSize14 maR30">我发布过的需求<span class="color-orange2 maL10 maR10">{{require.items.length}}</span>个</p>
                    </div>
                    <ul class="info-items H410">
                        <li v-for="(item,index) in require.results" :name="item.classic" v-show="showResult(index,require.curpage,3)">
                            <div v-if="item.classic=='校企合作'" class="paLeft29 clearfix H128 pRel">
                                <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                                <div class="item-block-left fl paTop22 W280 maL20">
                                    <h2 class="color-blueL fSize18 LH-H30">{{item.major}}</h2>
                                    <p>{{item.IncProps}}<i class="depart">|</i>{{item.IncScale}}<i class="depart">|</i>{{item.IncArea}}</p>
                                    <p>{{item.trainWay}}</p>
                                </div>
                                <div class="item-block-right fl fSize14 LH25 maT10">
                                    <p>{{item.uniname}}</p>
                                    <p>{{item.uniLevel}}</p>
                                    <p>{{item.date}}</p>
                                </div>
                                <div class="operations color-blueL">
                                    <p><span>修改</span><span @click="delItem(item)">删除</span></p>
                                    <p><span>刷新</span><span>置顶</span></p>
                                </div>
                            </div>
                            <div v-else-if="item.classic=='招聘会'" class="paLeft29 clearfix H128 pRel">
                                <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                                <div class="item-block-left fl paTop22 W280 maL20">
                                    <h2 class="color-blueL fSize18 LH-H30">{{item.major}}</h2>
                                    <p>{{item.major}}<i class="depart">|</i>{{item.majorScale}}<i class="depart">|</i>{{item.recruitAddr}}</p>
                                    <p>招聘会时间：{{item.recruitDate}}</p>
                                </div>
                                <div class="item-block-right fl fSize14 LH25">
                                    <p>高校对企要求</p>
                                    <p>{{item.IncScale}}<i class="depart">|</i>{{item.IncProps}}<i class="depart">|</i>{{item.IncPos}}</p>
                                    <p>{{item.date}}</p>
                                </div>
                                <div class="operations color-blueL">
                                    <p><span>修改</span><span @click="delItem(item)">删除</span></p>
                                    <p><span>刷新</span><span>置顶</span></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <pagination :showpages="showpage(require.results.length)" :totalpages="pagesum(require.results.length)" type="require" @topage="topage" class="maT28 fSize14 fr"></pagination>
                </div>
            </div>
            <div class="uni-collect collectBox">
                <div class="ListBox">
                    <div class="hd LH-H58 bg-white">
                        <dropdown classes="state" :options="['全部状态','近一个星期','近一个月','近三个月']" v-model="collect.state"></dropdown>
                        <p class="fr fSize14 maR30">我发布过的需求<span class="color-orange2 maL10 maR10">{{collect.items.length}}</span>个</p>
                    </div>
                    <ul class="info-items H470">
                        <li v-for="(item,index) in collect.results" :name="item.classic" v-show="showResult(index,collect.curpage,3)">
                            <div class="paLeft29 clearfix H128 pRel">
                                <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                                <div class="item-block-left fl paTop22 W328 maL20">
                                    <h2 class="color-blueL fSize18 LH-H30">{{item.pos}}</h2>
                                    <p>{{item.major}}<i class="depart">|</i>{{item.stuScale}}<i class="depart">|</i>{{item.uniLevel}}</p>
                                    <p>{{item.uniApply}}</p>
                                    <p class="item-date">{{item.date}}</span> {{item.time}}</p>
                                </div>
                                <div class="item-block-right fl fSize14 LH25 maT10">
                                    <p>{{item.IncName}}</p>
                                    <p>{{item.IncProps}}<i class="depart">|</i>{{item.IncScale}}<i class="depart">|</i>{{item.IncArea}}</p>
                                    <p class="pubdate">{{item.publicDate}}</p>
                                    <div class="collect-btn">
                                        <button class="color-blueL">取消收藏</button>
                                        <button class="color-orange-f7">申请合作</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <pagination :showpages="showpage(collect.results.length)" :totalpages="pagesum(collect.results.length)" type="collect" @topage="topage" class="maT28 fSize14 fr"></pagination>
                </div>
            </div>
            <div class="uni-message combi-msg">
                <div class="ListBox">
                    <div class="hd LH-H58 bg-white">
                        <dropdown classes="state" :options="['全部状态','发出的邀请','收到的邀请']" v-model="message.combi.state"></dropdown>
                        <p class="fr fSize14 maR30">我收到的消息<span class="color-orange2 maL10 maR10">{{combimsg}}</span>个</p>
                    </div>
                    <ul class="info-items H470">
                        <li v-for="(item,index) in message.combi.results" :name="item.code" v-show="showResult(index,message.combi.curpage,3)">
                            <template v-if="item.code=='01'">
                              <div class="paLeft29 clearfix H128 pRel">
                                   <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                                   <div class="item-block-left fl paTop22 W328 maL20">
                                       <h2 class="color-blueL fSize18 LH-H30">{{item.pos}}</h2>
                                       <p>{{item.major}}<i class="depart">|</i>{{item.stuScale}}<i class="depart">|</i>{{item.uniLevel}}</p>
                                       <p>{{item.uniApply}}</p>
                                       <p class="item-date">{{item.date}}</span> {{item.time}}</p>
                                   </div>
                                   <div class="item-block-right fl fSize14 LH30 maT10">
                                       <p>{{item.IncName}}</p>
                                       <p>{{item.IncProps}}<i class="depart">|</i>{{item.IncScale}}<i class="depart">|</i>{{item.IncArea}}</p>
                                       <div class="message-btn LH-H35 pRel">
                                             <button class="color-orange-f7 to-contact">待沟通</button>
                                             <button class="color-blueL">同意</button>
                                             <button class="color-red">不同意</button>
                                             <div class="contact-box">
                                                  <p>企业联系人：<span>{{item.contactpep}}</span></p>
                                                  <p>联系方式：<span>{{item.contactway}}</span></p>
                                             </div>
                                       </div>
                                   </div>
                              </div>
                            </template>
                            <template v-else>
                              <div class="paLeft29 clearfix H128 pRel msg-apply">
                                   <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                                   <div class="item-block-left fl paTop22 maL20 W312">
                                       <h2 class="color-blueL fSize18 LH-H30">{{item.major}}</h2>
                                       <p>{{item.IncProps}}<i class="depart">|</i>{{item.IncScale}}<i class="depart">|</i>{{item.IncArea}}</p>
                                       <p>{{item.trainWay}}</p>
                                       <p class="item-date">{{item.date}}</span> {{item.time}}</p>
                                   </div>
                                   <div class="item-block-right fl fSize14 LH30 pRel maT10 uni-apply-message">
                                       <p class="t-right">{{item.IncName}}</p>
                                       <ul class="state-line lis-inline maT3">
                                             <li :class="{on:item.applystate=='01'}"><i class="state-icon"></i>已发出</li>
                                             <li :class="{on:item.applystate=='02'}"><i class="state-icon"></i>已查看</li>
                                             <li :class="{on:(item.applystate=='03'),'to-contact':true}"><i class="state-icon"></i>待沟通</li>
                                             <li :class="{on:item.applystate=='04'}"><i class="state-icon"></i>反馈结果</li>
                                       </ul>
                                       <div class="contact-box">
                                            <p>企业联系人：<span>{{item.contactpep}}</span></p>
                                            <p>联系方式：<span>{{item.contactway}}</span></p>
                                       </div>
                                   </div>
                              </div>
                         </template>
                        </li>
                    </ul>
                    <pagination :showpages="showpage(message.combi.results.length)" :totalpages="pagesum(message.combi.results.length)" type="msg-combi" @topage="topage" class="maT28 fSize14 fr"></pagination>
                </div>
            </div>
            <div class="uni-message recruit-msg">
                <div class="ListBox">
                    <div class="hd LH-H58 bg-white">
                        <dropdown classes="state" :options="['全部状态','发出的邀请','收到的邀请']" v-model="message.combi.state"></dropdown>
                        <p class="fr fSize14 maR30">我收到的消息<span class="color-orange2 maL10 maR10">{{message.recruit.items.length}}</span>个</p>
                    </div>
                    <ul class="info-items H470">
                        <li v-for="(item,index) in message.recruit.results" v-show="showResult(index,message.recruit.curpage,3)">
                            <div class="paLeft29 clearfix H128 pRel">
                                <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                                <div class="item-block-left fl paTop22 W328 maL20">
                                    <h2 class="color-blueL fSize18 LH-H30">{{item.major}}</h2>
                                    <p>{{item.salary}}<i class="depart">|</i>{{item.posAmount}}<i class="depart">|</i>{{item.qualific}}</p>
                                    <p>公司地址：{{item.IncAddress.city}}{{item.IncAddress.district}}</p>
                                    <p class="item-date">{{item.date}}</span> {{item.time}}</p>
                                </div>
                                <div class="item-block-right fl fSize14 LH25 maT10">
                                    <p>{{item.IncName}}</p>
                                    <p>{{item.IncProps}}<i class="depart">|</i>{{item.IncScale}}<i class="depart">|</i>{{item.IncArea}}</p>
                                    <div class="message-btn LH-H35 pRel">
                                        <button class="color-orange-f7 to-contact">待沟通</button>
                                        <button class="color-blueL">同意</button>
                                        <button class="color-red">不同意</button>
                                        <div class="contact-box">
                                            <p>企业联系人：<span>{{item.contactpep}}</span></p>
                                            <p>联系方式：<span>{{item.contactway}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <pagination :showpages="showpage(message.recruit.results.length)" :totalpages="pagesum(message.recruit.results.length)" type="msg-recruit" @topage="topage" class="maT28 fSize14 fr"></pagination>
                </div>
            </div>
            <div class="vip-center">
                 <ul class="vip-navs lis-inline LH-H37 fSize18 color-gray6 t-center">
                      <li class="on">信息刷新<i class="nav-line"></i></li>
                      <li>信息置顶<i class="nav-line"></i></li>
                      <li>信息匹配<i class="nav-line"></i></li>
                      <li>品牌推广<i class="nav-line"></i></li>
                      <li>VIP中心<i class="nav-line"></i></li>
                 </ul>
                 <div class="vip-cont vip-service clearfix on">
                      <i class="pic-wrapper fl vip-cont-disp"><img src="images/vip-pic01.jpg"/></i>
                      <div class="fl fSize14 vip-cont-text maL33">
                           <h2 class="fSize18 LH-H45"><i class="pic-wrapper maR10"><img src="images/vip-icon01.png" /></i>刷新</h2>
                           <p class="LH30 maB20">让老的信息重新往前排，同时可以突破橱窗的显示限制，让你的信息排名重新往前排。</p>
                           <h2 class="fSize18 LH-H45"><i class="pic-wrapper maR10"><img src="images/vip-icon02.png" /></i>价格</h2>
                           <p class="LH30">信息刷新校企每一个用户每一个类目有三次免费刷新机会。</p>
                           <p class="LH30">单次购买刷新<span class="color-red">1</span>元/次，可在发布的信息页面进行操作刷新。</p>
                           <p class="LH30"><span class="color-orange-f7">会员</span>购买更优惠哦，低至<span class="color-red">7</span>折每次。</p>
                      </div>
                 </div>
                 <div class="vip-cont vip-service clearfix">
                      <i class="pic-wrapper fl vip-cont-disp"><img src="images/vip-pic02.jpg"/></i>
                      <div class="fl fSize14 vip-cont-text maL33">
                           <h2 class="fSize18 LH-H45"><i class="pic-wrapper maR10"><img src="images/vip-icon01.png" /></i>置顶</h2>
                           <p class="LH30 maB20">让您的信息排在列表页最上方，比刷新信息还要靠前！更可点亮专属<span class="color-red">王冠图标</span>让信息更醒目，效果翻至3.5倍。</p>
                           <h2 class="fSize18 LH-H45"><i class="pic-wrapper maR10"><img src="images/vip-icon02.png" /></i>价格</h2>
                           <p class="LH30">单次购买置顶<span class="color-red">10</span>元/次，可在发布的信息息页面进行操作置顶。</p>
                           <p class="LH30"><span class="color-orange-f7">会员</span>购买更优惠哦，低至<span class="color-red">7</span>折每次。</p>
                      </div>
                 </div>
                 <div class="vip-cont vip-service clearfix">
                      <i class="pic-wrapper fl vip-cont-disp"><img src="images/vip-pic03.jpg"/></i>
                      <div class="fl fSize14 vip-cont-text maL33">
                           <h2 class="fSize18 LH-H45"><i class="pic-wrapper maR10"><img src="images/vip-icon03.png" /></i>信息匹配</h2>
                           <p class="LH30 maB20">根据高校详细需求，平台为你第一时间进行配对，企业需求信息匹配，无需手动搜索，一键解决需求配对。</p>
                           <h2 class="fSize18 LH-H45"><i class="pic-wrapper maR10"><img src="images/vip-icon02.png" /></i>价格</h2>
                           <p class="LH30">单次购买匹配<span class="color-red">10</span>元/条，可在会员中心进行操作购买。</p>
                           <p class="LH30"><span class="color-orange-f7">会员</span>购买更优惠哦，低至<span class="color-red">7</span>折每次。</p>
                      </div>
                 </div>
                 <div class="vip-cont vip-service clearfix">
                      <i class="pic-wrapper fl vip-cont-disp"><img src="images/vip-pic04.jpg"/></i>
                      <div class="fl fSize14 vip-cont-text maL33">
                           <h2 class="fSize18 LH-H45"><i class="pic-wrapper maR10"><img src="images/vip-icon04.png" /></i>品牌推广</h2>
                           <p class="LH30 maB20">根据高校详细需求，平台为你第一时间进行配对，企业需求信息匹配，无需手动搜索，一键解决需求配对。</p>
                           <h2 class="fSize18 LH-H45"><i class="pic-wrapper maR10"><img src="images/vip-icon02.png" /></i>价格</h2>
                           <p class="LH30">单次购买推广展位<span class="color-red">500</span>元/月，会员特权购买当中，会在每一个类目中展示。</p>
                           <p class="LH30"><span class="color-orange-f7">会员</span>购买更优惠哦，低至<span class="color-red">7</span>折每次。</p>
                      </div>
                 </div>
                 <div class="vip-cont vip-recharge">
                    <p class="LH-H54"><span class="color-orange-f7">VIP</span>会员享受<span style="color:#d19100">信息刷新</span>优先展示，刷新置顶低至<span class="color-red">7</span>折，是各位小伙伴的首选，目前已有10W+伙伴享受VIP特权服务。</p>
                    <p class="LH-H60 bg-gray-f7 paLeft20">VIP等级：<span class="color-orange-f7 fSize18 maR80">地主</span>账户余额：<b class="color-red"><span class="fSize18">0</span>.00</b>元<button class="recharge-btn">会员充值</button></p>
                    <div class="bg-gray-f7 maT2">
                         <h3 class="LH-H42 maL20 fSize16 vip-record-head">使用记录</h3>
                         <ul class="vip-records">
                              <li v-for="record in vip.records"><span class="W182">{{record.date}}</span><span class="W212">{{record.action}}</span><span class="W216"><b class="fSize14">{{priceCal1(record.price)}}</b>{{priceCal2(record.price)}}元</span><span class="">{{record.state}}</span></li>
                         </ul>
                         <p class="LH-H36 t-right maR40"><button class="more-records">查看更多使用记录</button></p>
                    </div>
                    <div class="maB38">
                         <h3 class="LH-H50 fSize16 paLeft16">会员权限说明</h3>
                         <ul class="tarif-info">
                              <li v-for="item in vip.tarif" class="clearfix">
                                   <div class="fl W160 t-center">
                                        <i class="pic-wrapper maT32"><img :src="item.icon"/></i>
                                        <p class="LH52">{{item.level}}</p>
                                   </div>
                                   <div class="fl LH30 fSize12 paLeft12">
                                        <p>1.信息置顶（每周{{item.prior}}次）</p>
                                        <p>2.刷新（每天{{item.refresh}}次）</p>
                                        <p>3.广告投放（一个版面展示，每次5分钟，会员内每天展示）</p>
                                        <p>4.高校匹配信息优先（每月{{item.mapping}}条）</p>
                                   </div>
                                   <div class="fr paTop5 t-center W185 tarif-buy">
                                        <p class="LH56 fSize14">收费：{{item.price}}/月</p>
                                        <button type="button" class="tarif-btn">购买</button>
                                   </div>
                              </li>
                         </ul>
                    </div>
                 </div>
            </div>
            <div class="uni-coop">
                <div class="ListBox">
                    <div class="hd LH-H58 bg-white">
                        <dropdown classes="state" :options="['全部状态','合作进行中','合作已完成','合作待开始']" v-model="coop.state"></dropdown>
                        <p class="fr fSize14 maR30">我合作的企业<span class="color-orange2 maL10 maR10">{{coop.items.length}}</span>个</p>
                    </div>
                    <ul class="info-items H470">
                        <li v-for="(item,index) in coop.results" :name="item.classic" v-show="showResult(index,coop.curpage,3)">
                            <div class="paLeft29 clearfix H128 pRel">
                                <div class="W90 H80 logo-pic bg-brown disInline v-mid fl maT24"></div>
                                <div class="item-block-left fl paTop22 W390 maL20">
                                    <h2 class="color-blueL fSize18 LH-H30">{{item.IncName}}</h2>
                                    <p>{{item.IncProps}}<i class="depart">|</i>{{item.IncScale}}<i class="depart">|</i>{{item.IncArea}}</p>
                                    <p>{{item.trainWay}}</p>
                                    <p class="item-date">{{item.date}}</span> {{item.time}}</p>
                                </div>
                                <div class="item-block-right fl fSize14 LH28 maT10">
                                    <p :style="coopStyle(item.coopState)">{{coopSt(item.coopState)}}</p>
                                    <p>{{item.major}}</p>
                                    <button class="more-info">了解更多<i>>></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <pagination :showpages="showpage(coop.results.length)" :totalpages="pagesum(coop.results.length)" type="coop" @topage="topage" class="maT28 fSize14 fr"></pagination>
                </div>
            </div>
            <div class="conf-keyword ListBox">
               <h2 class="paTop14 LH-H52 fSize24 paLeft40">修改密码</h2>
               <form class="paLeft40 fSize18 LH40">
                    <div><label>登陆账号</label><span>1234567890</span></div>
                    <div><label>当前密码</label><input type="password"/></div>
                    <div><label>新密码</label><input type="password"/></div>
                    <div><label>确认密码</label><input type="password"/></div>
                    <div><label>验证码</label><input type="password"/><i class="varify-code W100 LH-H40 bg-pinkL maL10 t-center">验证码</i></div>
                    <div class="t-center paTop20 "><button class="LH-H40 W100 bg-orange2 fSize18 color-white maB40">保存</button></div>
               </form>
            </div>
            <div class="conf-account paLeft40 paRight40">
               <h2 class="fSize24 LH-H63 maT9">绑定账号</h2>
               <div class="safeLevel maB12 H80 bg-gray-f7 pRel">
                    <h3 class="paLeft40 fSize18 LH-H40"><i class="pic-wrapper W20 LH-H40 maR10"><img src="images/icon-safe.png"/></i>安全等级</h3>
                    <div class="LH-H30 paLeft80 fSize14"><span class="maR12 color-red2">危险</span><div class="safe-range pRel"><p></p><div class="r-pointer LH26 H40 t-center W46 color-white">80%</div></div><span class="maL12 color-green">安全</span></div>
                    <i class="pic-wrapper trigle-up"><img src="images/trigle-up02.jpg"/></i>
               </div>
               <p class="fSize14 LH-H35">登录账号：123456789</p>
               <p class="fSize14 LH-H35 maB22">绑定后，你可以同时使用以下方式登录</p>
               <ul class="bind-acc fSize18">
                    <li><img src="images/icon-phone.png"/>已绑定手机号 12345678900<button class="maL20 chg-phone">更换手机号</button></li>
                    <li><img src="images/icon-email.png"/><button>绑定邮箱</button></li>
                    <li><img src="images/icon-weixin.png"/><button class="wechatBind">绑定微信账号</button></li>
               </ul>
            </div>
        </div>


    </div>
<div class="modal" id="app-modal" v-show="showModal" @click="hidemodal">
     <div class="phone-change W500 disNo" >
         <h2 class="LH-H60 fSize24 color-white paLeft30 bg-blueM">更换手机号<i class="pic-wrapper LH-H40 W40 fr maR10 close maT13"><img src="images/icon-close.png"/></i></h2>
         <div class="bg-white paTop8 paBot60">
            <h3 class="LH-H83 fSize18 t-center">请输入新的手机号，完成手机号绑定</h3>
            <p><input type="text" placeholder="完成手机号" class="W290"></p>
            <p><input type="text" placeholder="请输入短信认证码" class="W194"><button class="W96 H44 bg-blueM fSize14">获取验证码</button></p>
            <p><input type="text" placeholder="确认登入密码" class="W290"></p>
            <div class="btn-submit t-center paTop20"><button class="bg-blueM">完成绑定</button><button class="bg-orange2 maL40">返回</button></div>
         </div>
     </div>
     <div class="wechat-bind W500 disNo">
         <h2 class="LH-H60 fSize24 color-white t-center bg-blueM">微信登录<i class="pic-wrapper LH-H40 W40 close"><img src="images/icon-close.png"/></i></h2>
         <div class="bg-white paTop14 t-center paBot53">
            <i class="barCode pic-wrapper W284 LH-H284 bg-grayC maB22"></i>
            <p class="LH-H40 W220 t-center bg-orange2 color-white maCenter" style="border-radius: 20px;">请使用微信扫一扫二维码登录</p>
         </div>
     </div>
     <div class="msg-box  W888 maCenter disNo">
         <h3 class="bg-orange4 LH-H86 fSize30 color-white t-center"><i class="pic-wrapper fl maL30 back show02 disNo msg-back"><img src="images/icon-return.png"/> </i><i class="pic-wrapper maR21 show01"><img src="images/icon-email4.png"/></i><span class="msg-head">消息提醒</span> <i class="close pic-wrapper fr maR10 LH-H86 W40"><img src="images/icon-close.png"/></i></h3>
         <div class="msg-lis show01">
            <ul class="msg-body ">
                 <li class="msg-date">今天</li>
                 <li><span>消息名称</span><span>消息内容</span><span>时间</span><span>删除</span></li>
                 <li><span>消息名称</span><span>消息内容</span><span>时间</span><span>删除</span></li>
                 <li><span>消息名称</span><span>消息内容</span><span>时间</span><span>删除</span></li>
                 <li><span>消息名称</span><span>消息内容</span><span>时间</span><span>删除</span></li>
                 <li class="msg-date">2016-6-1</li>
                 <li><span>消息名称</span><span>消息内容</span><span>时间</span><span>删除</span></li>
                 <li><span>消息名称</span><span>消息内容</span><span>时间</span><span>删除</span></li>
            </ul>
            <div class="msg-bot LH-H70 fSize14 bg-white t-center">
                 <ul class="page-bot lis-inline fSize14">
                     <li class="side-page first-page">首页</li>
                     <li class="prev side-page">上一页</li>
                     <li class="page-index">1</li>
                     <li class="page-index">2</li>
                     <li class="page-index">3</li>
                     <li class="next side-page">下一页</li>
                     <li class="side-page last-page">尾页</li>
                 </ul>
                 <span class="fr maR40">全部清空</span>
            </div>
         </div>
         <div class="msg-detail fSize14 disNo show02">
            <p class="H266 bg-white paTop25 LH25">校企2.0上线啦上线啦上线啦</p>
            <p class="bg-gray-e0 LH-H50 t-center"><span class="date">2016-12-17</span><span class="time">12:12</span></p>
         </div>


     </div>
</div>
    <div class="bot paTop8 t-center bot-account">
        <div class="inner clearfix">
            <div class="fl">
                <ul class="lis-inline bot-nav color-gray79 LH-H34 fSize12">
                    <li><a href="footer-page.html?descript">关于校企</a>-</li>
                    <li><a href="footer-page.html?coop">网站合作</a>-</li>
                    <li><a href="footer-page.html?help">帮助中心</a>-</li>
                    <li><a href="footer-page.html?employ">招贤纳士</a>-</li>
                    <li><a href="footer-page.html">友情链接</a>-</li>
                    <li><a href="footer-page.html">教育网</a></li>
                </ul>
                <ul class="lis-inline fSize12">
                    <li class="maR100"><i class="pic-wrapper maR15"><img src="images/icon-phone2.png"/></i>电话：152 6706 8921</li>
                    <li class="maR100"><i class="pic-wrapper maR15"><img src="images/icon-gps.png"/></i>杭州市滨江区六合路368号海创基地北三楼B3077</li>
                    <li><i class="pic-wrapper maR15"><img src="images/icon-email2.png"/></i>邮箱：xiaoqiztc@yeah.net</li>
                </ul>
                <p class="fSize14 t-center LH-H40 color-gray79">©2016 XxiaoQi 京ICP备456123789号-2 京公网安备12465789123号</p>
            </div>
            <div class="fr">
                <p class="fSize14 W15 barcode-text">关注我们</p>
                <div class="pic-wrapper maL16">
                    <img src="images/barcode.png" />
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/components/pagination.js"></script>
    <script src="js/components.js"></script>
    <script src="js/uniCenter.js"></script>
</body>

</html>
