<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建名片</title>
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/vCards.css" rel="stylesheet" />
</head>
<body>
<div class="top bg-gray3 H100 color-white" id="app-top">
    <div class="inner">
        <a href="index.html"><img src="images/logo.png" class="fl maR21 maT20"/></a>
        <h2 class="fl LH-H80 fSize30 maT17">校企职通车</h2>
        <h3 id="sel-add" class="city fl LH-H80 fSize18 maT16 maL60"><b>{{displayCity}}</b></h3>
    </div>
</div>
<div class="container paTop30" id="app-content">
    <div class="main inner">
        <div class="H500 bg-white clearfix">
             <form class="personCard maL70 card W510 fl" v-show="showPerson">
            <h2 class="LH-H104 fSize30 color-gray3 maB5">创建个人名片</h2>
                <input type="text" class="info01" placeholder="姓名" v-model="pInfo.name"/>
                <dropdown classes="sel-birthyear birthday" placeholder="出生年" :options="database.date.year" v-model="pInfo.birth.year"></dropdown>
                <i class="bind"></i>
                <dropdown classes="sel-birthmonth birthday" placeholder="出生月" v-bind:options="database.date.month" v-model="pInfo.birth.month"></dropdown>
          <div class="fSize0">
               <dropdown classes="career" placeholder="工作状态" :options="database.workstates" v-model="pInfo.workstate"></dropdown>
               <p class="gender maL10"><span class="on" @click="selectGender($event.target)">男</span><span @click="selectGender($event.target)">女</span></p>
          </div>
            <div class="address">
                <addr-select :addrdata="database.addrData" class="sel-addr disInline"></addr-select>
            </div>
            <input type="text" class="W288 maT30" placeholder="请输入常用邮箱" v-model="pInfo.email"/>
            <button type="button" class="LH-H40 W140 maT40 bg-orange2 save fSize18 color-white" @click.prevent="submitCard('person')">保存名片</button>
        </form>
             <form class="uniCard maL70 card W510 fl" v-show="showUni">
            <h2 class="LH-H104 fSize36 color-gray3 maB5">创建高校名片</h2>
            <input type="text" class="W262 fl uni-input" placeholder="学校名称" v-model="uniInfo.name"/>
            <dropdown class="select-short" placeholder="学校性质" :options="database.uniLevel" v-model="uniInfo.props"></dropdown>
            <div class="address">
                <addr-select :addrdata="database.addrData" class="sel-addr disInline"></addr-select>
            </div>
            <input type="text" class="W188" placeholder="学校联系人" v-model="uniInfo.linkMan"/><input type="text" class="W188 paLeft20" placeholder="联系人手机号" v-model="uniInfo.mobile"/>
            <input class="w188" type="text" placeholder="请输入验证码" style="margin-bottom: 0" v-model="uniInfo.validCode"><button type="button" class="W120 LH-H40 fSize14 color-white" :disabled="uniInfo.unable" @click="codequery(uniInfo.mobile,$event.target)">获取验证码</button>
            <button type="button" class="LH-H40 W140 maT40 bg-orange2 save fSize18 color-white" @click.prevent="submitCard('uni')">保存名片</button>
        </form>
             <form class="bsCard maL70 card W510 fl" v-show="showInc">
            <h2 class="LH-H104 fSize36 color-gray3 maB5">创建企业名片</h2>
            <div class="fSize0">
                 <input type="text" class="W206" placeholder="企业名称" v-model="incInfo.name"/>
                 <dropdown class="select-short" placeholder="公司性质" :options="database.incProps" v-model="incInfo.props"></dropdown>
                 <dropdown class="select-short" placeholder="公司规模" :options="database.incScales" v-model="incInfo.scale"></dropdown>
            </div>
            <div class="address">
                 <addr-select :addrdata="database.addrData" class="sel-addr disInline"></addr-select>
            </div>
            <input type="text" class="W188" placeholder="企业联系人" v-model="incInfo.linkMan"/><input type="text" class="W188 paLeft20" placeholder="联系人手机号" v-model="incInfo.mobile"/>
            <input class="w188" type="text" placeholder="请输入验证码" style="margin-bottom: 0" v-model="incInfo.validCode"/><button type="button" class="W120 LH-H40 fSize14 color-white" :disabled="incInfo.unable" @click="codequery(incInfo.mobile,$event.target)">获取验证码</button>
            <button class="LH-H40 W140 maT40 bg-orange2 save fSize18 color-white" @click.prevent="submitCard('inc')">保存名片</button>
        </form>
             <img src="images/cardtxt.png" class="fl maL52 maT148"/>
        </div>
    </div>
    <div class="bot paTop6 t-center bg-black7 H110">
        <div class="inner pRel">
            <div class=" W920 color-white fSize12">
                <ul class="lis-inline bot-nav LH-H34">
                    <li><a href="footer-page.html?descript">关于校企</a>-</li>
                    <li><a href="footer-page.html?coop">网站合作</a>-</li>
                    <li><a href="footer-page.html?help">帮助中心</a>-</li>
                    <li><a href="footer-page.html?employ">招贤纳士</a>-</li>
                    <li><a href="footer-page.html">友情链接</a>-</li>
                    <li><a href="footer-page.html">教育网</a></li>
                </ul>
                <ul class="lis-inline bot-infos">
                     <li class="maR100"><i class="pic-icon icon-phone"></i>电话：152 6706 8921</li>
                     <li class="maR100"><i class="pic-icon icon-address"></i>杭州市滨江区六合路368号海创基地北三楼B3077</li>
                     <li><i class="pic-icon icon-email"></i>邮箱：xiaoqiztc@yeah.net</li>
                </ul>
                <p class="fSize12 t-center LH-H40 color-gray79">©2016 XxiaoQi 京ICP备456123789号-2 京公网安备12465789123号</p>
            </div>
            <div class="pic-wrapper pic-barcode">
                <img src="images/barcode.png"/>
            </div>
        </div>
    </div>
</div>
<script src="js/libs/jquery-3.1.0.min.js"></script>
<script src="js/libs/vue.js"></script>
<script src="js/common/common.js"></script>
<script src="js/components/dropdown.js"></script>
<script src="data/commondata.js"></script>
<script src="data/address.js"></script>
<script src="data/date.js"></script>
<script src="js/pages/vCards.js"></script>
</body>
</html>
